[2014-08-08 05:47] jihoonl opened #337 "removing ar_track_alvar from rosinstall file."
It has been released in indigo.

https://github.com/yujinrobot/kobuki/blob/indigo/kobuki.rosinstall

[2014-08-08 05:48] jihoonl commented on #337
https://github.com/yujinrobot/kobuki/commit/148a27f5b7e9cc467f9b3b5b51f5956b8ca47b79

[2014-08-08 05:48] #337 closed, assigned to nobody

[2014-08-08 06:28] jihoonl opened #338 "Add queue_size for publishers."
for indigo

[2014-08-08 06:30] jihoonl commented on #329
Kobuki desktop cannot be released until we fix https://github.com/yujinrobot/kobuki_desktop/issues/33.

rqt_plot api has been changed and qtestsuite does not work now..

[2014-08-08 08:57] jihoonl commented on #338
https://github.com/yujinrobot/kobuki/commit/f0e021c38f366bedf1aaa07333e5ea0ae09a6bb6

[2014-08-08 08:57] #338 closed, assigned to nobody

[2014-08-11 04:45] jihoonl commented on #338
https://github.com/yujinrobot/kobuki/commit/52aca4c7a167f3478ebf7f90c10af4658ff5819c

[2014-08-11 05:11] jihoonl opened #339 "[kobuki_node] robot_with_tf.launch referencing wrong file"
It should not depend on turtlebot_bringup

https://github.com/yujinrobot/kobuki/blob/indigo/kobuki_node/launch/robot_with_tf.launch#L18

[2014-08-11 05:11] #339 closed, assigned to nobody

[2014-08-11 05:20] jihoonl commented on #312
@bit-pirate is this done?

[2014-08-11 05:33] jihoonl opened #341 "sync indigo and hydro-devel branches"
- [x] kobuki_msgs
- [x] kobuki
- [x] kobuki_core
- [x] kobuki_soft
- [x] kobuki_desktop

[2014-08-11 07:33] jihoonl commented on #329
All repos are now in rosdistro.

[2014-08-11 07:33] #329 closed, assigned to nobody

[2014-08-11 08:32] bit-pirate opened #342 "Update kobuki_apps to use relative resource paths"
Follow-up of the recent upgrade.

[2014-08-11 17:50] KaijenHsiao commented on #332
We actually use them in the no-clearing mode, and it works fine for us--with clearing + safety controller, it is often the case that the robot ends up bumping and bumping rather than re-planning to go around an obstacle.  However, I can see that someone might want it the other way.  I actually like having it in the Voxel layer as opposed to being Range messages, although I suppose it would be nice

[2014-08-11 17:50] #332 closed, assigned to nobody

[2014-08-12 01:12] bit-pirate commented on #312
Yes, this is done.

Starting with commit https://github.com/yujinrobot/kobuki/commit/82c1f3663e191026fef9cd53903b569f5667ba83 capabilities have incrementally been added, updated and extended. This will be work in progress until capabilities stabilise.

[2014-08-12 01:12] #312 closed, assigned to bit-pirate

[2014-08-12 01:13] bit-pirate commented on #329
Awesome! :yum:

[2014-08-12 04:20] jihoonl commented on #342
Duplicated issue. Closing.
https://github.com/yujinrobot/kobuki/issues/335

[2014-08-12 04:20] #342 closed, assigned to nobody

[2014-08-12 08:15] jihoonl commented on #335
Done.

[2014-08-12 08:15] #335 closed, assigned to jihoonl

[2014-08-14 07:47] #336 closed, assigned to nobody

[2014-08-14 07:47] jihoonl commented on #341
Done.

[2014-08-14 07:47] #341 closed, assigned to nobody

[2014-08-21 11:07] robotpilot opened #347 "Warning message for not matching the topic type"
Development environment : Ubuntu 14.04 / ROS Indigo
I run a launch file and a node below to test the kobuki.
1. roslaunch kobuki_node minimal.launch --screen
2. rosrun kobuki_testsuite test_external_power.py

Then, I can test the external power function, but I see the warning message below. It is no problem to test. I just report the tiny wrong situation.

[WARN] [WallTime: 1408618292.742709] Coul

[2014-08-22 20:38] bradleypowers opened #348 "Compilation Error: yocs_msgs/NavigateToActionResult.h: No Such File or Directory"
I have a compilation error when building the kobuki package:

[ 86%] Building CXX object kobuki/kobuki_auto_docking/CMakeFiles/kobuki_auto_docking_ros.dir/src/auto_docking_ros.cpp.o
[ 87%] Generating C++ code from yocs_msgs/NavigateToActionFeedback.msg
[ 87%] Generating C++ code from yocs_msgs/Waypoint.msg
[ 87%] Built target yocs_waypoints_navi_node
[ 88%] Generating C++ code from yocs_msgs/Navig

[2014-08-23 00:44] bit-pirate commented on #348
Please provide more information about your set up. For example, which ROS version are you on?

With regards to your error, are you using the `indigo-devel` branch of yocs_msgs? It has been out of sync with indigo (which was more recent), but was sync 3 days ago. Verify, that you have the latest commits.

[2014-08-25 00:56] jihoonl commented on #348
Seems like yocs_navigator is missing yocs_msgs_gencpp dependency. Will patch soon.

[2014-08-25 01:05] jihoonl commented on #348
https://github.com/yujinrobot/yujin_ocs/commit/17560e98ef751714a352a5cee403fd3eb53c9fdb This should have resolved your problem.

[2014-08-25 01:05] #348 closed, assigned to nobody

[2014-08-25 01:06] jihoonl commented on #348
The same patch applied on `indigo-devel` as well https://github.com/yujinrobot/yujin_ocs/commit/17560e98ef751714a352a5cee403fd3eb53c9fdb

[2014-08-25 01:15] jihoonl commented on #347
Wow.. seems like the script was unsynced from the start. :scream_cat:
It is not tiny wrong situation.  Thanks for picking this up. @robotpilot. I will patch this later.

[2014-08-25 01:37] bradleypowers commented on #348
Excellent, I will check it out in the morning (UTC -4) and let you know how it goes.

[2014-08-25 20:50] tfoote opened #349 "kobuki_testsuite failing to build due to invalid dependency kobiki_apps via kobuki_node"
It was recently moved to be kobuki_rapps

Invalid line: https://github.com/yujinrobot/kobuki/blob/indigo/kobuki_node/package.xml#L64

Renaming: https://github.com/yujinrobot/kobuki/commit/e2c9657964d8a671fafe88c2a51e46713ead8e3b

A check for similar issues would be a good idea.

Failing job: http://jenkins.ros.org/view/IbinS64/job/ros-indigo-kobuki-testsuite_binarydeb_saucy_amd64/4/console

[2014-08-26 00:29] jihoonl commented on #349
https://github.com/yujinrobot/kobuki/commit/5fe2e798c41a7e14c5ce44bfeae1d9884b08d0e3 This should have resolved the problem.

I have checked all kobuki, rocon, and turtlebot packages. Thanks.

[2014-08-26 00:29] #349 closed, assigned to nobody

[2014-08-26 05:52] jihoonl opened #350 "kobuki diagnostics parameter was out dated"
I found that kobuki battery is not presented on kobuki_dashboard when kobuki is started with

The problem was [diagnostics.yaml](https://github.com/yujinrobot/kobuki/blob/indigo/kobuki_node/param/diagnostics.yaml) in `kobuki_node` uses prefix as `kobuki` whereas [diagnostics.yaml](https://github.com/turtlebot/turtlebot/blob/indigo/turtlebot_bringup/param/kobuki/diagnostics.yaml) in turtlebot_bring

[2014-08-26 05:54] #350 closed, assigned to nobody

[2014-09-02 13:05] koenlek commented on #328
I found out that it does seem to generate some noise. As on mapping a very large map with GMapping + Gazebo, with the settings as in my first pose, after a large loop, walls do not perfectly align. I guess this means that odometry is just modelled to be very accurate (I heard odometry by the Kobuki base is very accurate in reality), and a bit of noise is generated by libgazebo_ros_kobuki.so (part

[2014-11-17 01:45] stonier commented on #328
I wonder if that noise is being contributed by the 3d sensor plugin.

[2014-12-30 18:19] robograffitti opened #351 "Is /odom filtered?"
Hi, I would like to know whether /odom is an already filtered value or not.

Here, they said /odom is published but not sure because it is published from the nodelet.
http://answers.ros.org/question/41135/turtlebot-robot_pose_ekfodom-or-odom/

Sorry for not understanding from the source codes.
Let me double-check, please.

[2014-12-31 04:47] mirzashah commented on #351
This is probably more appropriate for ros answers than an issue, but I'll bite.

You can see in the kobuki code that the position comes from wheel odometry and the yaw is taken directly from the built in IMU. This can be turned off to give pure raw wheel odometry by setting the 'use_imu' parameter to false.

This is where odometry is populated and published:
https://github.com/yujinrobot/kobuki/bl

[2014-12-31 07:24] bit-pirate commented on #351
:+1:

ROS Answers would have been a good place for thi. @mirzashah 's answer would have gotten my upvote. :smile:

Considering this done. @yoshimalucky and @mirzashah could you move both the question and answer to ROS Answers (and link to here)?

[2014-12-31 07:24] #351 closed, assigned to nobody

[2014-12-31 08:56] robograffitti commented on #351
@mirzashah Thank you so much! That's exactly what I want to do. Also the last sentence is very helpful for expected struggle on my future way.
@bit-pirate Sorry for posting a question on inappropriate place. I was not sure which rosanswers or github. Let me move onto rosanswers.

[2014-12-31 10:31] mirzashah commented on #351
@yoshimalucky no problem -- let me also add that the wheel encoders + gyro on the kobuki produce very good odometry on surfaces with good traction...you may not need to smooth the odometry further for your application

[2015-02-09 15:01] ElizavetaElagina opened #353 "Scan_angle issue in gyro_perf.py"
Hello!
On launching gyro_perf.py I get the following error: 'Tester' object has no attribute scan_angle. What do I do with it?

Best regards,
Elizaveta

[2015-02-16 20:02] slivingston commented on #353
The error appears to be due to a race condition between `timerCallback()` (registered on [line 69](https://github.com/yujinrobot/kobuki/blob/0.6.5/kobuki_testsuite/scripts/gyro_perf.py#L69)) and `angleCallback()` (registered on [line 60](https://github.com/yujinrobot/kobuki/blob/0.6.5/kobuki_testsuite/scripts/gyro_perf.py#L60)).

[2015-02-16 20:32] slivingston commented on #353
There are a variety of ways to fix this. I am not sure what is preferred upstream, but you could try

[code]

[2015-02-16 20:40] slivingston commented on #317
@stonier, should this issue be closed now that yujinrobot/kobuki_msgs#6 and #340 (of this repository) are merged?

Relatedly, [line 22 of gyro_perf.py](https://github.com/yujinrobot/kobuki/blob/0.6.5/kobuki_testsuite/scripts/gyro_perf.py#L22) should now be

[code]

[2015-02-16 23:39] slivingston commented on #353
@ElizavetaElagina, if you are interested in studying drift on the Kobuki in general rather than using gyro_perf.py in particular, then you should consider `drift_estimation` in the `kobuki_testsuite` Python package (under `kobuki_testsuite/src/kobuki_testsuite/` in this repository). A GUI front-end is available in [kobuki_qtestsuite](http://wiki.ros.org/kobuki_qtestsuite).

[2015-02-17 05:07] jihoonl commented on #353
@ElizavetaElagina

I have patched the script as @slivingston suggested. Let me know if you still see a problem.

@slivingston Thanks for patch!

[2015-02-17 05:07] #353 closed, assigned to nobody

[2015-02-17 05:12] jihoonl commented on #317
7843e2f8894526e499ce5fb840326665ea23989f replaced  line 22 of gyro_perf.py.

[2015-02-17 05:12] #317 closed, assigned to nobody

[2015-02-23 10:47] ElizavetaElagina commented on #353
@jihoonl @slivingston Thank you very much! It works fine now.

[2015-04-17 11:11] ferherranz opened #354 "Auto_docking and move_base_nodelet_manager fail when the dock station isn't found"
Development environment : Ubuntu 14.04 / ROS Indigo
I start the auto_docking node when the dock_station isn't visible from the kobuki's position
1. roslaunch kobuki_node minimal.launch --screen
2. roslaunch kobuki_auto_docking minimal.launch --screen
3. roslaunch kobuki_auto_docking activate.launch --screen

Then, the move_base_nodelet_manager crashes and shows the following message:

[mobile_base

[2015-04-27 11:38] wjm0621 opened #355 "can i set acceleration on kobuki motors?"
거북이 모터에 선속도가 아닌 가속도를 설정할 수 있나요??

[2015-04-29 01:00] jihoonl commented on #355
Kobuki Driver  only receives Twist message which does not control acceleration. So you might need to develop custom driver.

[2015-05-07 09:14] bit-pirate commented on #355
The firmware does not support acceleration control. So a custom driver wouldn't help.

[2015-05-07 09:14] #355 closed, assigned to nobody

[2015-05-27 01:50] jihoonl opened #357 "install kobuki_node/image directory"

[2015-05-27 01:50] #357 closed, assigned to nobody

[2015-06-02 14:06] jvgomez opened #358 "Question: maximum velocity of Kobuki"
Hi, I see in the [Kobuki specifications](http://kobuki.yujinrobot.com/home-en/about/specifications/) that the maximum linear speed is 0.7 m/s. During teleoperation, the maximum seems to be 1.5 m/s. However, when giving velocity commands from a node the maximum it can reach is 0.5 m/s. Where is this configured and what is the real maximum velocity of the platform?

Thanks!

[2015-06-03 00:43] stonier commented on #358
Are you using a kobuki based turtlebot when giving velocity commands or just a `kobuki_node` running on top?

I don't think the basic kobuki launchers generate any limitations, but kobuki `safe_keyop.launch` and the default `turtlebot_bringup` launchers attach a velocity smoother to incoming velocity commands. These have parameters for velocity and acceleration bounds. This is probably what's doin

[2015-06-03 16:08] jvgomez commented on #358
I'm using the `kobuki_node`. When I launch `roslaunch kobuki_keyop keyop.launch` I can clearly see what the limits are, as they are in a yaml file.  However, when I publish `cmd_vel` commands it does not get over 0.5 m/s in simulation (I haven't tested in the real robot yet). I am investigating further, but what I am 99% sure is that it is not the `keyop_smoother.yaml`. I will post further informa

[2015-06-04 01:03] bit-pirate commented on #358
@jvgomez what simulation are you using? Gazebo?

[2015-06-04 06:35] jvgomez commented on #358
@bit-pirate Yes, I am using Gazebo.

[2015-06-05 09:16] jvgomez commented on #358
For some reason I am now able to give a maximum velocity of 0.7 m/s in the real robot, while velocity in simulation is not limited (or given as parameters). So I close this issue as the question is solved. Thank you!

[2015-06-05 09:16] #358 closed, assigned to nobody

[2015-06-05 12:04] bit-pirate commented on #358
Would still be interesting, where the simulation is actually limiting the velocity.

[2015-06-05 12:07] jvgomez commented on #358
It should be because of my code, because if I give a manual velocity reference the robot is able to follow it.

[2015-08-19 22:24] quattrinili opened #359 ""gyro_link" in the imu_data header should not be hard coded but should be resolved with tf_prefix"
In slot_callbacks.cpp of kobuki_node at line 126 and at line 167 the frame of the gyro shouldn't be hard coded (i.e., msg->header.frame_id = "gyro_link";) but it should be resolved with the tf_prefix, otherwise it is not possible to seamlessly use the imu_data with robot_pose_ekf in case there are multiple robots with different tf_prefixes.

[2015-08-20 01:58] bit-pirate commented on #359
Next time please with link: https://github.com/yujinrobot/kobuki/blob/indigo/kobuki_node/src/library/slot_callbacks.cpp#L126

Makes it easier to check it out. :-)

Working on this would probably mean a bigger change, e.g.
- where to get the robot's namespace from?
- tf_prefix is being deprecated with TF2 (http://wiki.ros.org/tf2/Migration#Removal_of_support_for_tf_prefix). What would be the proper

[2015-09-23 22:59] quattrinili commented on #359
Sorry for my late reply, but I had a deadline and so I was very busy.
Below, my answers to some of your points.

On Wed, Aug 19, 2015 at 9:58 PM, Marcus Liebhardt notifications@github.com
wrote:

Yeah, thanks, next time I will point directly to the link :-)

[2015-10-12 12:11] henoSH commented on #354
Halllo i have the same problem. Did you find a solution?

[2015-10-26 07:30] ferherranz commented on #354
I couldn't work on it, sorry

[2015-10-27 09:08] henoSH commented on #354
thank your for your mail. but i want to ask did you do some own project
using Turtlebot?

2015-10-26 8:30 GMT+01:00 Fernando notifications@github.com:

##

Cordialement,
Hanene Sayadi
Ingénieur en Informatique
Mob: (+216) 26 864 230

[2015-12-12 14:53] magehrig commented on #354
I can confirm this issue on  Ubuntu 14.04 / ROS Indigo. I have not found any solution.

[2015-12-14 09:33] henoSH commented on #354
Problem solved verify if the IR receiver in the middle has data or no.

[2016-01-19 07:47] bill0 opened #361 "网站没了"

[2016-01-19 09:50] bit-pirate commented on #361
Please translate. :smile:

[2016-01-21 03:41] bill0 commented on #361
the web can`t open!(^_^),sorry, i would have thought yujin is a chinese cc.

[2016-01-21 03:42] bill0 commented on #361
http://kobuki.yujinrobot.com/

[2016-01-21 03:44] bill0 commented on #361
oh,sorry,now i know i should go out the greet world fire! thx!

[2016-01-21 06:33] bit-pirate commented on #361
Looks like you solved the issue. :smile:

Otherwise feel free to re-open it or send us an email.

[2016-01-21 06:33] #361 closed, assigned to nobody

[2016-01-25 14:56] DaikiMaekawa opened #362 "Jade release"
Hi Kobuki Developers,
Do you have any plans for releasing to Jade? If so, when are you going to do that?

[2016-02-09 09:33] DaikiMaekawa commented on #362
FYI: I got the answer from https://github.com/yujinrobot/kobuki_desktop/pull/42.

[2016-02-09 09:33] #362 closed, assigned to nobody

[2016-05-09 16:57] tinokl commented on #354
Got the same problem and fixed it by modifing:
Inside the dock_drive.cpp of kobuki core pkgs (https://github.com/yujinrobot/kobuki_core)

Line 121:   std::string debug_str;
to
Line 121:   std::string debug_str = "";

hope this helps

[2016-05-10 00:51] stonier commented on #354
As far as I know, the default `ctor` of a string creates an empty string which should have exactly the same effect as creating it with `""` ([cplusplus strings](http://www.cplusplus.com/reference/string/string/string/)). Using the default ctor instead of explicitly assigning it _is_ the preferred way.

So I suspect something deeper is going wrong. Memory problems?

[2016-05-17 15:57] tinokl commented on #354
true story... what i did, was removing the nodelet manager stuff which made debugging a little confusing and started the docking in an extra node.

Here i used valgrind (to check memory problems) and the debug string was one failure, then it looked quite fine but...
the funny fact is, the node keeps restarting with no error or what so ever and then the goal has to be resend.

When doing so, everyt

[2016-05-19 12:15] tinokl commented on #354
so here is what i did and what i found :)
again i tried a little with valgrind and so forth and got message filter errors and after removing the filter i got the real problem...

Everything is inside kobuki_core/kobuki_dock_drive/src/dock_drive.cpp.

the variable "new_state" was wrongly set. thus i get an error on picking the robot state string here:
"state_str = ROBOT_STATE_STR[new_state];" at ro

[2016-06-21 00:41] RedstoneGithub opened #365 "Missing dependencies"
I got an error while trying to catkin_make the Kobuki workspace within Turtlebot. The error was:

[code]

Edit: I got the errors while trying to `catkin_make`

[2016-07-22 11:23] aysegulucar2016 opened #366 "pinouts on Kobuki"
Hi,

How I measure voltage values of pins on Kobuki.
For example what is the voltage values of D01 and D00? I did not measure them.

Could you please say which pins I use and which button I use?

I tried BO but ıt does not provide any voltage from the digital outputs?

[2016-07-25 02:23] bit-pirate commented on #366
Do not spam.

[2016-07-25 02:23] #366 closed, assigned to nobody

[2016-08-14 12:28] Severn-Vergil opened #367 "Modification of gyro rate"
Can the L3G4200D gyro rate be modified in the driver of ROS? The gyro update rate in Kobuki is approximately 104Hz(I measure it by rostopic hz), however the highest rate is up to 855hz, so I wonder if the gyro data is supsampled. A higher sample rate of gyro is needed in my application.
Thank you in advance! Your advice would be great help to me.

[2016-09-16 05:34] Briancbn opened #369 "Legacy_pose2d problem"
After I change all the legacy_pose2d to pose2d and LegacyPose2d to Pose2d can the catkin_make succeed.

[2016-09-17 13:58] stonier commented on #369
What branch are you using?  The devel branches should already have these fixes.

[2016-09-17 14:02] stonier commented on #369
Ah I see. You are using kobuki sources,  devel branch but are not using the ecl sources.  Those changes are  in source but not as public debs yet.

No problems here.  Just need to either check out kobuki sources from the release branch or from prior to the latest commit hash or include the ecl sources in your workspace or an underlay.

It will resolve naturally as soon as the latest debs roll thro

[2016-09-17 14:02] #369 closed, assigned to nobody

[2016-09-20 02:11] stonier commented on #367
I don't have full knowledge of what is in the firmware on the arm chip, but I'd say that is the constraint there. The pc driver certainly doesn't provide any parameterisation to access the gyro data at a higher rate and since the firmware blob is closed, there would have to be some development to provide access to the gyro data at a higher rate.

Unfortunately we're not actively developing the fir

[2016-09-20 07:24] Severn-Vergil commented on #367
Thank you @stonier, is there any plan for releasing a new version of Kobuki?

[2016-09-20 10:36] stonier commented on #367
Not a new version of kobuki per se. There is a plan to put ROS2 on kobuki though and that might allow development time on the firmware.

[2016-10-10 09:57] stonier opened #370 "Out of sequence data on the imu raw data publisher"
Apparently causing problems for cartographer.

From Damon:

https://github.com/yujinrobot/kobuki/blob/kinetic/kobuki_node/src/library/slot_callbacks.cpp#L169

We dug into a bit before writing our flat_world_imu_node. It seems to us that a couple things can go wrong here:
- It's possible for the same IMU reading to be published more than once (see line 158).
- Jitter in the sensor timing may result

[2016-10-12 02:47] hapi007 opened #371 "Is my kobuki's odom accurate?"
I have tested my kobuki's odom using " rosmsg show  nav_msgs/Odometry" AND  spin my kobuki 10 times,keeping  it's oriention coincident with the begining to my best .
I found that the msg.pose.orientation  changed from 0 to 20 degree(i used math tools to compute it).
I  don't know  this result is  reasonable or not.

[2016-10-26 09:35] stonier commented on #371
Shouldn't be anywhere near that bad. A couple of degrees a minute at worst. Make sure the robot is on the ground and not moving when it is turned on. Also make sure it is not rotating on an angle from the horizontal plane. The speed of rotation can have some influence as well - how fast do you spin?

[2016-10-27 09:18] hapi007 commented on #371
I used ” roslaunch turtlebot_teleop keyboard_teleop.launch ” to test it，used key ‘J’ and ‘L’ to control。And the speed of rotation is default：
currently:      speed 0.2       turn 1
I am also sure my kobuki is on the horizontal plane。I spin it 10times，it spend about 1minute。
At the beginning，the odom pose is：
pose:
  pose:
    position:
      x: -0.0415894216405
      y: -0.000834579950722
      z:

[2016-11-01 16:16] LinkMiao opened #372 "Kobuki cannot normally perform auto-docking"
Kobuki can sometimes fail to perform auto-docking. Click [here](https://youtu.be/QnglUrtIKJQ) to  check out the problem.

We provide a possible solution. Click [here](https://youtu.be/5VrPABc-OQw) to check it out.

After tuning the parameters shown in the video above, kobuki could perform docking normally.
The result is shown in this video: [here](https://youtu.be/9fzMWw2htGo)

Before adjusting th

[2016-11-16 01:49] ywj447 opened #373 "turtlebot(tk1/kobuki base) cannot move forward automatically using cpp code"
I start the kobuki and rosrun the "go forward" node but the turtlebot is still....
I use ROS-indigo Ubuntu14.04 and tx1

here is the cpp code：

#include <ros ros.h="">
#include <signal.h>
#include <geometry_msgs twist.h="">
ros::Publisher cmdVelPub;
void shutdown(int sig)
{
  cmdVelPub.publish(geometry_msgs::Twist());
  ROS_INFO("goforward cpp ended!");
  ros::shutdown();
}
int main(int argc, char

[2016-11-17 07:38] #373 closed, assigned to nobody

[2016-12-22 10:09] Shineee opened #375 "How to use catkin to compile arm architecture .so file"
Currently only compiled x86 .so file.
I want to compile .so file on the arm architecture used on Android(eg:armeabi)
I tried a lot of ways can not do.Hope to get your help, thank you very much!

[2016-12-22 10:16] Shineee commented on #375
https://github.com/yujinrobot/kobuki_core/issues/27
duplicate

[2016-12-22 10:16] #375 closed, assigned to nobody

[2017-02-27 02:42] talugirl opened #376 "kobuki:Timed out while waiting for serial data stream [/mobile_base]"
I met this problem with turtlebot2.The problem as follows
process[cmd_vel_mux-5]: started with pid [22201]
process[bumper2pointcloud-6]: started with pid [22232]
process[turtlebot_laptop_battery-7]: started with pid [22272]
process[capability_server-8]: started with pid [22309]
process[app_manager-9]: started with pid [22354]
process[master-10]: started with pid [22386]
process[interactions-11]: s

[2017-03-23 15:41] #365 closed, assigned to nobody

[2017-04-03 19:43] stonier commented on #224
Done in https://github.com/yujinrobot/kobuki_core/pull/28

[2017-04-03 19:43] #224 closed, assigned to stonier

[2017-11-16 08:26] chendongai commented on #376
+1.The same peoblem

[2017-11-22 22:51] corot opened #378 "[Kinetic] Update Xacro call to remove WARNs"
https://github.com/turtlebot/turtlebot/pull/257 already fixes for turtlebot

[2018-01-04 22:35] corot commented on #378
Fixed in devel. Pending for next release.

[2018-01-04 22:35] #378 closed, assigned to nobody

[2018-01-16 01:30] mjason3 commented on #99
i also saw 'Kobuki : timed out waiting for the serial data stream [/mobile_base].' unexpectedly during the ROS nodes were running. any idea or clues how timeout can happen?

[2018-02-01 15:42] BasJ93 opened #382 "Malformed sub-payload detected."
I am running the Turtlebot2 with the Kobuki base. Both on Indigo en Kinetic, I receive the error:
`Kobuki: malformed sub-payload detected, ...`

The sub payload that is shown is always a sub-payload of the base-state as defined by the protocol specification with a lenght of 77 bytes. (`AA 55 4D 01 0F`) However, the reported error does not have 77 bytes of data. This does match the behaviour as des

[2018-02-07 22:26] mzaiady commented on #382
I'm facing the same issue, using Intel NUC, it was working fine before! but this  error start to show-up recently  !

[code]

ROS Indigo,
Ubuntu 14.04.5 LTS
kernal 4.4.0-112-generic

[code]

[2018-02-08 22:19] Nick-Sullivan opened #383 "Covariance values too large for robot_localization"
When fusing the odometry from the kobuki (mobile_base/odom) with GPS into a robot_localization EKF, the output becomes filled with NaN's.

If I republish the odom with smaller covariances for the unused variables, everything works fine.

Default odom:
[code]

This causes the output of the EKF to look like this:
[code]

If I republish the odom with smaller covariances for the unused variables (1e30

[2018-02-16 13:02] positron96 opened #384 "Dependency on rocon - really necessary?"
I found that ros package ```kobuki_capabilities``` depends on 2 rocon packages(```rocon_apps``` and ```rocon_app_manager```). When installing it along with turtlebot stack (via apt-get on ubuntu), rocon installs A LOT of other stuff that seems to not be needed by a basic turtlebot (for example, a REDIS server which autostarts on boot, wasting precious memory and CPU).

It this dependency on rocon

[2018-02-20 16:52] stonier commented on #384
Wow, that's a bit of a time warp - six years or so. Apps and capabilities were originally built to work together and the dependency became optional later.

You are right. Not needed here - looks like it was to support the launcher in the package, which itself is not so terrifically placed. You could drop the rosdeps and be fine.

NB: Aside from the redis server, which ubuntu autostarts, rocon is j

[2018-03-02 01:41] Andreluizfc opened #385 "How to get /PoseWithCovarianceStamped from /odom"
Hi,

I was wondering how is it possible to feed [amcl](http://wiki.ros.org/amcl?distro=kinetic) package with `/geometry_msgs/PoseWithCovarianceStamped`, since the [kobuki_node](http://wiki.ros.org/kobuki_node?distro=kinetic) just publishes `nav_msgs/Odometry`. Is there any way or code to get `/geometry_msgs/PoseWithCovarianceStamped` from `nav_msgs/Odometry` ? How the kobuki_node does that?

Thank

[2018-03-06 15:01] NabilRez opened #386 "i can't find the left/right wheel topic on turtlebot Kobuki ?"
Hi, the "/cmd_vel_mux/input/teleop" topic controls linear velocity and angular velocity of the turtlebot kobuki,
What i am trying to find is the topic that controls the rotational speed of the left/right wheel of the turtlebot kobuki in order to implement an LQ regulator to control the speed loop of the turtlebot.

[2018-03-09 15:33] KrisPiters commented on #383
It seems the high values stem from lines 152 -154 in [odometry.ccp](https://github.com/yujinrobot/kobuki/blob/devel/kobuki_node/src/library/odometry.cpp):

[code]
DBL_MAX = 1.79769e+308

I've a suspicion these high values also cause rviz to crash when trying to visualize `odom` data.

[2018-03-13 15:36] stonier commented on #383
Maybe some double - float casting going wrong in places. @Nick-Sullivan send us a PR for something that works and that you think is reasonable.

[2018-03-13 15:41] stonier commented on #386
Been a while, but I think that that pair is what routes directly into the protocol to the Kobuki ECU. You should be able to compute single wheel rotational speeds and then transform them into the above form (base linear velocity/rotational velocity) using the Kobuki base parameters (wheel diameter, ...). Likely to be some error coming from the base parameters, but it should be fairly negligible.

[2018-03-14 10:15] NabilRez commented on #386
Ok i have some question ( please have in mind that i am new at ROS ).
what is Kobuki ECU ? ( or simply point me to where i can get more understanding about kobuki ecu )
also, in order to implement different control strategy to the speed loop of the turtlebot, two things are required :
                  -Publish into the topic that controls the (left / right )  wheel rotational  speed of the turtle

[2018-03-25 18:18] elpimous opened #388 "Impossible to have in same /joint_states topic Wheels and P&Tilt !!"
Hello, I encounter a problem with my kobuki robot (with pan and tilt head)
The kobuki works perfectly !! Thanks for this perfect robot !! And the docking station !!
https://plus.google.com/photos/photo/115946641037512570220/6532499646122540258?hl=fr
LOL

But, when launching kobuki_node minimal.launch,
and same time dynamixels.launch,

I receive this topic :

rostopic echo /joint_states
[code]
I us

[2018-03-26 12:23] stonier commented on #388
Looks like the kobuki is forgetting to set it's `frame_id`, but that's not your problem here. There shouldn't be a problem with `/joint_states` aggregating feeds from different systems and parsing it for what you need. If you do want to split them, use the usual tricks - namespacing, remapping.

[2018-04-01 08:24] elpimous commented on #388
hello Stonier, I tried without success !!

I changed namespace in dynamixel.launch (see highter)
namespace: kobuki

I don't see errors, but I can't see both kobuki and p&tilt motors in same /point_states publish.

I'd like to have this topic : `rostopic echo /joint_states`
`name: [wheel_left_joint, wheel_right_joint, head_pan_joint, head_tilt_joint]`

And, regarding upper config files, why I have

[2018-04-02 13:24] stonier commented on #388
Kobuki's wheels are missing the parent frame_id (bug). But there is no code down from it that uses it yet either so hasn't been a problem to date.

Namespacing - I mean namespacing your nodes so that your dynamixel joint_states appears on a namespaced topic. Use the `ns` attribute in roslaunch (see the [wiki](http://wiki.ros.org/roslaunch/XML/node)).

[2018-04-13 07:23] iluetkeb opened #389 "Command - reaction latency"
I've noticed a control dead time of approximately 200 milliseconds (time between the control command is sent to the hardware to the first change in odometry readings) in the Turtlebot2 firmware. This is on firmware version 1.2.0. See the following image for a plot (but note that I did the actual measurement based on a recorded rosbag, so it's not just determined from the plot).
![control_latency_v

[2018-04-13 15:59] git-afsantos opened #390 "Lack of Thread Synchronization"
Kobuki's nodelets seem to lack proper thread synchronization mechanisms (e.g. mutex), to protect against the reading of inconsistent values (mid-write) and stale data (writes made by one thread are not visible to another). This is true for `kobuki_safety_controller`, `kobuki_random_walker` and `kobuki_node` (this one to a lesser extent).

Are these mechanisms provided somewhere else (e.g. super-cl

[2018-06-22 19:59] ghost opened #392 "encoder reading"
Hello,

I am trying to get encoder reading from the kobuki base, but i didn't find any solution yet. Is it possible to get encoder readings rather than odom data?

[2018-06-22 21:50] schmidtp1 commented on #392
Hi, look for a topic */joint_states, it has the encoder readings.

[2018-06-25 15:21] ghost commented on #392
joint_states doesn't give the encoder reading. I checked it. Is there any other way to get encoder values?

[2018-06-25 15:59] schmidtp1 commented on #392
The topic has the position. Do you need the increments (/high-low signal)?

[2018-06-25 16:01] ghost commented on #392
yes, it has the position which is same as what  i get in odom topic. I want to get the raw encoder reading. i.e. how many ticks is the motor reporting? Is their any way to get it?

[2018-06-25 16:21] schmidtp1 commented on #392
I see, I'm wondering if the accuracy is sufficient to just divide tick_to_rad(0.002436916871363930187454f) [https://github.com/yujinrobot/kobuki_core/blob/devel/kobuki_driver/src/driver/diff_drive.cpp].
It seems that currently there is no interface for the encoder ticks (neither in ROS nor C++):
https://github.com/yujinrobot/kobuki_core/blob/devel/kobuki_driver/include/kobuki_driver/modules/diff_d

[2018-06-25 16:27] ghost commented on #392
so, should i divide the pose i get from /odom by 0.002436916871363930187454?

[2018-06-25 16:59] schmidtp1 commented on #392
Yes, except that I am not aware that there are joint position in the odometry topic (http://docs.ros.org/kinetic/api/nav_msgs/html/msg/Odometry.html):
[code]
In the joint states there is
[code]
(http://docs.ros.org/kinetic/api/sensor_msgs/html/msg/JointState.html)

[2018-06-25 17:01] ghost commented on #392
thanks. I will look into it.

[2018-07-24 00:44] #383 closed, assigned to nobody

[2018-09-29 11:50] elpimous opened #393 "Need informations about Kobuki ir's RX"
Hi all, Hi the team.

Really happy with my kobuki robot "Alfred"

I have another robot, a QBO V1, and i'm trying to share the same dockstation !!!

Could anyone help me in Kobuki IR specs ? Modulation ? frequency ?

I'm really nood in this part, so please be complete.

Thanks all, and long life to small robots !!!

[2018-10-13 03:58] ghost opened #394 "kobuki_description giving error in ROS Melodic"
I am running ROS Melodic on Ubuntu 18.04 and hence facing the version compatibility issue with this Kobuki package that I clone from  [Here](https://github.com/yujinrobot/kobuki.git) to my workspace.

Currently I am stuck at the following error when applying `catkin_make_isolated --force-cmake` after the successful `rosdep install -y --from-paths src --ignore-src --rosdistro melodic  --os=ubuntu:b

[2018-11-15 21:32] elpimous commented on #393
up !

[2018-12-04 11:18] wraysx opened #395 "sensors/core at only 20hz"
Ubuntu 16.04 and just install kobuki's necessary package, but find that this topic only publish at 20Hz while it should be 50 Hz. I didn't find the parameters to change the frequency, does anyone meet this before?
rostopic hz /mobile_base/sensors/core
subscribed to [/mobile_base/sensors/core]
average rate: 20.261
        min: 0.022s max: 0.060s std dev: 0.01632s window: 20
average rate: 20.160

[2018-12-15 08:57] xjtao1314 commented on #395
Hi
   I get the same problem, but I thought it may caused by the protocol have much more information than the serial can bear with speed of 115200. Btw , my hobuki have another strange behavior. I send fixed pure rotation command (1rad/s) , It will rapidly move to a rotation of 0.7rad/s ,and quite slowly reached 1.0 rad/s.  Do you get the same phenomenon ?  is it caused by the poor PID params?

[2018-12-17 04:18] wraysx commented on #395
@xjtao1314
hi, i don't meet this problem, i just turn it faster a little every time due to the key_teleop. maybe when i set it to the fixed rotation i will come back to this issue again.
as for the 20hz, it is 115200 bit/second, if the message is 200 bytes, then 200 * 8 * 50 is still smaller than 115200, while maybe the kobuki's logic is just limit the rate of this topic for some reasons

[2019-01-14 08:39] wraysx commented on #395
@xjtao1314
hi, i think i find something. if i use USB to get the data, it will return at 20hz, but if i use serial port, i can get the data at 50hz. you can try this at kobuki_node\param\base.yaml: device_port: /dev/kobuki, and try /dev/ttyUSB0 or something else

[2019-01-14 08:40] #395 closed, assigned to nobody

[2019-02-07 14:51] zweistein opened #396 "Diff Drive in ROS"
I want to control separately each wheels angular velocities in a ROS node. Is there a demo code for this case?
Can the robot motion be controlled with diff drive through ROS? Is there a demo code for diff drive in ros?

[2019-05-06 02:43] itfanr commented on #396
I need such a demo too.

[2019-05-06 12:50] stonier commented on #396
Sorry, the firmware protocol only accepts base velocity commands and won't be updated in the future. I agree, though. It would have been a nice feature.

[2019-05-06 12:50] #396 closed, assigned to nobody

[2019-06-26 12:00] LingyunLL opened #397 "Why does the turtlebot2 have a small angular velocity acceleration?"
When we used the turtlebot2 of the kobuki chassis, we found that when the control speed is sent to the /mobile_base/command/velocity topic, the angular velocity increases particularly slowly, which is much slower than the linear velocity increase. It takes about several seconds. How can I solve this problem?

[2019-08-12 11:52] #347 closed, assigned to nobody

[2019-10-28 16:08] zhaxiche opened #399 "Missing installation guide for ROS-melodic"
I'm trying to install the kobuki stuff using ROS melodic. (http://wiki.ros.org/kobuki/Tutorials/Installation) The hardware is a Qbot2e running Ubuntu MATE 18.04 with RaspberryPi 3+. However, the installation guide for Melodic is missing. Could you please update it?

[2019-10-28 18:07] zhaxiche commented on #394
Hi, sorry can I ask you how do you install the ROS Melodic version? Seems like the installation guide for Melodic is missing.

[2019-11-25 19:51] gavanderhoorn opened #400 "description: wheel_radius(left) != wheel_radius(right) ?"
Not sure this matters, but it would appear the `wheel_left_link` and `wheel_right_link` have slightly different radii configured for the `collision` geometry.

Left:

https://github.com/yujinrobot/kobuki/blob/161f69310ef94d2ab7566cf085231e832b8985cf/kobuki_description/urdf/kobuki.urdf.xacro#L78

Right:

https://github.com/yujinrobot/kobuki/blob/161f69310ef94d2ab7566cf085231e832b8985cf/kobuki_descr

[2019-11-26 01:43] corot commented on #400
mmmm......  never noticed this. I guess no.

On Tue, Nov 26, 2019 at 4:51 AM G.A. vd. Hoorn <notifications@github.com>
wrote:

[2019-11-26 08:12] gavanderhoorn commented on #400
Do we know which one is the correct radius?

See also [kobuki don't go straight, get a little to the right in gazebo](https://answers.ros.org/question/338481) on ROS Answers.

[2019-11-26 08:17] corot commented on #400
According to Kobuki Parameters (https://yujinrobot.github.io/kobuki/enAppendixKobukiParameters.html), 35 mm. But I don't have a robot with me to double check...

wow!  I was considering if that error could have any impact on Gazebo!
very good catch!

On Tue, Nov 26, 2019 at 5:12 PM G.A. vd. Hoorn <notifications@github.com>
wrote:

[2019-11-26 08:20] gavanderhoorn commented on #400
Will you PR a fix, or should 'someone else' do that? :)

[2019-11-28 03:08] #400 closed, assigned to nobody

[2020-01-09 20:36] stonier opened #404 "Rebuild applications with trees"
Rebuild former scripts, rapps with behaviour tree applications. Likely will need a `kobuki_behaviours` library.

Rapps were dropped in #403

[2020-01-09 22:14] stonier opened #406 "ROS2 port yocs_cmd_vel mux - TODO"
Migrate from [yujin_ocs/yocs_cmd_vel_mux](https://github.com/yujinrobot/yujin_ocs/tree/devel/yocs_cmd_vel_mux) since that repository is not likely to survive the transition to ROS2.

* [ ] Create a standalone package (not in kobuki, since it's more general)
* [ ] Upgrade build infra
* [ ] Working Code
* [ ] Revamped Launchers and Tests

[2020-01-09 22:16] clalancette opened #407 "ROS2 port yocs_velocity_smoother - TODO"
#405 is a first port of the velocity_smoother to ROS 2.  It ports the main bulk of the code, but there are several things left to do:

* [x] Create example parameter files for ROS 2
* [x] Port the launch files to ROS 2
* [x] Create an example composable launch file for ROS 2
* [ ] Port the tests to ROS 2
* [ ] Test the package in a complete system

[2020-01-09 22:19] stonier commented on #247
Aging out.

[2020-01-09 22:19] #247 closed, assigned to jihoonl

[2020-01-09 22:20] stonier commented on #273
Aging out, since we aren't building new firmware.

[2020-01-09 22:20] #273 closed, assigned to stonier

[2020-01-09 23:19] stonier commented on #223
Dropping this one as a won't do. Low value with potential nuisance effects unless a suitable idea presents itself. If that happens, we can open an issue and work on it then.

[2020-01-09 23:19] #223 closed, assigned to nobody

[2020-01-09 23:23] #199 closed, assigned to bit-pirate

[2020-01-10 15:32] clalancette commented on #390
Absolutely, this is a problem I've noticed as well.  I'll assign this to myself to work on (though my work will be delayed a bit).

[2020-01-10 16:30] stonier commented on #390
Aye - I concur. I'll also keep an eye out when moving on the ROS2 upgrade.

[2020-01-24 01:11] jazzalin opened #408 "Unable to build from source after 'eloquent message variable name refactor'"
Hello,

I ran into some issues recently while building kobuki from source after the message variables have been refactored in [commit](https://github.com/yujinrobot/kobuki/commit/b609a185e249d127679e7b18a24d606acbdf918f):

`test_ws/src/kobuki/kobuki_keyop/src/keyop_core.cpp:274:28: error: ‘const KeyboardInput {aka const struct kobuki_msgs::KeyboardInput_<std::allocator<void> >}’ has no member name

[2020-01-24 01:57] stonier commented on #408
I am guessing you are building on a ROS1 distribution?

All the sources should still be valid, repos unchanged, just make sure you don't use `devel` branches. There are no promises attached to the devel branch (naturally, otherwise where would you engage in development!?). Use the release branches instead - e.g. [kobuki/melodic](https://github.com/yujinrobot/kobuki/tree/melodic). Each repository h

[2020-01-24 01:59] stonier commented on #408
Note, in the near future this repo too (like `kobuki_core` and `kobuki_msgs`) will lose the devel branch and default to `melodic` with a better README clarifying the situation and pointing to the ros2 repos. You just happen to have caught us in the middle of these changes.

[2020-01-24 02:14] jazzalin commented on #408
That makes sense. Thanks for the clarification!

Feel free to close this as this isn't really an issue

[2020-01-24 02:43] #408 closed, assigned to stonier

[2020-02-13 16:58] corot commented on #407
Should we delete devel branch on this repo, so nobody tries to use it instead of https://github.com/kobuki-base?

[2020-02-14 02:32] stonier commented on #404
Aging out.

[2020-02-14 02:32] #404 closed, assigned to stonier

[2020-02-20 18:12] swinterbotix commented on #399
@zhaxiche,

Many of the kobuki ROS packages don't seem to be officially supported by ROS Melodic just yet. You can see more at https://github.com/turtlebot/turtlebot/issues/272 regarding the turtlebot2 robot which depends on kobuki. It sounds like the only way to get it to work currently is to build from source. However, like you, I'll be very happy when the ros-melodic-kobuki-node package becomes

[2020-03-13 11:01] vyi opened #409 "To simulate multiple Kobuki robots"
I am able to simulate and perform trajectory tracking oepration with single kobuki robot.  Now I need to simulate 3 (or more) kobuki robots.

Here is my urdf file:
[code]
Here is the working (and relevant) launch file content
[code]
The above file uses 2 nodelets which I don't fully understand. The second nodelet is for remapping names of certain topics (sorry limited understanding).

I need to ru

[2020-03-18 21:09] drjsmith commented on #409
Are you running instances of the nodelets for each robot? If not, you should. Also, each robot needs a separate namespace, and all nodes for a robot should be run in that namespace. I didn't want to have to manually do that for each robot, so I wrote some launch files (included below) to take care of it for me in the case of a Turtlebot robot. The first file is basically a wrapper around the secon

[2020-03-19 07:35] vyi commented on #409
@drjsmith Thank you so much! I was able to make it work using the \<group\> tag and namespace separation suggested by you.

[2020-03-19 07:35] #409 closed, assigned to nobody

[2020-03-19 13:29] vyi opened #410 "Kobuki odometry in world frame"
If there a way to get kobuki odometry with respect to world frame (Gazebo Frame).

I have seen this : https://answers.ros.org/question/222033/how-do-i-publish-gazebo-position-of-a-robot-model-on-odometry-topic/
The above link suggests that we add odometry ourselves and get world position of the robot.

I think getting the odometry in world frame is just a matter of setting the initial pose of kobu

[2020-03-20 22:14] void-robotics commented on #399
@swinterbotix I tried to install from source using https://github.com/gaunthan/Turtlebot2-On-Melodic/issues/5, but everything launches except GazeboRos::readCommonParameter, GazeboRosKobuki::preparePublishTf, or GazeboRosKobuki::setupRosApi which is necessary for the odom and tf data. Any workarounds?

[2020-03-20 23:00] swinterbotix commented on #399
I've got no idea - but thanks for pointing out that repo! I'll take a look at it at some point.

[2020-04-09 01:49] corot commented on #410
There's a `commands/reset_odometry`topic of type `std_msgs/Empty`. Publishing on it should reset odometry to 0, 0, 0.

That said, your localization system (if any) will keep changing the map --> odom transform, so your odom won't be anymore on world frame. Exception is if you use no localization, e.g. with a static 0, 0, 0 map --> odom tf.

[2020-05-03 01:41] slivingston commented on #397
Did you try to adjust PID gains [in the `~commands/controller_info` topic](https://wiki.ros.org/kobuki_node#kobuki_node.2Fhydro.Subscribed_Topics) ?

[2020-05-03 17:40] willzoe opened #414 "Does the topic /odom published by kobuki_node use imu or wheel encoder?"
I was a little confused when doing odometer fusion.

When using command `roslaunch kobuki_node minimal.launch` to start kobuki, check the published topic through the command `rostopic list`, I found that there are the following three topics:
[code]
Then I also checked the value of the parameter `/mobile_base/use_imu_heading` is `true` through the command `rosparam get /mobile_base/use_imu_heading`

[2020-05-04 11:14] meitiever commented on #238
sudo chmod 776 /dev/ttyUSB0
solve the problem.

[2020-05-14 15:53] 1046652786 opened #415 "error: ‘KEYCODE_RIGHT’ is not a member of ‘kobuki_msgs::KeyboardInput {aka kobuki_msgs::KeyboardInput_<std::allocator<void> >}’ case kobuki_msgs::KeyboardInput::KEYCODE_RIGHT:"
i had changed the package name ,before i changed it was named kobuki_keyop, how can i solve it?

[2020-05-20 12:25] antondim commented on #415
Had the same problem. Replacing the false values with the ones stated in http://docs.ros.org/hydro/api/kobuki_msgs/html/msg/KeyboardInput.html , did the trick for me .

For example, "KEYCODE_RIGHT" changes into "KeyCode_Right" etc etc.

Those values can be found in the source cpp file "keyop_core.cpp".

Hope this helps.

[2020-05-20 14:46] corot commented on #415
I changed kobuki_msgs/devel to match changes on devel here: b609a185e249d127679e7b18a24d606acbdf918f
So compiling latest devel together should work.

What are you trying to compile?

[2020-05-29 09:54] lascm opened #416 "Change default base_link_frame so no error is thrown tf"
Currently the base_link_frame is set to by deafult to `/base_link`.
It would be good idea to change the default to `base_link` in order to avoid tf2 error of
[code]

[2020-06-05 08:45] corot commented on #416
True;  fixed with #417

[2020-07-29 13:33] #416 closed, assigned to corot, stonier

[2020-08-01 18:07] robbiedood commented on #389
Hi @iluetkeb , thanks for posting this issue, I was wondering if you have solved the issue and found the root cause.

-- Luke

[2020-08-02 07:13] robbiedood commented on #399
Ubuntu 16.04 + Kinetic would end support in April, 2021, now Kinetic version isn't recommended for new installs by ROS wiki.
So hope to find anyone who is successfully running kobuki on Ubuntu 18.04 + Melodic. (or Ubuntu 20.04 + Neotic)

I see there is a melodic branch for kobuki, shall we try that instead of devel ?

[2020-08-02 11:50] iluetkeb commented on #389
@lukelu0520 This is caused by the firmware of the Kobuki base. The source code to the firmware is not publicly available. Therefore, only Yujin can change this behavior.

[2020-08-02 19:06] robbiedood commented on #389
@iluetkeb thank you, can't believe we could get your reply in 2020 !

200 milliseconds sounds a bit large for real-time application, e.g. telepresence. Do you find any firmware update or any custom solution in 2020 to improve the latency further ?

[2020-08-03 00:03] robbiedood commented on #365
Got the same issue. For melodic version, it requires many installations in order to resolve ecl_exceptions, its dependencies and dependencies' dependencies. Fortunately, still can build kobuki for melodic. (care must be taken on using melodic branch in each git)

[2020-08-03 02:03] stonier commented on #365
One rosdep update call on this repo in your source workspace should be all it needs, that will track down all the dependencies you need and install them via apt.

[2020-08-03 08:14] iluetkeb commented on #389
So, the title of this ticket (originally "control dead time") was not 100% correct. The latency is not the "control dead time". It's the time between the command timestamp and the first sensor message timestamp showing any changes. Since both of these timestamps are generated in the Linux host, they include transmission delay and other effects. E.g., the Kobuki messages don't have an absolute time

[2020-08-03 16:41] robbiedood commented on #389
I see, glad to hear you managed to get below 150ms, it's impressive when considering the age of Kobuki. Are you @iluetkeb working on related projects such as robot moving base now ? In 2020, we were wondering if any robot platform could give low-latency control, e.g. <100ms. So far we found Kobuki is still one of the best, hope to work on more options.

-- Luke

[2020-08-05 00:52] robbiedood commented on #382
@BasJ93 @mzaiady , got the same issue with you in 2020. Do you find any solution for the error message "Malformed sub-payload detected" ? For example, update firmware or software ?

Hope to hear your expertise.

-- Luke

[2020-08-05 01:01] robbiedood opened #418 "Can not connect to the file server to download the The Flashing Utility stm32flash-0.4.tar.gz"
Dear kobuki friends,

We tried multiple computers, but still can not connect to the file server (http://files.yujinrobot.com/kobuki/firmware/stm32flash-0.4.tar.gz) to download the flashing utility; even can not connect to the file server: http://files.yujinrobot.com/kobuki/firmware

Was wondering if someone has the same issue. Hope it is just temporary...our location is in California, US.

-- Luke

[2020-08-05 14:08] stonier commented on #418
You can find it at https://sourceforge.net/projects/stm32flash/files/.

Still a WIP, but rebuilding documentation while doing a ROS2 port - you can find updated notes at https://kobuki.readthedocs.io/en/devel/firmware.html#updating-firmware. Let me know if you run into any problems.

[2020-08-05 14:12] #406 closed, assigned to stonier

[2020-08-05 14:15] stonier commented on #382
Does it show up continuously or sporadically? Is it an old kobuki? Old cable?

[2020-08-05 16:47] robbiedood commented on #418
Thanks, @stonier ! Updated !

[2020-08-05 16:47] #418 closed, assigned to nobody

[2020-08-05 16:50] robbiedood commented on #382
Hi @stonier ,

It shows up when we execute: _roslaunch kobuki_node minimal.launch --screen_, and continuously shows up every tens second.

I just purchased and received it from Trossen Robotics, don't know if it is old or not, checked the version which shows:

Version Info:
 * Hardware Version: 1.0.4
 * Firmware Version: 1.2.0
 * Software Version: 0.7.8

First guess is caused by mis-matched data t

[2020-08-05 18:22] stonier commented on #382
The only thing that stands out for me (given that software/firmware works in general and has suddenly gone from working to not working) is that noise on the serial connection interferes with the payload. I've seen this happen on serial connections that are long / old / have a great deal of electromagnetic interference. Haven't seen it on a kobuki yet.

To debug further, see if you can isolate the

[2020-08-05 19:18] robbiedood commented on #382
Thanks for your advice @stonier , do you have any recommended serial communication cable which is short enough and interference free for the test ?  In the same time, I'll get few shorter and better usb cable for further testing.

-- Luke

[2020-08-05 19:37] stonier commented on #382
Nothing special. You're just chasing some second opinions on the communication problem to verify it isn't the cable that you have that is the source of the problem.

Equivalently, the second bullet above is to verify if the FTDI usb-serial io device on the kobuki is the source of the problem.

[2020-08-05 19:44] stonier commented on #382
Note - you shouldn't have a software/firmware mismatch. If there was a major version mismatch, it would immediately abort and if there was a minor version mismatch you'd get a warning on startup. See [here](https://github.com/kobuki-base/kobuki_core/blob/devel/kobuki_driver/src/driver/kobuki.cpp#L298). It also wouldn't be sporadic.

[2020-08-05 19:57] robbiedood commented on #382
Thanks for your prompt reply @stonier

BTW, what does "payload" and "sub-payload" in the context mean ? Is it a mechanical fixture to support physical loading or a virtual digits in protocols for communication ?

[2020-08-05 20:06] stonier commented on #382
Each packet carries a variable length chain of data packets depending on what was requested in the last command window. Each sub-payload caries the data for a single quantity (e.g. cliff sensors). You can see details (not great english, but you'll get the idea) here: http://yujinrobot.github.io/kobuki/enAppendixProtocolSpecification.html.

If I remember correctly, there might be a rostopic you can

[2020-08-05 22:34] robbiedood opened #419 "No response on kobuki_testsuite test_rotation.py and test_translation.py"
Dear kobuki friends,

We went through testsuite and everything works great except below two tests:

rosrun kobuki_testsuite test_translation.py

Above two tests have no physical response, though it prints out messages on screen, for example of test_rotation.py:

  self.pub_cmd = rospy.Publisher(cmd_vel_topic,Twist)
SyntaxWarning: The publisher should be created with an explicit keyword argument 'q

[2020-08-06 01:59] corot commented on #414
From base.yaml configuration file:
[code]
In short, if use_imu_heading: true both odom and imu_data provide gyro heading. If false, only imu_data does.

[2020-08-06 02:14] corot commented on #419
I did that test suite like three lifes ago... :neckbeard:
If I remember properly, we tested rotation and translation by placing a calibration checkboard pattern on top of Kobuki and monitoring its movements with a camera placed above. So the scripts you mention just make the robot move; you need the camera setup to check its correctness.

[2020-08-12 21:28] robbiedood commented on #382
Thanks for your suggestion @stonier
Now we can eliminate cable issue since we've tried multiple cables with a variety of length (from 0.5 feet to 3 feet).
Still figure out the root cause of malformed sub-payload detected, will check if there is a ros way to see the full packet stream.

-- Luke

[2020-08-13 00:46] corot commented on #382
@lukelu0520, to rule out another possibility:  do you have several USB devices connected to the same hub (or same USB board within the PC) as Kobuki? I noticed with my robot that the number of `malformed sub-payload detected` errors increases a lot when that happen.

[2020-08-13 04:11] swinterbotix commented on #399
For anyone who is interested, I've attached an installation script that should get all the packages listed in the melodic branch of this repo working on Ubuntu 18.04 (especially kobuki_node) except for the kobuki_capabilities package (which doesn't seem to be that important anyway). To do this, I literally went through all the dependencies in those packages and confirmed that they would either by

[2020-08-13 05:14] robbiedood commented on #399
Thanks for your contribution, @swinterbotix !

When you got chance, hope to try roslaunch kobuki_node minimal.launch to see if the error message "Malformed sub-payload detected" is gone. This issue ( #382 ) is kind of a mystery in 18.04 melodic.

Best,
-- Luke

[2020-08-13 05:22] swinterbotix commented on #399
I can definitely check for that. But the error you're talking about also happens in kinetic. From my experience (both personally and doing research online), it doesn't affect anything and should just be ignored.

[2020-08-13 08:30] robbiedood commented on #399
@swinterbotix , thanks for your prompt reply.

It's pretty annoying so really want to know the root cause. We are also digging deeper to figure it out (for both curiosity and robotic health, a useful ref: http://yujinrobot.github.io/kobuki/enAppendixProtocolSpecification.html from Daniel)

-- Luke

[2020-08-13 19:28] swinterbotix opened #420 "Updating Firmware"
Hi,

I'd like to update the firmware on my Kobuki robot, but unfortunately the instructions at https://iclebo-kobuki.readthedocs.io/en/latest/advanced_usage.html#linux do not work. Whenever I try to download the flashing utility or latest firmware on my Linux or Windows computer, it just hangs...

I tried to manually go to the files.yujinrobot.com/kobuki/firmware site, but it hangs as well.

Thank

[2020-08-13 20:35] swinterbotix commented on #399
So I tested the robot today with the installation script by running the minimal.launch launch file. Everything seems to work just fine, but I do get the following warnings...

![kobuki_warnings](https://user-images.githubusercontent.com/52669772/90183925-f0442300-dd79-11ea-9243-15a45962dd5f.png)

So I understand the first warning - about no robot description being found as the minimal launch file

[2020-08-13 20:49] robbiedood commented on #399
@swinterbotix , I got similar issues as you. Feel free to check #418, and regards to your

This one could be resolved by adding robot description in minimal.launch file. (in kobuki_description/launch/view_model.launch) ref: #382

-- Luke

[2020-08-13 21:06] swinterbotix commented on #399
You're awesome @lukelu0520!

Firmware is now updated and warnings have disappeared!

It's interesting though how running minimal.launch in kinetic did not give the robot description warning though.

In any event, even with the updated firmware, I'm still seeing that sub-payload error message.

[2020-08-13 21:07] swinterbotix commented on #420
Just found out that this is a duplicate of #418 so closing this.

[2020-08-13 21:07] #420 closed, assigned to nobody

[2020-08-13 22:22] swinterbotix commented on #382
I think I fixed this issue! By default the usb latency timer in Linux is set to 16ms for FTDI usb communication. By changing this to the lowest possible value (1ms), this issue disappears! Let me know if this works for you guys and I'll submit a PR to update the udev rules for kobuki.

There are a couple ways to change the latency timer. The best approach is to just edit the kobuki udev rule. Mine

[2020-08-14 14:27] stonier commented on #382
Oh, looks like the world shifted in linux kernel 4.10 (which was after the initial releases of kobuki) for the ftdi driver. See [here](https://github.com/ros-drivers/rosserial/issues/383) and [here](https://lore.kernel.org/patchwork/patch/763463/). That would explain why the problems are occurring now and not when Kobuki was initially released.

That udev rule could well work (looking forward to h

[2020-08-14 14:52] stonier commented on #382
A long thread over in Octopi about this: https://github.com/guysoft/OctoPi/issues/566

Interesting to note, if we could pad packets out to multiples of 64bytes, it would fire off the chain of sub-packets with no 16ms delays. Unfortunately we don't have access to the firmware :/

Potentially, some code that could set the low latency flag:

[code]

However, folks in threads I've read mention that yo

[2020-08-14 18:57] swinterbotix commented on #382
Correct me if I'm wrong (and there's a good chance I am since I don't really work in serial communication) but it sounds like the latency timer only comes in to play when a 'read' command is sent to a device from a host computer. If no 'read' command is sent, which I imagine would be the case if the Kobuki is just plugged in to the computer but no code is running, then the port wouldn't be spinnin

[2020-08-19 11:06] rjam92 commented on #415
Was this problem resolved? what was the installation process other than cloning this in catkin_ws/src and building it?

[2020-08-19 13:36] stonier commented on #415
Problem I'm guessing is that you're using `devel` branch of `kobuki_keyop` which was part of an aborted ros2 migration.You should be using the release branch for melodic, which was `release/0.7-melodic` but it looks like @corot might have missed that one and has been working on `melodic`.

Actually, looks like there has been other fixes going into `devel`. I'd recommend:

* Cherry-picking any rele

[2020-08-20 02:25] stonier commented on #382
Not an expert either, but looks like you're correct. Reference: [FTDI Knowledgebase - Custom Latency Timer Value](https://www.ftdichip.com/Support/Knowledgebase/index.html?settingacustomdefaultlaten.htm).

Having said that - this looks like the right thing to do, if only to reduce the latencies in reading the packet stream. That still doesn't explain however why the data is malformed at 16ms laten

[2020-08-20 02:39] stonier commented on #382
For reference, you can determine the configured latency timer on your loaded device with:

[code]

I can confirm the udev rule above does set it to 1ms.

I'm getting some interesting results with [stream.cpp](https://github.com/kobuki-base/kobuki_core/blob/devel/kobuki_driver/src/demos/stream.cpp):

With 16ms latency:

[code]

With 1ms latency:

[code]

Conclusions:

* At 16ms, packets arrive @ 15

[2020-08-20 03:06] stonier commented on #389
Worth noting that https://github.com/yujinrobot/kobuki/issues/382 discovered a regression in ftdi settings that hammered Kobuki's packet stream (circa 2017) on the usb-serial connection. Empirical measurements would seem to indicate that it frequently adds a very irregular 20+ms worth of latency.

[2020-08-20 06:04] rjam92 commented on #415
Just to make sure I am clear about what you are saying:
1. I should clone and build the melodic branch instead of the default devel branch
2. Transfer any relevant fixes from devel branch to the melodic branch

If not so can you explain in more detail how to carry out the above steps?
Thank you

Also,

I switched to the installation of release/0.7-melodic, downloaded the necessary kobuki_msgs and

[2020-08-20 09:19] alexantosh commented on #386
hello, were you able to find this out? How to control the different wheels separately?

[2020-08-20 14:03] iluetkeb commented on #389
The 16ms FTDI issue was known to me (it's been around for a while, on and off) and was addressed prior to making these measurements.

[2020-08-21 02:46] stonier commented on #389
Can confirm 100-120ms latency with a test program on foxy (no ROS involved):

|      Timestamp     | Command | Pose2D |
|:------------------:|---------|--------|
| [966718.231485232] | [0.3,0] | [0,0]  |
| [966718.255552732] | [0.3,0] | [0,0]  |
| [966718.272513144] | [0.3,0] | [0,0]  |
| [966718.291353923] | [0.3,0] | [0,0]  |
| [966718.311167736] | [0.3,0] | [0,0]  |
| [966718.331446064] | [0.3,

[2020-08-21 03:04] stonier commented on #415
I'll send some PR's that cleanup the branch situation ...

-----

The connection problem sounds orthogonal.

* What do you get when you type `groups`? You usually have to log out/reboot to have the addition to the `dialout` group take affect.
* Do you see anything come up on `/dev/ttyUSB0` when you plug in kobuki?

[2020-08-21 06:13] robbiedood commented on #382
@swinterbotix @stonier , amazing, problem solved after applying your solution.
Super happy we get rid of the error message !

[2020-08-21 13:02] stonier commented on #382
Released `kobuki_core` - `v0.7.9` in `melodic` and `v1.1.1` in `foxy`. Thanks @swinterbotix.

[2020-08-21 13:32] alexantosh commented on #399
how can I have this working in gazebo. I installed everything as mentioned above. later on cleaned it and installed it by running the convenient script provided at [turtblebot2onMelodic](https://github.com/gaunthan/Turtlebot2-On-Melodic). When i ran the gazebo simulation in the empty world, it runs fine. but teleoperation or directly publish twist objects the the cmd_vel_mux/ topics does not work.

[2020-08-21 15:58] stonier commented on #386
You can't control them directly - the kobuki accepts commands that control the base, not the individual wheels. These control commands, at the lowest level we have access to (firmware), are accepted in the the form of a [radius / speed](https://kobuki.readthedocs.io/en/release-1.0.x/protocol.html#base-control) pair.

Depending on what kind of control you're attempting to perform, you could reverse

[2020-08-22 02:59] stonier commented on #415
Original problem here should be resolved with the PR above, closing out.

[2020-08-22 02:59] #415 closed, assigned to nobody

[2020-08-22 16:21] alexantosh commented on #386
Thanks alot @stonier. indeed i want something like this. Where exactly do I put the code to achieve this? What i want is to have the robot rotate 10 or 20 or even 30 degrees about its axis and then pause for about half a minute. then go on till i stop it. Just issuing commands to turtlebot2 only rotates one wheel and the robot somehow displaces
Thanks.

[2020-08-23 23:54] stonier commented on #386
Seems like something is wrong - you should be able to perfectly manage that with the control paradigm the ros1 node has. I haven't looked / tested the ros1 code for years (and unable to check on melodic right now) so can't help you out there right now.

However, you could try to compile and run the simple loop demo (no ros1 involved and that api will work against melodic's c++ kobuki_driver librar

[2020-08-24 08:06] alexantosh commented on #386
ok i will try this. No, the turtlebot2 and kobuki are running on ROS Indigo Ubuntu 14.04. Couldnot find a way to handle that with the control paradigm ROS1 node provides. Any suggestions in that direction would also be most welcome as I have most code built in ROS with python. Still my C++ is not that awful. It should at least suffice to handle this task. What I did was I practically sent a Twist

[2020-08-24 09:37] alexantosh commented on #386
I tried the code sample you gave me on both ubuntu 18.04 and 14.04 but it gives errors.
for Ubuntu 14.04, when i try to compile the file, i get:

`turtle1@turtle1:~/kobuki/src/kobuki_core/kobuki_driver/src/test$ gcc -o sim simple_loop.cpp
In file included from /opt/ros/indigo/include/ecl/linear_algebra.hpp:19:0,
                 from /opt/ros/indigo/include/ecl/geometry/legacy_pose2d.hpp:21,

[2020-08-24 13:19] stonier commented on #386
Intent was to copy the file across and compile, not entire repo.

You need to either add it to your cmake (easiest way) or make sure you point `gcc` at where the headers are with `-I<path_to_headers>`.

[2020-08-25 16:03] alexantosh commented on #386
Hello. I simply copied the simple_loop.cpp. I already had a similar kobuki repo on the indigo machine.
Any way just to make sure. I copied the file again on the melodic machine and simple added it to the cmake as suggested. This is the error I got.
`n file included from /opt/ros/melodic/include/ecl/linear_algebra.hpp:19:0,
                 from /opt/ros/melodic/include/ecl/geometry/legacy_pose2d.h

[2020-08-27 14:49] stonier commented on #386
I suspect you missed adding dependencies to the target in cmake.

[2020-08-31 03:17] stonier opened #422 "Custodians for the ROS1 Kobuki Repositories"
For those who've been valiantly striving to get T2 on Melodic working (see #399), it's likely been obvious that the ROS1 Kobuki repositories are in need of a custodian. While @corot and I try to volunteer some time, neither of us work at Yujin Robot any longer and it is fairly apparent that Yujin Robot has not reassigned our roles to anybody there.

If someone has a vested interest and would like

[2020-08-31 03:19] stonier commented on #399
If you'd like to help out rather than hack (yes, I know, hacking is fun) around the edges, delve into #422 :)

[2020-09-03 09:17] alexantosh commented on #386
Hello, sorry for the tardy reply. did not have access to the desktop for a while. Apparently the issue was that my system has `eigen3` so I had to include that in the headers that required Eigen (I wonder if there's a simpler way of doing this instead of having to add it manually to all requiring files). Anyway it compiled finally but with warnings and failed because multiple mains were defined. B

[2020-09-09 19:08] hanzheteng opened #423 "melodic release for apt install in Ubuntu 18"
Hi,

I am wondering if there is a melodic release for `kobuki_description` package in Ubuntu 18, such that I can install it by `sudo apt install ros-melodic-kobuki-description`. I see the meta-package `ros-melodic-kobuki` is still only available in Ubuntu 16 and ROS Kinetic right now.

Our customized Turtlebot2 robot is built on top of kobuki base. If `kobuki_description` is available, we can then

[2020-09-09 19:31] swinterbotix commented on #382
Do you plan to make version 0.7.9 available on APT for kinetic/melodic? It's still showing 0.7.8 as the most recent version.

[2020-09-10 00:08] stonier commented on #382
http://repositories.ros.org/status_page/ros_melodic_default.html?q=kobuki

You'll see that it's still just a release candidate and hasn't yet been pushed to the release servers. You can get early access to it via the ros-testing server, see [this wiki page](http://wiki.ros.org/TestingRepository).

I didn't release it in kinetic. I can't test it at the moment and there are some changes that might n

[2020-09-10 02:48] corot commented on #422
:+1:   good initiative!  sure, I can provide some support, though I don't have a physical Kobuki with me (but still use it Gazebo simulation)

[2020-09-10 12:31] anoftc opened #424 "Odom topic position.Y remains zero"
Hi,

We use an old (7 years old) turtlebot2 with a Kobuki base that we use for ROS education.

Recently we noticed that the same software that worked nicely before suddenly doesn't work. It turned out that the pose.pose.position values in the odom topic of the robot reported normal X values, but pose.pose.position.y always remained zero.

We visually inspected the kobuki base, saw nothing extra...

[2020-09-10 15:44] swinterbotix commented on #382
I've confirmed that the robot still works even with the updated udev rule. I did this by first installing version 0.7.8 from apt on kinetic, then updating the udev rule in the /lib/udev/rules.d directory with the latency changes. Next, I ran
`roslaunch kobuki_node minimal.launch` in one terminal, then opened another terminal and typed `roslaunch kobuki_keyop keyop.launch` . I was then able to succ

[2020-09-14 01:40] stonier commented on #382
On it's way in kinetic, melodic & noetic, `v0.7.10`.

[2020-09-14 01:40] #382 closed, assigned to nobody

[2020-09-19 01:48] stonier commented on #424
Firmware shouldn't be a problem (and 1.2.0 is just a convenience upgrade to enable PID tuning). Also, this https://github.com/kobuki-base/kobuki_core/pull/37 ensures the driver now supports both 1.1.4 and 1.2.0 without warnings.

I'm no expert on hardware, but if I was to guess, maybe a cable issue between the encoder and Kobuki's embedded board.

[2020-12-01 09:51] rjam-xav opened #427 "Is a release for ROS Noetic planned anytime soon?"
Hello,
Is there a plan to release the packages for ROS noetic as well?

[2020-12-31 16:28] corot commented on #382
Finally regain access to my old, good kobuki;
Malformed sub-payload errors gone!!!  thank u guys,, and happy new year!

[2021-01-06 21:19] mwwoodm opened #428 "OpenCV library stdlib.h missing in colcon build of kobuki sim"
I'm following the getting-started-with-ubuntu course of the AWS RoboMaker tutorial available at https://github.com/aws-robotics/aws-r... and am following the below sequence of commands to setup the turtlebot and bobuki simulators:

      cd ~/ros_workspace/src
      git clone https://github.com/turtlebot/turtlebot
      git clone https://github.com/yujinrobot/kobuki
      cd ..
      rosdep instal

[2021-01-07 19:00] swiz23 commented on #423
I've run into this issue as well. However, it's possible to just clone the repo, do a `rosdep install --from-paths src --ignore-src -r -y` command at the root of your workspace to install any needed dependencies, and run catkin_make. You won't be able to run the kobuki_capabilities package though as it has a run dependency that doesn't exist (as far as I know) in Melodic.

I'd also recemmend takin

[2021-02-15 20:44] swiz23 commented on #427
Looks like there still is some work to be done. However, if all you care about is getting this repo to compile, I have been able to get it working on ROS Noetic by building from source.

Clone this repo into your workspace. You'll also want to clone https://github.com/yujinrobot/yujin_ocs into your workspace as well. Many of the directories in the yujin_ocs arn't necessary. Delete everything excep

[2021-02-19 08:19] hanzheteng commented on #423
Thanks for the info. Just FYI, the script we use to install the customized Turtlebot2 in Ubuntu 18 can be found [here](https://github.com/UCR-Robotics/Turtlebot2-On-Melodic/blob/master/install_turtlebot.sh).

[2021-04-23 10:57] beduffy commented on #372
I was also having a lot of problems with kobuki auto-docking, I was writing a lot of stupid code for things like (pseudo-code):
`if tried_docking_for_too_long or bumped too many times or aligned_near too many times: try again.`

I tried the solution you mentioned of changing the values in your 2nd youtube video. Image below shows this more clearly.
![image](https://user-images.githubusercontent.co

[2021-08-13 21:27] sridharsidhu0801 commented on #399
@zhaxiche I am working on QBot 2e as well using ROS Melodic. I end up with some errors as well (mentioned below). Please let me know if you know the solution to this error. Also, let's collaborate and have proper communication to help each other in working with QBot 2e using ROS-Melodic.
Error as follows

ubuntu@ubuntu:~/catkin_ws$ catkin_make -j1
Base path: /home/ubuntu/catkin_ws
Source space: /h

[2021-10-26 22:22] zianzhuang opened #429 ".."

[2022-04-07 14:44] sjh990519 commented on #427
I'm trying to run "kobuki" on "noetic" now.
But I get an error at "rosdep install --from-paths src --ignore-src -r -y" .
{
ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
kobuki_testsuite: Cannot locate rosdep definition for [python_orocos_kdl]
kobuki_capabilities: Cannot locate rosdep definition for [std_capabilities]
Continuing to install re

[2022-06-22 21:44] martinerk0 commented on #427
I created shell script for installation per @swiz23 reply.
Tested on Jetson Nano and Xavier NX on 20.04 with Noetic.
https://github.com/martinerk0/kobuki_noetic

[2022-07-08 16:37] RedstoneGithub opened #430 "No way to calibrate gyro"
After owning my Kobuki for 4 years, it seems that my gyro is off. It could be my LiDAR position, but I have tried multiple positions and changing the URDF but nothing seems to work. I get that kobuki is factory calibrated but it seems there is no way to calibrate if there is an issue. When the kobuki rotates or moves, the Odom is off. I set the decay time higher and rotated the kobuki to illustrat

[2022-07-21 14:56] xkaraman commented on #399
I know this is old topic but for anyone still having issues, I believe `kobuki_desktop` package is necessary for simulations purposes. Build it from source, as no melodic package is yet out. `kobuki_qtestsuite` can be `catkin_ignore`d since it fails to build for me and it's for testing.

After building and sourcing the package, you can teleop successfully in the simulation environment!