[2012-04-05 12:33] stonier opened #1 "Programmable leds"
Need api for programmable leds.

[2012-04-05 12:34] stonier opened #2 "Programmable buttons"

[2012-04-05 12:34] stonier opened #3 "Launchers for turtlebot"
Redo the launchers, integrating them in the same style as turtlebot_bringup

[2012-04-05 12:36] stonier opened #4 "Exterminate device_comms"
This will probably disappear if we stop using ycs' diff drive.

[2012-04-05 12:37] stonier opened #5 "Exterminate device_nodelet"
Cant use nodelets here as the turtlebot_driver and node are rather simple - just implement as a single process.

Now we could do as multiple libs and nodelets, but that is more complicated - maybe try that later.

[2012-04-05 12:39] stonier opened #6 "Remove diff drive"
Need to replace ycs' diff drive module somehow.

[2012-04-05 12:55] stonier opened #7 "Gyro output mode toggle"
Means to toggle between raw 3-dim data and our calibrated 1-dim data.

[2012-04-05 12:57] stonier opened #8 "Enable the gyro"
It's getting data from the firmware, but we're not using it yet.

[2012-04-05 12:57] stonier opened #9 "Licensing"
Add bsd licenses to all our files.

[2012-04-05 13:02] stonier opened #10 "Use ftdi"
This is potentially really nice for kobukibot. We give the chip a name this way instead of the bingle bingle resulting from mixing all the ttyUSBx's.

Let's try after getting all the stacks up and running (maybe after sending to willow).

This will mean moving our ftdi package to a public yujin stack.

[2012-04-05 13:43] stonier opened #11 "The Hoon Checklist"
- Why does Kobukibot Mk I  not fail on the protocol version request?

Im guessing the code there is not commited.
- Deprecate protocol_version 1.0?
- Which xacro is current?

[2012-04-05 13:48] stonier opened #12 "Remove using xxx in .hpp's"
Remove all the using keywords in headers (bad practice).

For example, remove:

using ecl::TimeStamp;

and add the ecl::prefix where you actually use it.

[2012-04-05 14:22] stonier opened #13 "Script for udev rule"
Script for setting up the udev rule to /dev/kobuki.

[2012-04-05 14:50] stonier opened #14 "Sigslots for logging in the driver"
Set up sigslots that we can connect to from the wrapper node for debug, info, warn and error logs.

See the goo for an implementation reference.

[2012-04-05 18:52] stonier opened #15 "Segfaulting in updatePacket()"
No idea why, somewhere just before the checksum.

It's eating all my std outs as well.

[2012-04-05 19:00] stonier opened #16 "Packet handler stumped"
It gets stuck as you can see at https://gist.github.com/2313221.
- Why is it receiving a 170 byte payload? (this isn't random, just infrequent).
- It can't handle that much, so it bombs (max buffer size rolls over at 64), needs error handling

[2012-04-05 19:05] stonier opened #17 "Serial buffer"
Some strange behaviour. Here is the 170 byte payload request and also why is the serial buffer filling up so often?

[code]

[2012-04-05 19:08] stonier opened #18 "Battery Diagnostic"
Similar to that in the turtlebot_node (sa turtlebot_bringup).

[2012-04-05 19:10] stonier opened #19 "Ubuntu upstart scripts"
Get it started via ubuntu's upstart...see turtlebot_bringup for example.

[2012-04-05 19:17] stonier opened #20 "Kobuki Description"
Match our kobuki_description with the turtlebot_description package. Maybe even utilise some of it.

[2012-04-05 20:06] stonier opened #21 "Joint State Publisher"
Need it publishing joint information.

[2012-04-05 20:41] stonier opened #22 "Remove usleeps"
usleep is depracated from posix.

Use ecl's sleeps instead.

[2012-04-05 21:35] stonier opened #23 "Terminate cleanly"
It is not closing threads and classes properly (segfaulting, throwing exceptions  on every ctrl-c)

[2012-04-05 21:46] stonier commented on #20
Added a rear wheel to the xacro.

[2012-04-05 21:47] stonier commented on #21
It's now publishing wheel joints - these are viewable as moving parts in rviz also.

[2012-04-05 21:47] #21 closed, assigned to stonier

[2012-04-05 21:49] stonier opened #24 "Overhaul msg use in the driver"
This is a pretty big job - currently lots of ros msgs being used as data structs in the driver part. Lots of pinging around as well. Need to SIMPLIFY!

[2012-04-05 22:58] stonier opened #25 "Keyop core"
Fix the launchers to get keyop core functional.

[2012-04-05 22:59] stonier commented on #16
Put in a check to make sure the payload size is not larger than the max payload size (and clear the buffer). Still don't know why the magic 170 though.

[2012-04-05 23:00] stonier commented on #16
See #16 for why.

[2012-04-05 23:00] #16 closed, assigned to stonier

[2012-04-05 23:00] stonier commented on #15
One broken 64 bit logic, also broken dan logic (library compiling). Fixed.

[2012-04-05 23:00] #15 closed, assigned to stonier

[2012-04-05 23:23] stonier commented on #3
Minimal.launch up and running apart from diagnostics.

[2012-04-05 23:23] stonier commented on #3
kinect.launch now running.

[2012-04-06 08:30] yhju commented on #11
1, 2. Let's deprecate protocol version 1.0
3. kinect_laser_kobuki.xacro is.

[2012-04-06 08:30] #11 closed, assigned to nobody

[2012-04-06 08:56] stonier commented on #25
Done.

[2012-04-06 08:56] #25 closed, assigned to stonier

[2012-04-09 04:58] stonier opened #26 "Depracated fw 1.0 support"
We don't need this.

[2012-04-09 05:13] stonier commented on #22
Done.

[2012-04-09 05:13] #22 closed, assigned to stonier

[2012-04-09 05:24] stonier opened #27 "Are default_data and sensor_data different?"
We are publishing two topics the same....?

[2012-04-09 05:36] stonier commented on #27
Gone. (protocol 1.0 legacy issue).

[2012-04-09 05:36] #27 closed, assigned to stonier

[2012-04-09 05:44] stonier commented on #26
Gone.

[2012-04-09 05:44] #26 closed, assigned to stonier

[2012-04-09 06:02] stonier commented on #12
Done.

[2012-04-09 06:02] #12 closed, assigned to stonier

[2012-04-09 07:22] stonier commented on #14
Done.

[2012-04-09 07:22] #14 closed, assigned to stonier

[2012-04-09 07:23] stonier opened #28 "Analog Input"
Analog input api.

[2012-04-09 07:24] stonier opened #29 "Digital Input"
Digital io api.

[2012-04-09 07:25] stonier opened #30 "Emergency Stop"
Emergency stop api or maybe just pin on the

[2012-04-09 07:41] stonier opened #31 "Base Transforms"
Establish backup transform for when the robot_pose_ekf is not used to supply transforms itself (default publiishing of TF should be false).

See parameter variables here: http://www.ros.org/wiki/turtlebot_node

[2012-04-09 10:17] bit-pirate opened #32 "Clean comments"
Lots of comments in various files are outdated - remove or update them.

[2012-04-09 12:33] stonier opened #33 "resetOdometry"
Should call this at startup, but also on user request (driver api and ros service)

[2012-04-09 12:34] stonier opened #34 "velocity command timeout"
Part of the REP spec. Needs a parameter, and a trigger (inside the ros node probably?) to turn it off when exceeding the timeout since last command.

[2012-04-09 12:44] stonier opened #35 "Remove ycs from CMakeLists.txt"
Scan the kobuki root CMakeLists.txt and terminate any ycs related references.

[2012-04-09 12:51] stonier commented on #10
Brought across our ycs device eeprom read/write programs, need to test.

[2012-04-09 13:07] stonier opened #36 "Remove pubtime from driver"
What is this hackish relic? Get rid of it.

[2012-04-09 13:08] stonier opened #37 "Simulation for motors in driver"
Put in a simulation mode for the motors in the driver, so we can at least run it without the robot.

[2012-04-09 13:21] stonier opened #38 "What's in a name?"
What happens if we chance param robot/name in the launchers from turtlebot2 -> kobukibot?

[2012-04-09 14:36] stonier commented on #10
Ok, its broken with 232RL devices.

But, the good news is the ftdi_eeprom example program works, so the hint should be there.

[2012-04-09 14:54] stonier commented on #13
We'll program it. Just added a udev rule for it instead.

[2012-04-09 14:54] #13 closed, assigned to stonier

[2012-04-09 15:03] stonier opened #39 "kobuki_meta -> kobuki_bringup"
Bring in line with the turtlebot naming system.

[2012-04-09 15:31] bit-pirate commented on #20
applied turtlebot_description structure; urdf visualisation in rviz works; proper gazebo simulation still TODO

[2012-04-09 15:31] bit-pirate commented on #20
applied turtlebot_description structure; urdf visualisation in rviz works; proper gazebo simulation still TODO

[2012-04-09 18:59] bit-pirate commented on #5
I moved from nodelet to a class KobukiNode which gets instantiated in a normal ros node. I pushed the changes to an extra branch. When it runs smooth on the robot we merge it with master.

[2012-04-09 19:10] bit-pirate commented on #3
I think, we have all necessary launch files. The rest in turtlebot_bringup are specific sripts. Furthermore, these kind of scripts seem to be covered by issue #19. So close this issue or did I miss anything?

[2012-04-09 19:39] bit-pirate commented on #39
how shall we restructure our resources folder?

[2012-04-09 20:17] bit-pirate commented on #39
i updated the installation instructions on redmine and the jenkins projects. I hope that's all.

[2012-04-09 22:38] bit-pirate opened #40 "remove ycs' standard_comms in kobuki_node"
ycs' standard_comms are still used in both scripts in kobuki_node. they are also listed in the kobuki_node.hpp, but not used.

[2012-04-09 22:58] bit-pirate commented on #35
YCS related lines have only been commented out for the case someone working on issues #4, #5 and #40 needs them temporarily.
Maybe redo CMakeLists in order to have the standard ros layout (current structure comes from ycs).

[2012-04-09 23:04] bit-pirate commented on #40
standard_comms are listed but not used kobuki_node.hpp and arm_controller.py, but currents_interpreter.py still uses them. check if those scripts are important and fix them if necessary.

[2012-04-10 02:22] stonier commented on #39
Resources folder will be fine as is for now I think as it will be a hack-a-mess for a while.

[2012-04-10 02:22] #39 closed, assigned to bit-pirate

[2012-04-10 02:22] stonier commented on #10
게똥팍사는 로봇을 고장났아요!

[2012-04-10 02:23] stonier commented on #36
Done.

[2012-04-10 02:23] #36 closed, assigned to stonier

[2012-04-10 02:23] stonier commented on #37
Done, but a bit broken still. Needs inertia simulated as well.

[2012-04-10 02:24] #5 closed, assigned to bit-pirate

[2012-04-10 02:25] stonier commented on #3
Yep, just upstart services to add now.

[2012-04-10 02:25] #3 closed, assigned to bit-pirate

[2012-04-10 06:06] stonier commented on #4
Device_comms is gone.

[2012-04-10 06:06] #4 closed, assigned to stonier

[2012-04-10 06:15] stonier commented on #6
Gone.

[2012-04-10 06:15] #6 closed, assigned to stonier

[2012-04-10 06:16] stonier commented on #33
Done.

[2012-04-10 06:16] #33 closed, assigned to nobody

[2012-04-10 06:16] stonier commented on #35
Done.

[2012-04-10 06:16] #35 closed, assigned to bit-pirate

[2012-04-10 06:17] stonier commented on #17
Disappeared, keep an eye out for it though.

[2012-04-10 09:13] stonier commented on #40
We'll resurrect currents_interpreter.py if we need it - young hoon was using it as an adapter between the kobuki current output and rxplot to get it in the right format.

[2012-04-10 09:13] #40 closed, assigned to nobody

[2012-04-10 09:31] stonier opened #41 "turtlebot keyop launcher"
Shift a launcher with our topics into kobuki_bringup.

[2012-04-10 09:31] stonier commented on #8
Done.

[2012-04-10 09:31] #8 closed, assigned to nobody

[2012-04-10 09:33] stonier commented on #37
Roughly done. Good enough for testing anyway.

[2012-04-10 09:33] #37 closed, assigned to stonier

[2012-04-10 09:34] stonier commented on #31
Ask jorge about the meaning of this one if we need more info.

[2012-04-10 09:34] #31 closed, assigned to nobody

[2012-04-10 09:58] stonier opened #42 "Gyro simulation jumps"
In simulation, the gyro jumps in two places.

[2012-04-10 11:37] stonier commented on #42
Replaced angles with ecl geometry angles (no more chancy roundings) and also did away with the raw data message. Problem was in the rounding somewhere.

[2012-04-10 11:37] #42 closed, assigned to stonier

[2012-04-10 11:37] stonier commented on #17
Reopen if necessary

[2012-04-10 11:37] #17 closed, assigned to stonier

[2012-04-10 11:44] stonier commented on #41
Done - but not really usable for us yet (what to do with enable/disable?).

[2012-04-10 11:45] stonier commented on #34
Done.

[2012-04-10 11:45] #34 closed, assigned to nobody

[2012-04-10 11:45] stonier opened #43 "Battery"
How to do a warning for the battery level?

[2012-04-10 13:00] stonier opened #44 "Cleanup and merge odometry variables"
Mixed up and there is a redundant unused odometry class floating around there too.

[2012-04-10 13:04] stonier opened #45 "Confirm fw button, led, io api"
Make sure that the firmware is doing the right thing for us here while I have einstein in my pocket.

[2012-04-10 13:34] stonier opened #46 "Pump angular velocity in"
We have it, put it into imu_data.

[2012-04-10 13:34] stonier opened #47 "Cliff sensor has variable value"
Don't just treat it as on/off.

[2012-04-10 13:35] stonier opened #48 "Sensor data to Core data"
It needs  a trim for only what we're using (look at default.cpp for that).  Also rename it core data.

Also remove the ros message.

[2012-04-10 13:37] stonier opened #49 "Ping Led's"
Make sure they work.

[2012-04-10 13:37] stonier commented on #45
All is coming back ok - just need to ping the led's - #49

[2012-04-10 13:37] #45 closed, assigned to stonier

[2012-04-10 13:48] stonier opened #50 "Commands - cut the fat"
Work out what we use from commands.hpp. Also migrate away from the ros msg.

[2012-04-10 14:17] stonier opened #51 "Led Dance Test Script"
Write a script which will toggle the led's. Kind of a unit test.

[2012-04-10 17:27] stonier commented on #51
Done.

[2012-04-10 17:27] #51 closed, assigned to stonier

[2012-04-10 17:28] stonier commented on #49
Done.

[2012-04-10 17:28] #49 closed, assigned to stonier

[2012-04-10 17:28] stonier commented on #1
Done.

[2012-04-10 17:28] #1 closed, assigned to nobody

[2012-04-10 20:31] stonier commented on #50
Done.

[2012-04-10 20:31] #50 closed, assigned to stonier

[2012-04-11 23:05] stonier opened #52 "Convert sensor data to more logical outputs"
Don't send out wierd bitwise outputs - make them human legible.

[2012-04-11 23:37] bit-pirate opened #53 "ROS indexer doesn't pick up kobuki stack"
why?

[2012-04-11 23:41] bit-pirate commented on #32
ill do this together with adding licenses (see #9)

[2012-04-12 00:34] stonier commented on #48
Done...derosified also.

[2012-04-12 00:34] #48 closed, assigned to stonier

[2012-04-12 00:53] bit-pirate commented on #53
because the indexer still points to the rosinstall file in Daniel's repo. I sent an URL update request to Ken. I'll close this, once the indexer picks up the kobuki stack.

[2012-04-12 00:53] bit-pirate commented on #53
because the indexer still points to the rosinstall file in Daniel's repo. I sent an URL update request to Ken. I'll close this, once the indexer picks up the kobuki stack.

[2012-04-12 14:10] stonier opened #54 "One version info publisher"
Combine fw and hw versio info in one latched publisher.

[2012-04-12 22:53] stonier commented on #24
Done.

[2012-04-12 22:53] #24 closed, assigned to bit-pirate

[2012-04-13 02:33] stonier commented on #43
Make sure that it works with the dashboard.

[2012-04-13 02:33] #43 closed, assigned to stonier

[2012-04-13 03:23] stonier commented on #23
I think I accidentally fixed this. Reopen if necessary.

[2012-04-13 04:56] corot commented on #46
Done.

Note: robot_pose_ekf don't fuse velocities by now, so for navigation the best is to use this imu velocity and not he odometric one

[2012-04-13 04:56] #46 closed, assigned to nobody

[2012-04-14 08:26] stonier commented on #10
It's working! Well, true test on monday, but everything seems dandy.

Needed to upgrade libftdi version to handle TYPE_R chips.

[2012-04-14 08:26] #10 closed, assigned to nobody

[2012-04-14 08:28] stonier opened #55 "Kobuki Dashboard"
Learn rosgui and create a kobuki dashboard.

[2012-04-14 08:29] stonier commented on #53
Found

[2012-04-14 08:29] #53 closed, assigned to bit-pirate

[2012-04-14 09:16] stonier opened #56 "Document kobuki_driver"
Brief notes on roswiki on how the c++ api works - i.e. distinguish the user friendly api form the raw data api.

[2012-04-14 09:16] stonier opened #57 "Document kobuki_node"
Brief notes on roswiki on how the ros node api works - i.e. distinguish the user friendly api form the raw data api.

[2012-04-14 09:49] jakan2 commented on #54
When you need the some extra information from the fw, you may use the 0x09 as a command id
Below is one example i did

[code]

[2012-04-14 10:41] stonier commented on #23
Once in a blue moon....

[code]

[2012-04-14 10:51] stonier commented on #54
Working.

[2012-04-14 10:51] #54 closed, assigned to stonier

[2012-04-14 10:51] stonier commented on #57
Also all the topic, param information.

[2012-04-14 10:52] stonier commented on #7
Don't need this - just publish the 1-dim data publicly and the 3-dim raw data privately.

[2012-04-14 10:56] stonier commented on #2
Still needs:
- unit test
- move to public namespace

[2012-04-14 10:59] stonier opened #58 "Convert reset_odometry to a subscriber"
Response has no meaning.

[2012-04-14 11:29] stonier commented on #58
Done.

[2012-04-14 11:29] #58 closed, assigned to stonier

[2012-04-14 12:02] stonier commented on #2
Done.

[2012-04-14 12:02] #2 closed, assigned to nobody

[2012-04-14 12:03] stonier opened #59 "Bumper events"
- Publish
- Test program

[2012-04-14 12:05] stonier opened #60 "Simplify sigslots"
Merge all stream packets into one sigslots connection.

[2012-04-14 12:20] stonier opened #61 "Move button state to driver"
Ideally want simplification in the driver, so users of the driver have it easy as well.

[2012-04-14 12:41] stonier commented on #60
Done.

[2012-04-14 12:41] #60 closed, assigned to stonier

[2012-04-14 12:42] stonier opened #62 "Fix keyop_core on ctrl-c"
Bloody annoying.

[2012-04-14 12:49] stonier opened #63 "Fix kobuki threading"
It is sloppy.

I suspect it is why it is crashing too.

[2012-04-14 13:10] stonier commented on #63
Done.

[2012-04-14 13:10] #63 closed, assigned to stonier

[2012-04-14 13:11] stonier commented on #23
#63 fixes this.

[2012-04-14 13:11] #23 closed, assigned to stonier

[2012-04-14 13:36] stonier commented on #62
Stoopid posix read never times out, so hangs there.

Consequently the terminal is never restored. Now hammering it with a thread cancel and restoring the terminal in the keyop destructor.

Could maybe instead write to the file descriptor programatically?

[2012-04-14 13:36] #62 closed, assigned to stonier

[2012-04-14 13:43] #9 closed, assigned to stonier

[2012-04-14 15:13] stonier commented on #61
Done. Started the event manager.

[2012-04-14 15:13] #61 closed, assigned to stonier

[2012-04-14 15:21] stonier commented on #52
Doing that via event publishers.

[2012-04-14 15:21] #52 closed, assigned to stonier

[2012-04-14 15:39] stonier commented on #59
Done.

[2012-04-14 15:39] #59 closed, assigned to stonier

[2012-04-14 15:40] stonier commented on #32
Done.

[2012-04-14 15:40] #32 closed, assigned to stonier

[2012-04-14 15:49] stonier commented on #38
Changed to kobukibot for now.

[2012-04-14 15:49] #38 closed, assigned to stonier

[2012-04-14 15:50] #7 closed, assigned to nobody

[2012-04-14 16:02] stonier opened #64 "Implement drive_mode"
Same as turtlebot - they have different modes of command. See http://www.ros.org/wiki/turtlebot_node

[2012-04-14 16:59] stonier opened #65 "Check charger bit flags"
Make sure the flags I have in core_sensors.hpp match your photo!

[2012-04-14 17:37] stonier opened #66 "Battery Level Runtime Graph"
Generate a runtime graph for battery voltage levels. We need these to set the levels used to delineate the output in battery.hpp

[2012-04-14 17:38] stonier commented on #18
BatteryTask diagnostic in. Not sure yet that it's in the useful form for the dashboard.

[2012-04-14 17:39] stonier opened #67 "Sound Module"
Implement the sound module in the driver.

[2012-04-14 17:40] stonier opened #68 "Merge Sensor Messages"
Merge all ros sensor messages into one.

[2012-04-14 17:41] stonier commented on #68
SensorState (ala turtlebot_node/SensorState).

[2012-04-14 17:50] stonier opened #69 "What is cliff data?"
What is the difference between CoreSensors.cliff and Cliff.bottom?

[2012-04-14 18:05] stonier commented on #68
Done.

[2012-04-14 18:05] #68 closed, assigned to stonier

[2012-04-14 19:36] stonier commented on #44
Done...mostly.

[2012-04-14 19:36] #44 closed, assigned to stonier

[2012-04-14 19:38] #41 closed, assigned to stonier

[2012-04-14 20:39] stonier opened #70 "Turtlebot Apps"
Start ploughing through all the turtlebot apps listed here: http://ros.org/wiki/Robots/TurtleBot

[2012-04-15 04:44] jakan2 commented on #69
### CoreSensors.cliff

CoreSensors.cliff may be consist of three flags as below

[code]

So CoreSensors.cliff will be 0x03 when robot senses cliff at right side and center.

### cliff.bottom[]

While CoreSensors.cliff reflect the cliff detection result as flag, cliff.bottom[] store three bottom PSD sensor output.
cliff.bottom[0] --> right
cliff.bottom[1] --> center
cliff.bottom[2] --> left

cliff.

[2012-04-15 04:45] jakan2 commented on #67
got you.
It would be available on Monday

[2012-04-15 04:52] jakan2 commented on #64
It was issue when we was on design phase.
At that time, our conclusion was that
- Robot can be charged without mode
- Robot can be work during charging
- Do not split the working mode which may be complicate to use robot at user point of view

Am i right?

[2012-04-15 08:26] stonier commented on #64
Yep...however this issue was about the turtlebot_node doing something different at a higher level. It uses different velocity command inputs:
- usual navigation input via cmd_vel (twist)
- turtlebot simplified input (cant remember)
- create style (same as our fw - speed/radius)

[2012-04-15 23:07] stonier opened #71 "Add interactive markers to our rviz"
Not sure what's necessary for this - whether we have to add code or just a rviz plugin. Ask marcus. But I'd like to be able to replicate one of their main tutorials:

http://ros.org/wiki/turtlebot_interactive_markers/Tutorials/UsingTurtlebotInteractiveMarkers

[2012-04-15 23:10] bit-pirate commented on #71
That' s not a trival task. We probably need to get the whole turtlebot arm
navigation stack plus few extra packages working. Do we have a working
driver for our arm?
On Apr 16, 2012 8:07 AM, "Daniel Stonier" <
reply@reply.github.com>
wrote:

[2012-04-16 02:24] bit-pirate commented on #53
On the wiki no package pages have been created except for kobuki_udev. Shouldn't that have been the case for the other packages too? Maybe we need to update our manifests?

[2012-04-16 04:15] bit-pirate commented on #53
Apparently, one needs to create the package pages manually. I did that and also updated our manifests. The new information should be up on the wiki once the indexer has finished its job the next time.

[2012-04-16 05:02] corot commented on #65
Done. Still not publishing a battery message containing both robot and laptop batteries data. I create a new issue for this

[2012-04-16 05:02] #65 closed, assigned to nobody

[2012-04-16 05:07] corot opened #72 "Publish laptop battery status"
We are already publishing robot battery status in diagnostics, but not laptop data. TBD the format, according with the visualization tool we will use (maybe turtlebot dashboard, maybe our own app)

[2012-04-16 05:08] bit-pirate commented on #71
Sorry, I have mistaken this for the interactive marker tools for turtlebot's arm. This one here is more simple.

[2012-04-16 05:10] #71 closed, assigned to stonier

[2012-04-16 05:41] bit-pirate opened #73 "Check on start-up, if robot is turned on"
Kobuki_node starts-up even if the robot is not switch on. Maybe this works, since the USB-to-serial convert is powered via USB? We should have a check, if the robot is turned on. If not, stop start-up or at least show a message.

[2012-04-16 09:23] stonier commented on #73
Good point - I can set up a function watchdogging the stream in the driver to let the system know if there is a live connection or not.

[2012-04-16 09:24] stonier commented on #72
I'm fine with keeping the robot battery status simple (i.e. simple 3-4 level warning) for now.

Laptop battery status as another diagnostic task in kobuki_node still needed though.

[2012-04-16 10:10] stonier commented on #73
Doing this now - but not just on startup, continuously via the diagnostics.

[2012-04-16 10:10] #73 closed, assigned to stonier

[2012-04-16 13:14] stonier commented on #18
These are the values used in the firmware:
- 13.5V - first warning (2Hz flashing orange)
- 13.1V - deadly emergency, the fire is going to burn us (4Hz flashing orange)

We need to test to evaluate how long this works for.

[2012-04-16 13:19] stonier commented on #67
Sound command is not yet implemented, only sound sequence.

Sound sequences:
-  0 - turning on
- 1 - turn off
- 2 - recharge start
-  3 - press button,
- 4 - error sound
- 5 - start cleaning
- 6 - cleaning end

[2012-04-16 13:23] stonier opened #74 "Create debs"
Need to get these happening at some point.

[2012-04-16 23:00] stonier commented on #30
Decided we're not going to do this - the button is damn awkward. Let's wait to see if we get feedback which really desires it.

[2012-04-16 23:00] #30 closed, assigned to stonier

[2012-04-17 00:00] stonier opened #75 "Terminate enable/disable"
Doesn't let us work very easily with interactive markers.

Actually, could just enable by default. Then our keyop continues to work.

[2012-04-17 00:05] stonier opened #76 "Charger source is not working"
Hit up einstein about this (fw thing).

[2012-04-17 00:21] stonier commented on #75
Enabled by default in kobuki_node.

[2012-04-17 00:21] #75 closed, assigned to stonier

[2012-04-17 01:09] stonier commented on #72
Let's make the laptop battery status generated by a separate program (not kobuki_node).

[2012-04-17 01:10] stonier commented on #66
There is a python program to continually rotate the kobukibot in kobuki_node/src/test/test_rotate.py.

Let's rosbag kobuki/mobile_base/sensors/core (contains the raw voltage data).

[2012-04-17 02:07] jakan2 commented on #76
There is bug. Thus it does not set the proper flag on coreSignal.charger even if it recognize the adaptor in hw.
Anyway it's fixed now.

[2012-04-17 04:48] stonier commented on #76
Good!

[2012-04-17 04:48] #76 closed, assigned to jakan2

[2012-04-17 04:58] stonier opened #77 "Document firmware download"
If we can get our new server quickly, document there...otherwise roswiki will do.

[2012-04-17 12:21] stonier commented on #70
- _Teleop_: turtlebot_bringup/keyboard_teleop.launch
- _Interactive markers_: kobuki_bringup/kobuki_interactive.launch
- _Map Build_:  kobuki_bringup/demo_gmapping.launch
- _Autonomous Navigation_: kobuki_bringup/demo_amcl.launch

All basically working.

[2012-04-17 12:44] stonier opened #78 "Diagnostics aggregator"
There's a commented launcher in minimal.launch that turtlebot uses - we want something similar.

[2012-04-17 13:33] stonier commented on #78
Up and running. Now we just need to add more detailed diagnostics.

[2012-04-17 13:33] #78 closed, assigned to stonier

[2012-04-17 17:12] stonier opened #79 "Make a map"
Get whatever is needed running to make a map.

[2012-04-17 17:12] stonier opened #80 "Test accuracy of odometry/urdf"
Line it up against a wall or something.

[2012-04-17 17:13] stonier commented on #80
Test gyro as well.

[2012-04-17 17:13] stonier opened #81 "Do some localisation"
Get whatever is needed up and running for localisation.

[2012-04-17 17:32] stonier opened #82 "Abnormal payloads"
Still quite often see these. They are always 170 bytes big.

 WARN] [1334683801.987630641]: Kobuki : abnormally sized payload retrieved, clearing [64][170]55 36 1 20 a8 0 0 0 fd 32 de 3c 0 0 0 16 a5 3 0 0 0 4 2f 24 fe ff 88 88 88 5 6a 6 44 7 72 6 6 0 0 10 48 0 ff f ff f ff f ff f f2 f 0 0 0 0 59

[2012-04-17 18:43] stonier commented on #80
Did a test against a wall with the kinect. Seems pretty good. Be good to get some actually really accurate measurements here to confirm our theoretical wheel sizes/bias.

[2012-04-17 18:43] stonier commented on #81
It's launching and working...despite the robot being crappy its alright.

[2012-04-17 18:43] #81 closed, assigned to stonier

[2012-04-17 18:44] stonier commented on #79
Really bad map of the lab made. Jorge can perhaps make a good one of some part of yujin tomorrow. This is good to read: http://answers.ros.org/question/2871/trouble-getting-an-accurate-map-with-turtlebot

Important point is to do 3-4 laps around a room before venturing to the next room.

[2012-04-17 18:45] #70 closed, assigned to stonier

[2012-04-17 19:01] stonier opened #83 "Turtlebot Advanced Apps"
- [turtlebot_follower](http://ros.org/wiki/turtlebot_follower/Tutorials/Demo) : compiles, runs, but doesn't do anything yet? kobuki_bringup/demo_follower.launch

[2012-04-17 19:08] stonier opened #84 "App manager inclusion"
Wasn't going to do this till later, but I think we need it for android app testing.

[2012-04-17 19:20] stonier commented on #84
Added - will need to redo launchers for all the apps though. Not a big drama, no coding, just remapping.

[2012-04-17 19:22] stonier commented on #83
Android:

We need the app manager. Thus we need to remap all the launchers to work for kobuki. Not a big issue. We may need to unnamespace everything too, ugh.

So far just unnamespaced the robot name and type and started the app manager. Android's app manager can find us!

[2012-04-18 11:17] stonier commented on #67
5c2f8a3818b51b82faf5deff91a8455f8d6fffc9 Test finished.

Marcus!

  0x0300 != 0x03

[2012-04-18 11:17] #67 closed, assigned to bit-pirate

[2012-04-18 23:19] stonier commented on #84
Done.

[2012-04-18 23:19] #84 closed, assigned to stonier

[2012-04-18 23:21] stonier commented on #83
Android teleop, chirp, make a map and map_nav are all working - noooiiiiicceee!

[2012-04-18 23:21] #83 closed, assigned to stonier

[2012-04-18 23:21] stonier commented on #79
Yes!

[2012-04-18 23:21] #79 closed, assigned to nobody

[2012-04-18 23:22] stonier commented on #80
Jorge cleared up some issues with odometry - note that wheel radius is hard coded in the firmware for the velocity control (it's using a speed/radius pair), ach!

Kinect placement is not exact either, but he's reset it to work as it stands.

[2012-04-18 23:22] #80 closed, assigned to nobody

[2012-04-18 23:23] stonier commented on #18
Doesn't register on android - what exactly is android using to pick that up?

[2012-04-19 14:29] stonier opened #85 "Digital Output"
Digital output api.

[2012-04-19 14:29] stonier commented on #85
Done.

[2012-04-19 14:29] #85 closed, assigned to stonier

[2012-04-19 14:30] stonier opened #86 "Led colours wrong"

[2012-04-19 14:55] stonier commented on #86
They're fine...it's the backup board that is busted.

[2012-04-19 14:55] #86 closed, assigned to stonier

[2012-04-19 14:55] stonier opened #87 "Bumpers failing"
Left -> Left + Centre
Centre -> Left + Centre
Right ->

[2012-04-19 14:57] stonier opened #88 "Rewrite chirp"
Connect it to the actual robot sounds.

[2012-04-19 15:45] stonier commented on #88
Done

[2012-04-19 15:45] #88 closed, assigned to stonier

[2012-04-19 16:03] stonier opened #89 "3.3V, 5V power pin check"

[2012-04-19 16:08] stonier commented on #29
http://redmine.yujin.com/issues/1671

[2012-04-19 16:08] stonier commented on #28
http://redmine.yujin.com/issues/1671

[2012-04-19 16:12] stonier commented on #28
[code]

[code]

[2012-04-19 16:12] stonier commented on #29
[code]

[code]

[2012-04-19 16:13] stonier opened #90 "Fuerte upgrade"

[2012-04-19 16:38] stonier commented on #28
It's publishing fine on core sensors. I just trimmed back the vector a little to remove the two redundant zeros at the end. Also why is there a fifth analog value???

[2012-04-19 16:38] #28 closed, assigned to stonier

[2012-04-19 17:02] stonier opened #91 "Zeroconf master"

[2012-04-19 17:14] stonier commented on #91
Added.

[2012-04-19 17:14] #91 closed, assigned to stonier

[2012-04-19 17:15] stonier commented on #89
Was powering the varistor and led's.

[2012-04-19 17:15] #89 closed, assigned to stonier

[2012-04-19 17:21] stonier opened #92 "Mongo maps"
How to pull mongo maps from the db?

[2012-04-19 17:44] stonier opened #93 "Sensor diagnostics"
Add good diagnostics for all our sensors.

[2012-04-19 23:53] stonier opened #94 "Bad Serial Packets"
Suddenly seeing this very occasionally:

[code]

[2012-04-20 04:42] stonier commented on #92
http://redmine.yujin.com/projects/kobuki/wiki/Maps_database

[2012-04-20 04:42] #92 closed, assigned to nobody

[2012-04-20 04:42] stonier commented on #87
The lads fixed it. Problem in the board (soldering) and hw.

[2012-04-20 04:42] #87 closed, assigned to stonier

[2012-04-20 05:14] stonier opened #95 "What is the Android Cog?"
What is that cog that sits alongside the battery graphics in the android apps?

[2012-04-20 10:06] bit-pirate opened #96 "check why we need two unstable rosinstallers"
why is there a separate rosinstaller for jenkins. remove if possible, otherwise we need to keep two installers updated ...

[2012-04-20 10:18] bit-pirate opened #97 "check for missing dependencies in kobuki_description"
gazebo simulation needs controller libraries; add them to the manifest

[2012-04-20 10:20] bit-pirate opened #98 "add kobuki_gazebo to kobuki_bringup dependency?"
or keep both separate?

[2012-04-22 23:33] stonier commented on #96
Ive no idea - wasn't that you who made the jenkins rosinstaller!?

[2012-04-22 23:46] stonier commented on #98
Doesn't really matter to me. It's a massive separate install, but the install unit is the stack, not the package, so when you install the stack, you'll bring it all in if it's a dependency of bringup or not.

If we really did want to separate it so that users can avoid that large install, we should create a new stack.

Does turtlebot have a different stack for gazebo related stuff?

[2012-04-23 23:46] bit-pirate commented on #20
The necessary files for the Gazebo simulation are mostly only a modified copy of the turtlebot/create. We need to update and adapt them to the actual Kobuki, e.g. simulate the sensor we have. Also, we still need to get a nice mesh for our robot. Hence, I'll keep this issue open.

[2012-04-23 23:49] bit-pirate commented on #98
Yes, for turtlebot there is a separate stack for the Gazebo simulation. We could follow this structure.
stack: kobuki_simulator
packages: kobuki_gazebo, kobuki_gazebo_plugins,...
So, will we create a new repo in the Yujin account?

[2012-04-24 00:00] bit-pirate commented on #96
aiiishh, now - after jenkins build failer :-) - I remember. The unstable rosinstaller wants read/write access to the git repos it is checking out. Hence, we either need to add Jenkins to the developers list :-) or we keep on with two rosinstallers. I guess in the long run we need a "read-only" rosinstaller anyway, or will that case be handle by the debs?

[2012-04-24 00:37] stonier commented on #96
Yeah, I think everything should be read only. At least, I try and do like that.

Reason: even in yujin, not everyone is on each git account, but will often want to download the code (mr yes for robots for instance). So it's a good habit to have it read only, and then developers just set the remote-url --push. We have to start setting up a convenient git alias list.

[2012-04-24 00:41] stonier commented on #98
Do you think our gazebo stuff will evenutally merge with theirs or stay separate?

[2012-04-24 00:43] stonier commented on #98
Having said that, I'm fine with another stack along very similar lines if you want to create it. Principle of least resistance for everybody who might want to use it/test it.

[2012-04-24 01:00] bit-pirate commented on #98
Actually, we only need a gazebo controller plugin for kobuki (kobuki_gazebo_plugins) + some kobuki specific launch files (kobuki_gazebo). We could talk to the turtlebot guys, if we shouldnt add our controller plugin to the turtlebot_simulator stack.

[2012-04-24 04:54] stonier commented on #82
Hrmm, strangely missing now.

Young Hoon thinks this might have been due to ftdi/usb on lower kernels.

Reopen if we see again.

[2012-04-24 04:54] #82 closed, assigned to stonier

[2012-04-24 04:56] stonier commented on #94
Maybe related to #82.

Reopen if we see again.

[2012-04-24 04:56] #94 closed, assigned to stonier

[2012-04-27 10:22] stonier opened #99 "Handle serial dropouts cleanly"
[code]

[2012-04-27 10:27] stonier opened #100 "Handle serial uninitialisations cleanly"
[code]

[2012-04-27 10:38] stonier commented on #100
Ach, that one isn't serial uninits...it is babo app manager.

Dont want to fix that.

[2012-04-27 10:38] #100 closed, assigned to stonier

[2012-04-27 10:39] stonier commented on #99
Ach...also app manager! See #100

[2012-04-27 10:39] #99 closed, assigned to stonier

[2012-04-27 10:50] #96 closed, assigned to bit-pirate

[2012-05-04 07:44] bit-pirate commented on #90
just started working on this

[2012-05-04 10:01] bit-pirate opened #101 "move simulation packages to new kobuki_simulator stack"
also check, which stack dependencies can be removed

[2012-05-07 01:19] bit-pirate opened #102 "move kobuki_apps into a separate stack and repo"
and move kobuki_arm to kobuki_apps

[2012-05-09 10:20] yhju opened #103 "Could not open /dev/kobuki. Access permission was denied."
When I launch mobile_base.launch in kobuki_bringup on the Ubuntu Precise Distro,

[code]

[2012-05-09 10:33] yhju commented on #103
I can bypass this problem, by apply below command.

[code]

But it is temporary solution, until usb cable unplugged.
permission of /dev/kobuki is resetted to root:root.

It is problematic only with precise

[2012-05-09 17:58] yhju commented on #29
Digital and anglog inuputs are just works, except digital output.
Led command is not working, too.

[2012-05-10 14:22] stonier opened #104 "Kobuki stable rosinstaller fubar'd"
It should not be fuerte! Fuerte is unstable and pulling trunk/masters.

Rewind back to electric for stable.

[2012-05-10 14:22] stonier opened #105 "Update new unstable rosinstaller for fuerte"

[2012-05-10 14:26] stonier commented on #104
Ah, that was from the fuerte branch...master is ok.

[2012-05-10 14:26] #104 closed, assigned to stonier

[2012-05-11 05:32] stonier commented on #105
Done.

[2012-05-11 05:32] #105 closed, assigned to stonier

[2012-05-11 05:33] stonier opened #106 "Roswiki fuerte install docs"
Just in case we need access to them in america.

[2012-05-11 05:42] stonier commented on #106
Done.

[2012-05-11 05:42] #106 closed, assigned to stonier

[2012-05-11 07:14] stonier commented on #103
Setting the GROUP (USER as well) ownership in the udev rule doesn't seem to work, even when using := (implies do not let any other rules override this one).

[code]

Probably something lower is calling := before this one gets a chance.

[2012-05-11 07:19] stonier commented on #103
Moving it from level 57 to below 40, and it will fail to detect at all. Probably a standard tty rule is picking and setting it's own := style command. Will let this sit for a while since precise is so new and because we have a workaround.

[2012-05-11 07:26] stonier opened #107 "Hate turtlebot's keyboard_teleop"
Bring some velocity smoothing into the damn thing already.

Make our own package?

[2012-05-11 09:53] bit-pirate commented on #107
I'll vote for the first one!

2012/5/11 Daniel Stonier <
reply@reply.github.com

[2012-05-16 15:05] stonier commented on #103
Reopening this until we have a working GROUP setting.

[2012-05-16 16:09] stonier opened #108 "Willow feedback - teleop namespacing"
The teleop was run in a namespace which had to be removed.

[2012-05-16 16:10] stonier opened #109 "Willow feedback - timeout very long"
Cmd velocity timeout was very long. Needs to be reduced.

[2012-05-16 16:10] stonier opened #110 "Willow feedback - cmd_vel confused"
Acting as though it's command is vx vy not vx and vtheta.

[2012-05-16 16:21] stonier opened #111 "Willow feedback - wheelies are cool, but acceleration smoothing!"
They mentioned that it was doing wheelies. This could be either the toppling issue...but more likely I think it is due to the control effect when you send a command to the robot after it's been idle. I noticed this at roscon.

I can send a command of only 7cm/s (very slow), but in the first 0.5secs, the robot tries to launch into space (really high torque). Then it drops back to really low torque

[2012-05-16 16:29] #109 closed, assigned to stonier

[2012-05-16 16:30] stonier commented on #108
This was already removed - looks like willow was using a slightly old version of the file.

[2012-05-16 16:30] #108 closed, assigned to stonier

[2012-05-16 17:07] stonier commented on #103
Yeah, young hoon is the legend. It was worknig, just on ttyUSB0 not the symlink. After that just needed to make sure the user was added to the correct group.

[2012-05-16 17:07] #103 closed, assigned to nobody

[2012-05-17 07:58] bit-pirate opened #112 "libavahi-core-dev still needed?"
Lucid + Electric rosinstaller for Jenkins contained this dependency. What was/is using it?

[2012-05-17 09:31] stonier commented on #112
Zeroconf.

It's probably breaking due to the change in rosdep1->rosdep2. With their new standards for rosdep2, the keyword changed from avahi->libavahi-core-dev. It's possible to make them compatible. Probably the easiest way of making this backwards compatible is by backporting the rosdep.yaml and manifest.xml in zeroconf_implementations master to electric and fuerte branches.

You can try it if

[2012-05-17 10:24] stonier opened #113 "Velocity commands not converting properly"
Getting very strange behaviour for low negative velocity and rotational commands - almost no speed and rotates in the wrong direction.

[2012-05-17 10:39] stonier commented on #113
Fixed an issue with the use of std::max in the software driver. Now the command output is symmetrical and observed output seems to be behaving well.

1b3f3db

Write a proper program to convert input command->fw command->platform movement->output vx,wz to verify everything when I get back.

[2012-05-17 10:41] stonier commented on #113
Einstein's first test code to do this:

[code]

[2012-05-17 10:52] yhju opened #114 "Led command warning with beep"
it will be awesome

[2012-05-17 11:11] yhju commented on #72
We can reuse a script at turtlebot_node/scripts/laptop_battery.py
But some modification and generalisation is required.

Some laptop has /proc/acpi/battery/BAT0 and some other laptop has /proc/acpi/battery/BAT1
Even units of capacity may vary.

[2012-05-17 11:15] stonier commented on #113
Added more robust corner case (close to zero) handling, also velocity commands is doing part of what we want above. Should be enough for now.

af7946f9b5a5a8536c

[2012-05-17 11:15] #113 closed, assigned to stonier

[2012-05-17 14:17] stonier opened #115 "Digital output flipped"
I don't know if this is in hardware or firmware but the digital output leds on the test board are lit up when false, not lit up when true.

[2012-05-17 14:22] stonier commented on #115
Looks like it is hardware - for some reason they turn led's on by default at 0?

It's a hardware thing. Talk to Hyeong-Ju about doing this differently in the future (principle of least surprise).

[2012-05-17 15:42] stonier opened #116 "Wheel drop event"
Make a wheel drop event just like the bumpers.

[2012-05-17 20:56] stonier opened #117 "Serial comms port"
Can firmware automatically redirect output here? Important for people like national instruments who will be putting a vxworks board on top.

[2012-05-17 20:57] stonier opened #118 "Vxworks driver?"
How would we support this?

[2012-05-17 20:57] stonier opened #119 "Fuerte kinect support"
Doesn't work...flamin hell! What a time to find out.

[2012-05-17 23:48] bit-pirate commented on #112
Well, Kobuki currently builds fine without libavahi. That is what made me wonder, why its there. Anyway, as long as everything works, we can tackle that next week.

[2012-05-17 23:51] jakan2 commented on #111
A kubuki has slightly larger gain than iclebo arte.
But i am wandering that it has high speed initially. In the case of iclebo arte, its motion is smoother.
I will get the some data then compare with iclebo arte.

[2012-05-17 23:54] jakan2 commented on #117
_What kind of output?_
- Is that just serial output?
- Is that control output (motor)?

[2012-05-17 23:56] bit-pirate commented on #114
it's gonna be legend ...

[2012-05-17 23:56] bit-pirate commented on #114
wait for it

[2012-05-17 23:57] bit-pirate commented on #114
dary!

[2012-05-17 23:57] bit-pirate commented on #114
:-)

[2012-05-18 09:48] stonier commented on #112
zeroconf_avahi will fail to compile without that. Maybe that is not actually getting compiled. Or probably the server has already installed the deb (we don't sandbox properly -i.e. install debs and then uninstall debs).

[2012-05-18 09:55] stonier commented on #117
All the output - instead of sending it to the serial port with the ftdi chip, send it to the last serial port where the data can be caught on the big pin port. Then the national instruments guys can write their own vxworks driver to convert the kobuki protocol to what they need.

Is this the right thinking?

[2012-05-18 09:56] stonier commented on #110
I don't really understand their comment above, but I think I found the issue with #113. Reopen if necessary.

[2012-05-18 09:56] #110 closed, assigned to stonier

[2012-05-18 09:58] stonier commented on #119
Can use openni_camera_depracated. But we need to upgrade to use openni_camera. I've started work on modifying the launcher, but will need some testing.

[2012-05-18 10:03] bit-pirate commented on #112
I uninstalled the deb manually to test that. So, I think zeroconf is not
compiled or sth else is happening.

2012/5/18 Daniel Stonier <
reply@reply.github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republik Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republic of Korea
주소: 대한민국 서울특별시 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0

[2012-05-18 19:13] #107 closed, assigned to stonier

[2012-05-18 19:23] #72 closed, assigned to nobody

[2012-05-23 07:22] stonier commented on #90
Working, well enough for roscon and tablet apps.

[2012-05-23 07:22] #90 closed, assigned to stonier

[2012-05-23 07:24] stonier commented on #29
It's up and running now.

[2012-05-23 07:24] #29 closed, assigned to stonier

[2012-05-23 07:29] stonier commented on #114
Perhaps just reimplement led's without a confusing array. i.e. just led1 and led2 variables. If we need arrays in the future, worry about it then.

[2012-05-23 07:29] stonier opened #120 "Ask sig about google bots"
Wondering how easy it would be to set up each robot with a google account and run services autonomously within a ros framework.

[2012-05-24 05:29] stonier commented on #112
I fixed the rosdeps...also rereleased ecl and zeroconf_implementations, but still sourcing them while they go through the release process. Should be ok.

[2012-05-24 05:29] #112 closed, assigned to nobody

[2012-05-25 11:20] yhju commented on #111
To avoid these uncomfortable behavior, we can add 'high acceleration smoothing' feature in the middle of kobuki_driver package. And by using some parameters(or dynamic_reconfigure? or services?), user can selectively disable/enable it.

[2012-05-29 01:11] stonier commented on #111
Disable/enable doesn't need to be dynamic reconfigure or ros api'd. I imagine users will either want it on or off, not changeable in the runtime.

[2012-05-29 01:12] stonier commented on #66
Also update the battery module to better reflect the current state.

[2012-05-29 01:16] stonier opened #121 "Dev access to turtlebot stack"
Write willow to get dev access to turtlebot stack so we can start merging code.

[2012-05-29 01:17] stonier commented on #116
Should be a publisher, publishing to ~/events/wheel_drop or something similar.

[2012-05-29 02:17] stonier commented on #114
Make sure kobuki_node/src/test/test_led_array.py is updated and working.

[2012-05-29 23:53] stonier commented on #66
I was asking Einstein about battery variation this morning. It can be significant, so perhaps doing the runtime test on just one battery is not sufficient. In addition, if the battery supplier should change things, or we change batteries, suddenly, everything will be different again.

Point : we probably need to be able to reproduce these runtime graphs quite often, so let's create a simple setup

[2012-05-31 05:24] yhju commented on #116
done.
it will publish events to ~/events/wheel_drops.

[2012-05-31 06:24] yhju commented on #114
Implemented and tested.
Done.

[2012-05-31 06:24] #114 closed, assigned to nobody

[2012-05-31 23:03] stonier commented on #116
Can you update test_events.py with the new event as well?

[2012-05-31 23:15] stonier opened #122 "Do not log if there is no listeners"
This is with regard to 618cef517ee5bba02ffc02d3cbe6dead7f9651f6

Some principles to follow when adding logging to a control program:

1) If it is spammy, set up a boolean to control if it is on or off. Spammy logging makes it very hard to diagnose normal problems, so it should only be present if it is needed.

2) Do not process logging strings if there are no listeners or slots. This can be really

[2012-06-01 00:19] corot commented on #66
We have some data:
- 4 cells battery: 4 hours, 33 minutes
- 8 cells battery: 15 hours, 48 minutes

However, during the test with the 8 cells battery, the robot was not moving for about 20 minutes.

The huge different is quite surprising... Maybe the small battery was wrong, or not 100% charged?

[2012-06-01 00:43] stonier commented on #122
Thought there was something in signal's api. Ach.

I'll add something early next week in ecl_sigslots, then we can update kobuki code.

[2012-06-01 00:54] stonier commented on #66
Really big difference.

What happened with the rosbag problem by the way?

Also, I think we should probably get this all configured, like a factory line, and run tests, like Einstein said, on 3 batteries of each type. Maybe we can get their iclebo test engineers to help us.

[2012-06-01 09:34] #116 closed, assigned to nobody

[2012-06-04 00:55] stonier opened #123 "Battery warning spam if no battery"
Only warn once, not repeatedly.

[code]

Uncomment the laptop battery call in minimal.launch when fixed.

[2012-06-04 04:10] stonier opened #124 "Rewire base control commands"
This is messy. It's doing it's own thing and not using the command module.

Clean up.

[2012-06-04 04:53] stonier commented on #124
Done. Sharing the buffer now.

[2012-06-04 04:53] #124 closed, assigned to stonier

[2012-06-04 04:54] stonier opened #125 "Serial writes unprotected"
These are potentially accessible from multiple threads.

Need to mutex around the serial.write().

[2012-06-04 04:54] stonier commented on #125
Done.

[2012-06-04 04:54] #125 closed, assigned to stonier

[2012-06-04 04:55] stonier commented on #122
Push and pop can now be formatted. Signal is sending out a reference handle and the node is formatting it there if there are subscribers.

[2012-06-04 04:55] #122 closed, assigned to nobody

[2012-06-04 04:56] stonier opened #126 "High acc smoother has trans when rotating finishes"
Rotating commands do not smoothly finish at rest - they give a small jerk to translations.

Test with

[code]

[2012-06-04 05:05] stonier opened #127 "Docking solution design"
Design a plan for docking solution design.

Melonee said they have started some code for working with docking on turtlebot 1. Find that and see what it does.

Then work out how we can implement our feedback for that.

[2012-06-04 05:11] stonier commented on #66
Talk with einstein again - lets work out a standard procedure for generating battery graphs, both via hardware and via turtlebot software.
- Try on 3x4S1P batteries, 3x 4S2P batteries.
- Document procedure : http://redmine.yujin.com/projects/kobuki/wiki/Generating_Runtime_Graphs
- Put some graphs up on kobuki web site : http://kobuki.yujinrobot.com/
- Tutorial for turtlebot users if they want to g

[2012-06-04 05:12] stonier commented on #64
Don't really want to do this, only do if necessary.

[2012-06-04 05:14] stonier commented on #93
Look at what the turtlebot does, at least implement much of what they have.

Then work out what more we want.

[2012-06-05 00:48] yhju commented on #127
https://kforge.ros.org/turtlebot/auto_doc

Here it is.

[2012-06-05 08:25] stonier opened #128 "Bumper/Cliff hw reactive control"
Speed off if bumper signal or cliff sensor signal received.

Tully briefly mentioned this was desirable, but not sure if we really want to do - there are alot of navigation plans that actually use the bumper signal.

[2012-06-07 01:16] yhju commented on #123
Done by e34428db1df893b36e604f17156837af3ab380cb

[2012-06-07 01:16] #123 closed, assigned to nobody

[2012-06-08 05:49] corot commented on #66
After retesting a bit more carefully:

4S1P: 4:33
4S2P: 8:54

What match really well the results from electronics team:

4S1P: 4:36
4S2P: 8:45

Also the voltage curves match almost perfectly can check both here:

   http://redmine.yujin.com/projects/kobuki/wiki/Generating_Runtime_Graphs

The huge time obtained for 4S2P in the first test was probably the result of not having the kinect running. We

[2012-06-11 01:14] #66 closed, assigned to nobody

[2012-06-11 02:00] stonier opened #129 "Battery Documentation"
Need the following done:
- [Roswiki Tutorial](http://ros.org/wiki/kobuki/Tutorials) for generating a battery graph with kobuki turtlebot. It should reference our graphs back on rnd.yujinrobot.com
- [Move Battery Swap Tutorial](http://ros.org/wiki/kobuki/Tutorials/Battery%20Bombastics) to our website [HowTos](http://kobuki.yujinrobot.com/index.php/support/howtos/). Leave the tutorial on the roswiki

[2012-06-11 02:07] stonier commented on #77
Documentation needs to go here: http://kobuki.yujinrobot.com/index.php/support/howtos/

[2012-06-11 02:17] stonier opened #130 "Kinect Location & Poles"
- Confirm (turtlebot sig) what the status is with the slight turtlebot urdf location error.
- Confirm that our poles are not in the kinect field of view.

[2012-06-11 02:18] stonier opened #131 "Speed constraint"
Upgrade firmware to remove the forward speed constraint.

Test.

[2012-06-11 03:45] yhju commented on #126
Implemented and tested with ad906f0a6ebeb732afb5938f79200f8eb4bccabf
Done.

[2012-06-11 03:45] #126 closed, assigned to nobody

[2012-06-11 03:47] yhju commented on #111
Implemented and tested with ad906f0a6ebeb732afb5938f79200f8eb4bccabf
Done.

[2012-06-11 03:47] #111 closed, assigned to nobody

[2012-06-11 06:31] stonier opened #132 "Asus Xtion Pro Location & Poles"
YoungHoon - work with DesignK to make sure we can mount the xtion pro correctly for a turtlebot.

[2012-06-12 00:28] corot commented on #129
Did it. It would be interesting to provide matlab scripts also?

[2012-06-12 00:28] #129 closed, assigned to nobody

[2012-06-12 01:48] yhju commented on #69
I think jakan2's answer is good enough.

[2012-06-12 01:48] #69 closed, assigned to stonier

[2012-06-12 02:51] stonier commented on #129
I think its fine as is. When I was teaching I found showing too many methods in simple tutorials actually just confuses students.

Could use a screenshot of the rxbag plot though.

[2012-06-12 03:57] corot commented on #129
네!

2012/6/12 Daniel Stonier
reply@reply.github.com:

[2012-06-13 07:20] corot commented on #93
We provide now the following diagnostics:
- robot-laptop link watchdog
- robot/laptop batteries status
- sensors: bumper, cliff, wheel drop, motor current, gyro
- input ports: analog, digital

In the tutorial http://www.ros.org/wiki/kobuki/Tutorials/Diagnostics we also explain how to use specific tests.

[2012-06-13 07:25] corot opened #133 "Create additional tests for kobuki"
For example
- test odometry linear accuracy (run a known distance)
- test odometry angular accuracy (turning a known angle and/or comparing with gyro)

Something more?

[2012-06-13 07:25] corot commented on #93
I close the issue, but there's still things to do, so I opened a new one related (#133)

[2012-06-13 07:25] #93 closed, assigned to stonier

[2012-06-19 08:54] corot commented on #119
In fact, openni_camera_depracated doesn't work properly in fuerte/preciese. I have fixed it installing the unstable debs of openni. I'll try to complete the migration to fuerte asap.

[2012-06-19 09:57] yhju opened #134 "Interface to control external power"

[2012-06-19 09:59] yhju opened #135 "digital input events?"

[2012-06-20 02:51] corot opened #136 "Battery charge not shown in Android apps"

[2012-06-20 03:00] corot commented on #136
Fixed with two changes:
- I modified diagnostics.yaml to remove the node name (by adding remove_prefix: mobile_base)
- We send Current Charge and Capacity diagnostic values. See /kobuki_node/src/node/diagnostics.cpp

NOTES:
- As "Current (A)", we send 0 when the robot is unplugged and 3.14 if charging/charged. 3.14 is the current supplied by our basic charger. So if this changes, or the docking ba

[2012-06-20 03:00] #136 closed, assigned to nobody

[2012-06-20 04:35] corot opened #137 "Battery charge set to 100% just after connecting it to the adapter"
This happens because the robot signals "charged" for about a second just after connecting it, and then switches to the correct state of "charging"

[2012-06-20 04:43] corot commented on #137
After talking with cheyong, we have decided to postpone this. He will fix in the controller, what will be cleaner that a hack in the driver.

[2012-06-20 05:17] jakan2 commented on #77
daniel

I made how-to page on kobuki (http://kobuki.yujinrobot.com/index.php?cID=159
)
How about it??? that is my first page, would you like to give some comments
on it.
I will add the more figures for the user.

2012/4/17 Daniel Stonier <
reply@reply.github.com

[2012-06-20 06:24] corot opened #138 "How to load a static (i.e. bitmap) map in the maps database?"
Now we do the inverse operation: create a map with kobuki android make_a_make app, and export it from the mongo database to a bitmap and metadata yaml file.

But we cannot provide our previous maps on map_store, what forces us to re-create maps that we already have to use them with kobuki android map_nav app.

[2012-06-20 07:16] stonier commented on #137
Sounds good.

[2012-06-20 07:17] stonier commented on #138
no services provided by the map_store node?

[2012-06-21 00:20] corot commented on #138
Yes,  add_map.py

But I'll write a short tutorial with all the steps: launch database,
load and publish map, launch map_store and call add_map

2012/6/20 Daniel Stonier
reply@reply.github.com:

[2012-06-21 00:42] stonier commented on #135
Put these under a publisher in xxx/events so that a user doesn't have to listen and parse the core sensor publisher at high frequencies.

[2012-06-21 01:09] corot commented on #135
I'll also create wheel drop and cliff events;  cannot see a reason to
have bumpers as the only sensor that trigger events

2012/6/21 Daniel Stonier
reply@reply.github.com:

[2012-06-21 07:40] corot commented on #135
Should we raise other events?
- adapter plug/unplug
- robot stalled (can be inferred comparing motor current and current velocity)

[2012-06-21 07:40] #135 closed, assigned to nobody

[2012-06-21 07:51] stonier commented on #135
Adapter is probably a useful one. Or more generally - charging.

Stalled - we could do, is it something you use alot?

[2012-06-22 01:44] stonier commented on #77
It's funny :) Very friendly english.

One good english piece of advice - don't use quick english in official documentation. e.g. fw -> firmware. Even small numbers like 1-10 should be written one to ten. Such 'lazy' english does not get very respected in official documents (teenagers may use on their sms though or 'devs' on their github issues!).

[2012-06-22 02:04] corot commented on #138
mmm... turned to be much easier with the add_map.launch script. Anyway, I added a short howto in redmine.

[2012-06-22 02:04] #138 closed, assigned to nobody

[2012-06-25 00:21] corot opened #139 "Trigger adapter/docking base plug/unplug events"

[2012-06-25 05:31] corot commented on #139
We raise events in 3 cases:
- plug/unplug to the docking base or adapter
- transitions to low/critical battery levels
- battery charge completed

When plug/unplugged we generate "phantom" battery full event due to issue #137. They should disappear as we implement it.

[2012-06-25 05:31] #139 closed, assigned to nobody

[2012-06-27 05:10] corot commented on #119
I did it for topseung, and will do the same for kobuki

[2012-06-27 08:19] corot commented on #119
The openni_launch package also publish kinect "internal" tfs, so I have removed them from the xacro file. I suppose this fix the issue with the kinect frames: the new ones are slightly displaced in relation to the old ones, but I haven't verified if the difference is the same that Younghun noticed.

[2012-06-27 08:19] #119 closed, assigned to stonier

[2012-06-28 00:26] stonier commented on #95
Leave this till we really look at android apps.

[2012-06-28 00:28] stonier commented on #134
Young Hoon - what is this!????

[2012-06-28 02:02] yhju commented on #134
kobuki already has interface to turn on/off external powers(3.3V ~ 12V)
By using just upper four bits of digital_output.

[2012-06-28 05:01] corot commented on #130
In the Mk II are not in the 3D sensor fov. In the RGB you can see a very thin line of the upper plate in the left side because the kinect and the plate are not perfectly aligned

[2012-06-28 07:17] corot commented on #47
Provides both. Should I close this?

[2012-06-28 07:28] corot opened #140 "Control the frequency at which we send command to the serial port"
If the user spams the serial port sending commands faster than the 20 ms period the firmware needs, this provokes errors and some commands are not executed.

As a possible solution, we could queue the commands as they arrive and send them asynchronously at the maximum allowed frequency.

[2012-07-01 08:14] stonier commented on #130
Need to corroborate with young hoon on this - he got images showing the problem being fairly significant.

What is the status on moving the poles young hoon?

[2012-07-01 08:15] stonier commented on #47
If it looks good, sure. The cliff sensors have their own events now? (they'll be triggering off the binary value I guess)

[2012-07-01 23:07] corot commented on #47
Yes (and yes)

[2012-07-01 23:07] #47 closed, assigned to nobody

[2012-07-02 09:46] corot commented on #140
Looks like the robot can accept commands at 150 hz minimum (I didn't check exactly how fast, but at 200 hz fails quite often).

[2012-07-02 09:46] #140 closed, assigned to nobody

[2012-07-03 00:48] #131 closed, assigned to jakan2

[2012-07-03 00:59] jakan2 commented on #115
What i understand is that it supply high if user set the 1 for particular point of digital output.
Reason why we confused is led is turns on when it get the zero voltage not high voltage by its circuitry.

_Can we close this one????_

[2012-07-03 01:54] jakan2 commented on #137
It's fixed now

[2012-07-03 04:02] stonier commented on #115
Young Hoon, did you confirm the voltage levels?

[2012-07-03 08:02] yhju commented on #130
I am working with DK. He will assemble a new pole and plate today.
Anyway, for the detailed information with picture, just check the issue #1954 on redmine.

[2012-07-03 08:03] yhju commented on #55
Ok.

[2012-07-03 08:17] stonier commented on #130
Redmine issue: http://redmine.yujin.com/issues/1954

Still waiting on willow about the urdf location error - tully has replied and they'll investigate.

[2012-07-12 07:20] stonier commented on #55
http://ros.org/wiki/rqt

Alot of the infrastructure is there.

[2012-07-17 04:47] mskim8717 commented on #132
DesignK has a 3d printed mould we can use on top of the kinect poles.

But...looks like asus is discontinuing, so don't worry about this for now.

[2012-07-17 04:47] #132 closed, assigned to nobody

[2012-07-17 04:47] mskim8717 commented on #121
Done (stonier).

[2012-07-17 04:47] #121 closed, assigned to stonier

[2012-07-17 07:18] stonier opened #141 "Absolute namespace for openni"
Why do we use ns="/" in the kinect.launch?

[2012-07-17 07:20] stonier commented on #141
You can trace things to openni.launch where it uses a / for the nodelet manager (there is a comment there saying it has to be fully resolved).
- Why do they do this in openni launch? We open nodelet managers and load underneath topseung namespace all the time.
- If we do like this, we need a way to make sure we don't have a problem if we start two kobuki's.

[2012-07-17 07:22] #137 closed, assigned to jakan2

[2012-07-17 07:23] #77 closed, assigned to jakan2

[2012-07-17 07:23] stonier commented on #64
Keep it simple. Just use our api or the cmd_vel.

[2012-07-17 07:23] #64 closed, assigned to stonier

[2012-07-20 01:15] stonier opened #142 "Gazebo problems"
[code]

This fails with a boost shared pointer problem. Uncommenting the inertial link for the base footprint (http://answers.ros.org/question/38465/fuerte-turtlebot-simulator-ubuntu-1204-precise/) fixes it, but introduces a kdl warning.

[code]

The resulting gazebo empty world is also blue (sky getting mixed up with the ground?).

Another problem:

[code]

This is coming from turtlebot_gazebo's

[2012-07-20 01:22] stonier commented on #142
We can work in the turtlebot stacks (they are now added to kobuki_unstable.rosinstall).

When we identify problems, we should [ticket](http://kforge.ros.org/turtlebot/trac) them.

Once we're happy with fixes, let's commit them (use Daniel's account).

[2012-07-20 07:31] corot commented on #133
All test are now in kobuki_testsuite package.

[2012-07-20 07:31] #133 closed, assigned to nobody

[2012-07-23 07:58] stonier opened #143 "Kobuki Bone"
New app to identify and follow an opbject.
- New app, 'Kobuki Bone' - get it working and running inside kobuki's app manager.
- Retrieve the rgb image stream
- Look for the red ball in the image stream using opencv
- Do floor plane detection with PCL
- Do not use opencv, use PCL to look for red 3d spheres (red balls).

Optional stuff later
- Generate trajectories for balls, follow trajectories eve

[2012-07-23 07:58] stonier commented on #143
Add ideas if you have any.

[2012-07-23 08:48] yhju opened #144 "Vibration at low speed commands"
Rotation velocity vibrate periodically at low speed(0.33 rad/s).
But, it is relatively stable at 0.66 rad/s or higher.

[2012-07-23 08:53] yhju commented on #144
See Also: Redmine Issue [#2083](http://redmine.yujin.com/issues/2083). Please check that as it has Young Hoon's test result plots.

[2012-07-23 09:03] corot commented on #133
I have updated the kobuki tutorials (http://www.ros.org/wiki/kobuki/Tutorials) accordingly

[2012-07-23 09:30] #102 closed, assigned to mskim8717

[2012-07-25 02:28] bit-pirate commented on #142
OK, I tracked down the source of the KDL warning. The kdl_parser is responsible for this. There seems to be a design mismatch between KDL and Gazebo. The first can't handle inertia in the root link, the later now needs it. I say "now", because Gazebo in Electric was working fine without root link inertia.
I opened a ticket for the [KDL parser](https://kforge.ros.org/turtlebot/trac/ticket/138) and

[2012-07-25 07:37] stonier commented on #142
The blue sea came in from a big update to the empty world file 3 months ago (this [diff](http://kforge.ros.org/turtlebot/simulator/rev/2ff182094fcc)).

Melonee also updated the xml tags to what seems to be a new gazebo style (big facelift).

I don't think this is a bug - rather just Melonee being funny.

[2012-08-28 02:48] corot commented on #20
Not sure if this should be a new issue by its own....

We are till now ignoring kinect calibration parameters (stored on file turtlebot_calibration.xacro). We have by now a default calibration that I have no idea from where it comes from. Probably from Turtlebot default values. I think we should provide an all-zeros file and a procedure for calibration similar to the turtlebot one (no idea how it

[2012-08-31 07:22] bit-pirate commented on #20
DK and I are now working on an precise kinematic model and a nice mesh.

[2012-09-03 07:41] bit-pirate commented on #20
@ calibration file: It is use to properly place the Kinect on top of Kobuki (resp. the iCreate). After the design is fixed, we need to write down the correct values for the Kinect and Xtion.

[2012-09-18 05:51] yhju opened #145 "rosdep broken"
[code]

[code]

[2012-09-18 07:00] stonier commented on #145
- Do you have the latest rosdep (i.e. rosdep2)?
- Do you run rosdep update?

[2012-09-18 07:55] yhju commented on #145
yes.

pretty sure.

[2012-09-19 08:43] stonier commented on #117
Put this on the todo until we actually have a need.

[2012-09-28 02:45] yhju opened #146 "Single test script in kobuki_testsuite"
To testing and verifying mid-volume of electronic boards quickly, without full-assembly.
It will be a collection of already existed scripts.

[2012-09-28 02:45] yhju opened #147 "Single test script in kobuki_testsuite"
To testing and verifying mid-volume of electronic boards quickly, without full-assembly.
It will be a collection of already existed scripts.

[2012-09-28 03:36] yhju opened #148 "Detecting presence of serial device"
To enable continuous testing of many robots without restarting kobuki_node and kobuki_driver.

[2012-09-28 03:38] yhju commented on #146
Oops, duplicated with #147.
Closing it.

[2012-09-28 03:38] #146 closed, assigned to nobody

[2012-10-04 10:40] yhju commented on #134
Implemented and Tested.
Done with 9b2a9c3.

[2012-10-04 10:40] #134 closed, assigned to nobody

[2012-10-09 00:18] yhju opened #149 "Check for cross platform support of kobuki_driver"
At least on Windows.

[2012-10-09 00:56] stonier commented on #149
11월초.

Waiting for groovy catkin freeze and big winros update.

재영 also waiting for catkinized ecl to do cross compiles.

[2012-10-09 09:22] yhju commented on #149
What I mean is cross platform compatibility of just `kobuki_driver` package for non-ROS or embedded applications.
But **turtlebot** with **winros** is also preferable.

[2012-10-09 09:28] stonier commented on #149
Turtlebot has no relevance.

I need groovy catkin to cross-compile or msvc-compile (via winros) both ecl and kobuki_driver packages.

[2012-10-09 10:07] bit-pirate commented on #101
done

[2012-10-09 10:07] #101 closed, assigned to bit-pirate

[2012-10-09 10:10] bit-pirate commented on #142
This has been fixed (see track tickets for details).

[2012-10-09 10:10] #142 closed, assigned to bit-pirate

[2012-10-09 10:16] bit-pirate commented on #20
I just pushed my updates, restructing and cleaning work. RViz visualisation works, but loading the same robot description looks stange in Gazebo (although the simulation itself works).  Others are experiencing the same issue: [here](https://kforge.ros.org/gazebo/trac/ticket/59) and [here](http://answers.ros.org/question/32849/visual-and-collision-geometry-misaligned-in-gazebo-10/). Hopefully, that

[2012-10-11 05:53] bit-pirate opened #150 "Robot naming"
Naming (launch, config etc. files) got a bit confusing with those many robots/combinations floating around.
My suggestion:
Create/Roomba + old stack -> "Turtlebot"
Kobuki (just the base) -> "Kobuki"
Kobuki + new stack -> "Turtlebot2"
iCreate/Roomba + new stack -> "Turtlebot1_5"
Kobuki + old stack -> ? (maybe not necessary)
and drop "Kobukibot"

Applying the above will break most/all launch files,

[2012-10-11 06:14] bit-pirate commented on #150
Ok, naming confirmed. Will renaming the xacros and move turtlebot-specific files to the turtlebot repo.
Same for launch and maybe some config files.

[2012-10-12 02:39] corot opened #151 "Map Store not getting rosmake'd"
Dependency musn't be linked in to the core turtlebot dependencies...should it?

[2012-10-12 04:36] bit-pirate opened #152 "Kobuki node: Fixed hard-coded joint names"
In the parameter file for the mobile base aka kobuki node one can set names for the wheels.
But kobuki_node.cpp looks like they are hardcoded.
Please fix!

[2012-10-12 05:52] corot opened #153 "Error on minimal.launch when we close diagnostic.launch with Ctrl+C"
Should not be important, but just take a look.

[2012-10-14 02:03] stonier commented on #150
Marcus, sorry for this - I was a bit snowed under last week and missed some of the details here.

Turtlebot2 I think we should just think of as the latest software (probably groovy+) running on whatever hardware (base or stacks) the user has got. Since the hardware is relatively swappable, what defines turtlebot 2 as turtlebot 2 is primarily software. I don't see anything wrong with a user running

[2012-10-14 02:07] stonier commented on #151
Fixed in turtlebot/turtlebot_apps/issues/6

[2012-10-14 02:07] #151 closed, assigned to nobody

[2012-10-14 02:08] stonier commented on #152
How else would you do this marcus?

I don't see any way to get the xacro link names directly from there into the cpp code.

[2012-10-14 23:39] bit-pirate commented on #150
I agree. But that leaves the naming issue unsolved again.
I would suggest using the naming scheme from above to allow new users an easy start. If someone uses a custom combination of stack, base & software, he probably is already proficient enough to put together on start files and doesn't worry about the naming (or choses an own name).

[2012-10-14 23:43] bit-pirate commented on #152
Using the parameter server. Since we already have a yaml in place, I assumed, this was the idea from the start, but nobody actually implemented it.

Retrieving this information directly from the URDF would be nice, but also more complex. It probably would require some naming standardisation. I think, using the param server is good enough.

[2012-10-17 11:27] yhju opened #154 "Failed to compile kobuki_udev package"
on lucid.
system dependency; libftdi-dev and ftdi-eeprom are already installed.

[code]

[2012-10-17 11:39] stonier commented on #154
Not going to support lucid. One long term release at a time. For the next 2-3 years, that is precise.

[2012-10-17 11:39] #154 closed, assigned to stonier

[2012-10-18 00:34] stonier commented on #143
Minsu never got as far as bundling an app...we might do so later, but for now its on hold.

[2012-10-18 00:34] #143 closed, assigned to mskim8717

[2012-10-18 02:56] stonier opened #155 "Rename kobuki bringup"
Change it to kobuki_utilities or some such.

Purpose:

Just a dumping ground for our scripts, launchers that are not turtlebot specific.

[2012-10-18 05:28] yhju commented on #115
Digital output are not flipped. There were some confusing. When it set true, digital output will be high voltage. But exact level of high voltage is depends on user's circuitry implementation, not specified by default.

[2012-10-18 05:28] #115 closed, assigned to nobody

[2012-10-18 06:35] stonier commented on #145
Wait for groovy before hammering these.

[2012-10-18 06:37] stonier commented on #130
Latest stacks and poles are ok.

Urdf error I'm re-raising in turtlebot/turtlebot/issues/9

[2012-10-18 06:37] #130 closed, assigned to nobody

[2012-10-18 06:38] stonier commented on #120
Might be able to hook up with people via tully. Worry about this after launch.

[2012-10-18 06:38] stonier commented on #98
Irrelevant now we're going to the merge. I'll open a separate issue for the kobuki gazebo plugin.

[2012-10-18 06:38] #98 closed, assigned to bit-pirate

[2012-10-18 06:41] stonier commented on #118
Probably not important now...._mumble, sales team_.

[2012-10-18 06:41] #118 closed, assigned to stonier

[2012-10-18 06:43] stonier commented on #55
See also turtlebot/turtlebot_viz/issues/1

[2012-10-18 06:44] stonier commented on #141
Redid in turtlebot, it's not even using openni anymore.

[2012-10-18 06:44] #141 closed, assigned to stonier

[2012-10-18 06:46] stonier opened #156 "Kobuki Gazebo Plugin"
Wait until groovy before we do this.

[2012-10-18 07:26] stonier opened #157 "Upload yujin keyop"
Upload this into the kobuki stack - call it kobuki_keyop for now, even though it's a general keyop.

[2012-10-19 02:22] stonier opened #158 "Apps for roboworld"
- Web app
  - Panorama interface
  - Frontend for calling the robot 'calling' see below.
- Side script that tells the robot to go forward until obstacle is detected in front (similar to follower), 'Calling'
- Side script that continuously runs the panoram app

[2012-10-22 01:34] #155 closed, assigned to nobody

[2012-10-22 02:34] #157 closed, assigned to nobody

[2012-10-22 02:41] corot commented on #147
What's missing here so we don't close the issue?

[2012-10-22 05:46] corot commented on #152
By now just use the parameter server. When we have time, we should take a look to how joint_states_publisher analyzes the robot description to take joint names.

Btw, I have also removed caster wheel joints, who have no state to publish.

[2012-10-22 06:44] jihoonl commented on #158
Panorama interface(DONE)
Side script that continuously runs the panoram app (DONE)

next : calling

[2012-10-22 06:44] jihoonl commented on #158
App manager web version(done)
Teleop interface(DONE)

[2012-10-22 12:04] stonier commented on #152
Problem is back - TF's aren't getting found for the wheels.

[2012-10-22 12:16] stonier commented on #152
My bad, when viewing just the model, you need the joint state publisher.

[2012-10-22 12:16] #152 closed, assigned to nobody

[2012-11-02 05:08] corot opened #159 "Add an "robot status" event to signal when the robot is online/offline"

[2012-11-03 14:29] #159 closed, assigned to nobody

[2012-11-03 15:50] stonier opened #160 "Kobuki laptop_battery excommunicated"
Cannot have the laptop_battery.py as it needs turtlebot_node for the msg file.

Dropping the dependency for now since turtlebot_node needs kobuki and kobuki needs turtlebot_node.

[2012-11-03 17:59] stonier commented on #153
Don't think this is relevant anymore now we're merging turtlebot. Haven't seen the problem.

[2012-11-03 17:59] #153 closed, assigned to nobody

[2012-11-03 17:59] stonier commented on #147
Now moved to making kobuki_qtestsuite.

[2012-11-03 17:59] #147 closed, assigned to nobody

[2012-11-03 18:00] stonier commented on #117
Young Hoon, is this finished now?

[2012-11-03 18:00] stonier commented on #55
Moving to the robot_dashboard prototype.

[2012-11-03 18:01] #158 closed, assigned to jihoonl

[2012-11-03 18:02] stonier commented on #150
Done - component based naming, now implemented everywhere throughout turtlebot.

[2012-11-03 18:02] #150 closed, assigned to bit-pirate

[2012-11-05 05:00] yhju commented on #117
Yes, serial port in 25-pin connector is works now.

[2012-11-05 05:12] stonier commented on #117
Can you add a tutorial on the kobuki website hardware section?

[2012-11-09 12:21] yhju commented on #148
Fully tested. It works well.

[2012-11-09 12:21] #148 closed, assigned to nobody

[2012-11-13 08:26] jihoonl opened #161 "kobuki_comms to kobuki_msgs"

[2012-11-13 08:44] jihoonl commented on #161
jihoonl@whoolala:~/ttt$ cfind kobuki_comms
./kobuki/kobuki_node/src/node/kobuki_node.cpp:42:#include <kobuki_comms/VersionInfo.h>
./kobuki/kobuki_node/src/node/kobuki_node.cpp:318:  version_info_publisher = nh.advertise < kobuki_comms::VersionInfo > ("version_info",  100, true); // latched publisher
./kobuki/kobuki_node/src/node/kobuki_node.cpp:319:  button_event_publisher = nh.advertise < kobuki_

[2012-11-13 09:04] jihoonl commented on #161
Wait until Jorge finishes factory test program.

[2012-11-13 10:50] stonier opened #162 "3 axis gyro data not showing up anywhere"
I thought it was there, but no topic for this?

[2012-11-13 11:46] stonier commented on #161
I would actually do before he finishes it. The work on his end is minimal. We can quickly hack the changes in the morning.

[2012-11-14 07:48] jihoonl commented on #161
Done 59121fe096e1ee298b79675f73ff84cfeb828192

[2012-11-14 07:48] #161 closed, assigned to nobody

[2012-11-15 07:24] jihoonl opened #163 "kobuki_fuerte.rosinstall need to be fixed."
[ecl/ecl_tools] Installing https://embedded-control-library.googlecode.com/svn/tags/ecl_tools (version fuerte) to /home/jihoonl/kobuki_sbc/ecl/ecl_tools
svn: Syntax error in revision argument 'fuerte'
[ecl/ecl_lite] Installing https://embedded-control-library.googlecode.com/svn/tags/ecl_lite (version fuerte) to /home/jihoonl/kobuki_sbc/ecl/ecl_lite
svn: Syntax error in revision argument 'fuerte'
[

[2012-11-15 09:11] stonier opened #164 "Firmware life test"
Move this to hardware.

Maybe a long press should activate some firmware mode testing.

[2012-11-15 09:12] stonier opened #165 "Firmware raw 3dim gyro data"
Pump back to the software driver, expose in the node under debugging (check num subscribers there).

[2012-11-15 09:12] stonier opened #166 "Node to Nodelet"
This would let people write their own reactive control nodelets (e.g. bumpers/cliff).

[2012-11-19 08:52] stonier opened #167 "Power Breakers Specific Message"
Power breakers are enabled via DigitalOutput.msg which is just an array.

User has no idea which element disables/enables which external power supply.

Create a specific message for this, with constants that the user can easily use.

See kobuki node::subscribeExternalPowerCommand

Running on /mobile_base/commands/external_power

[2012-11-20 23:57] yhju opened #168 "More flexible protocols"

[2012-11-21 00:03] yhju opened #169 "Stable version info retrieving"
Sometimes, it fails to retrieve version info. from robot.

[2012-11-21 05:28] yhju opened #170 "Publish raw data stream from robot for debugging"

[2012-11-21 05:46] yhju commented on #170
Implemented in 116aa7116c7e9d4aae3261eb5bbbfea6c3e4fbb5 and 1e27089ab10067f6b452c75c7c42caef2d0cb2a8.
But little bit unstable.

[2012-11-21 13:13] yhju commented on #168
Done by c017b6eff38ccb9444c0c06cc968dabe35ae454d.

[2012-11-21 13:13] #168 closed, assigned to nobody

[2012-11-21 23:48] stonier opened #171 "Kinect power connector upside down"
The Kobuki power connector for the Kinect has Power and ground swapped.

On turtlebot 1, ground is farthest from the clip.
On kobuki, the ground pin is closest to the clip.

From tully:

@stonier Can you double check this? This sounds like a pretty big problem.

[2012-11-22 01:41] stonier commented on #171
I had hoped to get an email to the turtlebot sig out about this earlier this week instead of having it get noisy here, but have been awol with food poisoning for a couple of days.

I'll get an email out immediately.

[2012-11-22 01:47] yhju opened #172 "Incomplete packet_finder in kobuki_driver"
Sometimes `packet_finder` in `kobuki_driver` retrieve over-sized byte stream, or misaligned byte stream.

[2012-11-22 01:54] mikeferguson commented on #171
Pin 1 should always be ground (this has been a Willow Garage standard for a long time an is the case on both PR2 and the original TurtleBot). In the case of a 2P Molex Mini-Fit Jr, pin 1 is the pin away from the latch/clip.

[2012-11-22 04:49] mmwise commented on #171
I think that it's important to fix this so that we have backwards compatibility. We are most likely going to have many users upgrading and not reading the docs before pulling things in.

[2012-11-22 04:55] stonier commented on #171
Please see the sig email.

[2012-11-22 04:57] mmwise commented on #171
Have you sent a sig email? i just looked at the ros-sig-tbot list archives there is no email

[2012-11-22 05:02] stonier commented on #171
Did you go to the old one mel? I sent to the new one Tully made at google groups:
- https://groups.google.com/forum/#!topic/ros-sig-turtlebot/cBt7q6wvSb4

[2012-11-22 05:11] mmwise commented on #171
Yeah, I had no idea that list existed. that's why I haven't been responding cause I wasn't getting emails.

[2012-11-22 05:12] stonier commented on #171
Spank Tully ;)

[2012-11-22 07:23] bit-pirate opened #173 "[groovy] mobile_base crashing on minimal.launch"
Here is the error:

[code]

[2012-11-22 10:06] yhju opened #174 "Too many timed out error on kobuki_node"
[code]

[2012-11-23 00:42] bit-pirate commented on #173
Apparently this was only caused by a buggy kobuki.

[2012-11-23 04:52] stonier commented on #163
They have working debs, so removed ecl/zeroconf_implementations. I'll check it again later.

[2012-11-23 04:52] #163 closed, assigned to stonier

[2012-11-23 05:33] bit-pirate commented on #173
Maybe this error has to do with the current firmware version.
After flashing (my) current version, I had the same problem again. Reopening ...

[2012-11-24 07:41] stonier opened #175 "Gracefully abort if correct firmware is not matching"
Check against the firmware version and gracefully abort.
- Provide a decent error message to the user.
- Provide a url to http://kobuki.yujinrobot.com/documentation/howtos/upgrading-firmware/

[2012-11-24 10:59] stonier commented on #164
Done by Einstein - thanks!

[2012-11-24 10:59] #164 closed, assigned to jakan2

[2012-11-24 11:18] stonier opened #176 "3d Gyro Data"
Should publish raw data of 3-axis gyro on kobuki robot via ROS topic( by using standard IMU message, if possible)
- Combined with software and firmware

[2012-11-24 13:29] stonier opened #177 "Acceleration Jump on Starting"
Recreate with kobuki_keyop
- press up arrow, it launches
- disable, wait 5s, enable and up arrow again, it launches!

Alternatively
- press up arrow, it launches
- disable, enable, up arrow, disable enable, up arrow - it's smooth!

[2012-11-24 13:32] stonier commented on #174
Still seeing this....not good before having to show the robots.

[2012-11-24 13:32] stonier commented on #173
Still seeing this....not good before having to show the robots.

[2012-11-24 13:33] stonier commented on #174
Is this and #173 starting only after the flexible protocol update?

[2012-11-25 13:45] stonier commented on #177
Also at http://redmine.yujin.com/issues/2296

[2012-11-25 22:25] stonier commented on #175
Might also be worth matching our uploaded firmware .hexname  to the version string received by the driver. Ask marcus, young hoon about that.

Btw, what is the difference between hardware and software version in kobukis version info?

[2012-11-26 03:44] corot commented on #175
After talking with RnD guys, we think a good idea is to signal incompatibility between firmware and driver by changing the second figure in the firmware version.

The three figures of Firmware number will mean:
- major release
- minor release that will force upgrade firmware, OR a patch that changes protocol (and so comptatibility)
- patch that doesn't break compatibility

So the check in the driv

[2012-11-26 11:07] yhju commented on #172
It was problem of `ecl_formatter`, not `packet_finder`.

I temporally disabled it in 3d455c0cb8bb85759761fbd972c3f743105f2955

Done.

[2012-11-26 13:01] stonier commented on #172
Young Hoon, when you find a bug, don't disable and close it as a solution. That is not **bug hunting**, that is **bug avoiding**.

This bug will now appear for someone else in another program, which means, people have to debug again.

Start providing hints. At the very least, start a new issue in ecl_core with information.
- What error was occuring?
- Was it formatter or was it just the use of for

[2012-11-26 13:02] stonier commented on #175
Will catch up with you wed morning about this.

[2012-11-27 01:39] yhju commented on #172
Actually,

In my opinion, the bug is [here](https://github.com/stonier/ecl_core/blob/master/ecl_containers/include/ecl/containers/push_and_pop/formatters.hpp#L108).

`follower` member variable of `ecl::PushAndPop` is not always zero, but `ecl::formatters::ByteArrayFormatter` always reads buffer( or container) from zero.

[2012-11-27 15:13] yhju opened #178 "Error messages when terminate minimal.launch"
When terminating `minimal.launch` without connection to robot, there is ...

[code]

[2012-11-27 15:17] yhju opened #179 "Rare socket error when starting"
There is some errorous messages like this.

[code]

[2012-11-27 15:21] yhju opened #180 "kobuki_keyop crashing when ..."
1. when press ctrl+c during running
2. when press any key during lauching

[code]

[2012-11-27 15:25] yhju opened #181 "Always failed to build kobuki_qtestsuite"
Is there any guide or tutorial on [this](http://blog.yujinrobot.com/2012/11/kobuki-test-suite-with-rqt.html)?

[2012-11-27 15:49] yhju commented on #174
In my case, it occurred on virtual machine only, not on native machine.
Or when I start `minimal.launch` without turning the power on the robot first.

[2012-11-27 16:03] stonier commented on #181
Fuerte or groovy?

rqt updating alot these days, I might have to occasionally fix it.

[2012-11-27 16:20] yhju commented on #181
Both of distro's. OK, I'll be waiting.

[2012-11-27 16:27] stonier commented on #145
No longer relevant now we're on groovy.

[2012-11-27 16:27] #145 closed, assigned to nobody

[2012-11-27 16:27] stonier commented on #74
Dry debs are rolling.

[2012-11-27 16:27] #74 closed, assigned to stonier

[2012-11-27 16:30] yhju commented on #169
I think it is resolved. The last commit works fine.

[2012-11-28 04:16] jakan2 commented on #177
I checked fw, there are one magic to protect the motor driver circuit. So that i blocked pwm output for 100msec after motor power on. Consequently it has much i-term for the motor controller.
Please give me some time to discuss with hardware guy.
Would you like to put the s-curve like velocity profile which start from lower velocity command until i found the good solution.

[2012-11-28 05:45] stonier commented on #179
Can't intentionally reproduce this. Just keep an eye out for it.

[2012-11-28 05:51] jakan2 commented on #177
- Action plan - root cause finding
  - Set zero dead time after first incoming velocity command
  - Observe motion with 0.05m/sec velocity command which causes issues before
- Action plan - to reduce dead time
  - Ask to hardware engineer about dead zone

[2012-11-28 05:51] yhju opened #182 "Button not working when power up the robot with long-pressing touch button."
Both on 0.0.2 and 0.1.0

[2012-11-28 05:52] jakan2 commented on #182
- Yes, this is known issue
- We need to hardware engineer

[2012-11-28 06:02] stonier commented on #174
- Can you find out exactly why the virtual machine makes the error...that may help us understand.
- Is it always reproducible on the virtual machine?

[2012-11-28 06:03] stonier commented on #173
Need to reproduce...last round of testing, and if we can't, then close it for now.

[2012-11-28 09:54] #169 closed, assigned to nobody

[2012-11-29 05:06] bit-pirate commented on #166
Nodelet version is up and running. Example controller implementation still TODO

[2012-11-29 05:28] corot commented on #175
Factory version will be 1.0.0, but at it's actually hardcoded as 1.2.3, we will add a dirty temporal hack in the driver to change it to 1.0.0.

MENTAL NOTE: please, please, please remove this horrible hack wit the first firmware change (1.0.1)

[2012-11-29 06:10] jakan2 commented on #177
- Dead time causes high acceleration when it catch the first velocity command when motor is idle
  - when i set the small dead time, it works much better

[2012-11-29 09:17] jakan2 commented on #144
It looks wheel velocity control problem.
When i take I -term out from the controller.
Robot does not look vibrator

[2012-11-29 11:54] corot commented on #166
Should we wrap rosconsole macros so we call NODELET_XXXX instead of ROS_XXXX?
What's the elegant way to do this?

[2012-11-29 11:55] corot commented on #175
Done, but when launching as nodelet doesn't show the proper message, as we only use standard rosconsole macros.
I add a comment on issue #166

[2012-11-29 15:40] stonier commented on #173
Haven't seen for a long time - not since it was supposed that it might have been a firmware version clash.

Closing for now, reopen if necessary.

[2012-11-29 15:40] #173 closed, assigned to nobody

[2012-11-29 15:41] stonier commented on #174
We managed to reproduce just once on a laptop and robot that were both low on battery.

Keep an eye out for this, and if it happens, let's grab the hardware guys immediately.

[2012-11-29 15:43] stonier commented on #166
Yes, they should all convert to NODELET_XXX now.

[2012-11-29 15:50] stonier commented on #175
Factory version is actually 0.0.2. I updated the file server for this information: http://files.yujinrobot.com/kobuki/firmware/

So if the software is configured for 0.1.x and is running ok, but the next software update is now looking for 0.2.x and it only finds 0.1.x it will complain?

Also, just out of curiosity, where is the kobuki driver software version set?

[2012-11-29 23:32] bit-pirate commented on #144
헐! Since when does our robot look like a vibrator!?

[2012-11-29 23:35] bit-pirate commented on #166
Does NODELET_XXX actually work now? i'm remembering that there should be, but wasn't a difference in behaviour ...

[2012-11-30 07:12] stonier commented on #181
It's segfaulting on groovy...issue is being picked up at https://github.com/ros-visualization/rqt/issues/16

Workaround for our programs is to delete the cpp bindings (we're only using pyqt plugins, so is ok for now).

[code]

[2012-11-30 07:12] #181 closed, assigned to stonier

[2012-11-30 07:20] #175 closed, assigned to nobody

[2012-11-30 07:21] stonier commented on #160
We don't need this in kobuki. It's a turtlebot thing.

[2012-11-30 07:21] #160 closed, assigned to stonier

[2012-11-30 07:22] stonier commented on #171
Continue to resolve things via the sig.

[2012-11-30 07:22] #171 closed, assigned to stonier

[2012-11-30 07:23] stonier commented on #170
What do you mean by unstable? Does it crash kobuki?

[2012-11-30 07:23] stonier commented on #162
Duplicate of #176.

[2012-11-30 07:23] #162 closed, assigned to stonier

[2012-11-30 07:24] stonier commented on #95
Reopen when we need to.

[2012-11-30 07:24] #95 closed, assigned to stonier

[2012-11-30 07:29] yhju commented on #170
Look #172

[2012-11-30 07:31] yhju commented on #170
I am waiting for Daniel's fix of ecl.

[2012-12-01 02:51] bit-pirate opened #183 "Make sure all messages are published as shared pointers"
In order to leverage the zero-copy pub/sub feature of nodelets, we need to make sure that we are publishing shared pointers.

So,  **NOT** like this:

[code]

but like this:

[code]

[2012-12-01 05:19] bit-pirate commented on #180
can't reproduce the ctrl+c crash, but will try to fix the key press error on start-up.

[2012-12-01 05:23] bit-pirate commented on #180
OK, its crashing on CTRL+C, if no kobuki node is there.

[2012-12-01 06:08] yhju commented on #180
Side effect: terminal goes bad, when terminated abnormally.

When you input several enter keys into the terminal , you will see below badly formmated outputs.

[code]

[2012-12-01 06:26] #180 closed, assigned to bit-pirate

[2012-12-01 06:31] bit-pirate commented on #97
Gazebo is not really a dependency - it's not needed for building or running. The URDFs contain _extra_ information only relevant for Gazebo.

[2012-12-01 06:31] #97 closed, assigned to bit-pirate

[2012-12-01 06:35] bit-pirate commented on #166
At the moment we make dual use of the KobukiROS library in nodelet and node. The only solution I can think of for keeping both is using DEFINEs to decide which logging macro should be used. Since we are thinking about using KobukiROS as nodelet only, this change can be obsolete. I'll fix this once we made a decision.

[2012-12-01 06:36] bit-pirate commented on #179
Furthermore, this might be no Kobuki bug.

[2012-12-01 06:39] bit-pirate commented on #20
Done. Kobuki and Turtlebot 2 look awesome! :-)

[2012-12-01 06:39] #20 closed, assigned to bit-pirate

[2012-12-01 07:13] bit-pirate opened #184 "check use of protocol_version param"
if not used delete it.

[2012-12-01 07:20] bit-pirate commented on #178
That's actually no bug. It's just we print out the exception content as error.

[code]

Will change that.

[2012-12-01 07:35] yhju commented on #184
That `protocol_version` parameter is legacy of early version of `kobuki_node`, when it was `iclebo_ros_node`. It can be removed.

[2012-12-01 07:39] yhju commented on #178
Here is one more error messages. I think it is problem of app_manager.

[code]

[2012-12-01 08:32] bit-pirate commented on #184
done.

[2012-12-01 08:32] #184 closed, assigned to bit-pirate

[2012-12-01 12:28] stonier commented on #178
Already patched and sent upstream - see http://github.com/turtlebot/turtlebot/issues/8

[2012-12-01 12:28] #178 closed, assigned to nobody

[2012-12-01 12:35] stonier commented on #166
Obsolete :+1:  NODELET_XXX is a go.

[2012-12-01 12:37] stonier commented on #165
Duplicate of #176.

[2012-12-01 12:37] #165 closed, assigned to nobody

[2012-12-01 16:15] stonier opened #185 "Nodelets not shutting down"
It hangs - sigterm'ing on a ctrl-c.

Not sure if this is when run standalone or if it only happens once other nodelets are loaded in as well.
Check.

Also the safety controller is sometimes hanging (maybe because of kobuki?)

[2012-12-01 16:15] stonier opened #186 "Kobuki controllers into kobuki"
We have no reason to make this a separate stack. Or do we?

The dependencies are the same as for kobuki. And I want to avoid having to maintain another deb release.

[2012-12-01 16:18] stonier opened #187 "Yujin control library - namespace and structure"
open_control_library -> yujin_control

Jihoon made a good point - this associates yujin with the stack (shows up on the meta-deb and the ros wiki) and follows ros convention (e.g. bosch_xxx).

We're not doing groundbreaking control library stuff with the community, so this makes sense.

The internal mixup with ycs is really a minimal issue. Outside is more important.

Sort this out so we can deb r

[2012-12-02 00:33] stonier commented on #185
Once on exit (with no other nodelets loaded):

[code]

[2012-12-02 03:28] bit-pirate commented on #187
The stack has already been renamed to yujin_ocl.
So, close?

[2012-12-02 03:29] bit-pirate commented on #186
Just wanted to split things according to their domain and avoid the kobuki stack get too crowded. I don't have any objections about moving controllers thought ...

[2012-12-02 03:37] bit-pirate commented on #185
Couldn't reproduce this on my system with stable nor shadow-fixed.

2012/12/2 Daniel Stonier notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republik Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republic of Korea
주소: 대한민국 서울특별시 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0566
Email: ich@marcusliebhardt.de ich@mar

[2012-12-02 03:45] stonier commented on #186
Lets keep it simple and merge. Only create extra work for us (i.e. releasing) if we need to. I usually have two reasons for creating a new stack:
- some parts of the stack require esoteric dependencies that users sometimes can't depend on. e.g. a stack , some without qt deps and some with qt deps for an embedded rosinstall.
- when there is no relation between packages and users will _very_ often i

[2012-12-02 04:28] bit-pirate commented on #186
_thumb up_

2012/12/2 Daniel Stonier notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republik Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, Seoul, Republic of Korea
주소: 대한민국 서울특별시 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0566
Email: ich@marcusliebhardt.de ich@marcusliebhardt.de

[2012-12-02 05:01] bit-pirate opened #188 "add/update ROS package descriptions"
So, that the ROS wiki actually contains some info about our packages.

Please take care about up-to-date info and good spelling. This is very visible on the ROS wiki (#1 place of information for most Kobuki/Turtlebot users!).

Have a look at these pacakges:
- kobuki_arm
- kobuki_keyop
- kobuki_node
- kobuki_testsuite
- kobuki_ftdi

[2012-12-02 07:23] bit-pirate opened #189 "Update Kobuki tutorials on the ROS wiki"
Update the tutorials here:
http://www.ros.org/wiki/kobuki/Tutorials

TODO:
- Installation
- Diagnostics
-  <del>Swapping Batteries</del>
- Testing Hardware
- Testing Batteries

Also check, if we need to add any.

[2012-12-02 07:47] bit-pirate commented on #189
Update:
Swapping Batteries: Done
Testing Hardware: Upload schematics of the hardware test board and add information about how to use this board to evaluate the hardware

[2012-12-02 11:01] #186 closed, assigned to nobody

[2012-12-02 11:02] #187 closed, assigned to nobody

[2012-12-02 11:02] stonier opened #190 "kobuki_udev -> kobuki_ftdi"
It's naming is misleading.

[2012-12-02 11:58] #190 closed, assigned to nobody

[2012-12-03 02:41] bit-pirate opened #191 "rename kobuki_node's default velocity command input topic"
... from currently "node_name/cmd_vel" to "node_name/commands/velocity".
This aligns with the other inputs/commads, e.g. "node_name/commands/led1".

[2012-12-03 03:23] stonier commented on #172
Formatters fixed in https://github.com/stonier/ecl_core/issues/1

[2012-12-03 03:25] stonier commented on #172
The problem I suspect isn't solved - it just isn't being troubled by formatter anymore.

I think the problem is because PushAndPop has a `rollover` policy. i.e. if it is full, it **automagically** pops the first element. This will cause serial packets to be misaligned.

If you find a robot on which this happens alot, let's cout the buffer.size() value to see if it's full.

[2012-12-03 03:26] stonier commented on #170
The formatter fix is in:

 https://github.com/stonier/ecl_core/issues/1

but won't be in debs for a while yet. I'll update it when it is.

[2012-12-03 03:45] stonier commented on #191
it is already done.

[2012-12-03 03:45] #191 closed, assigned to bit-pirate

[2012-12-03 03:52] stonier commented on #172
In particular - `buffer` variable in PacketFinder. It is set to a size equal to:

[code]

Currently `size_max_payload = 256`. This may not be big enough. Again, do logging to work out how full buffer is getting.

[2012-12-03 04:34] bit-pirate commented on #191
done (forgot to ref it)

[2012-12-03 04:35] bit-pirate commented on #191
yeah, i saw. had to recompile it -.-

[2012-12-03 04:54] stonier commented on #191
I did it with various other things last night.

[2012-12-03 08:26] #166 closed, assigned to bit-pirate

[2012-12-03 08:51] bit-pirate commented on #188
The last commits should include the packages listed above and more. Will wait for the indexer to parse the new information before closing this.

[2012-12-03 11:05] corot commented on #183
mmm....  I had no idea

[2012-12-04 01:15] bit-pirate commented on #185
Ha, I found a way to reproduce it:

Start kobuki_node/minimal.launch in one terminal, then kobuki_node/keyop.launch in a second.

Now, when you **first kill** the launcher containing the **nodelet_manager** (minimal.launch) and afterwards the other nodes and nodelets (keyop.launch), everything shuts down nicely.

However, when I first kill the launch with extra nodes and nodelets and afterwards th

[2012-12-04 01:24] stonier commented on #183
Did they put any information about the non-const shared pointer passing in nodelets on the ros wiki?

[2012-12-04 01:26] bit-pirate opened #192 "add example/standalone launchers and config files"
... for each package containing executables (also nodelets).
Otherwise the user (includes us) has to go hunting for topic and parameter names in source code.

TODO:
- [x] kobuki_arm (currently not used -> not necessary)
- [x] kobuki_auto_docking
- [x] kobuki_controller_tutorial
- [x] kobuki_ftdi
- [x] kobuki_keyop
- [x] kobuki_node
- [x] kobuki_safety_controller
- [x] kobuki_testsuite

[2012-12-04 01:30] bit-pirate commented on #192
Jorge, I already added files to the smoother. Please have a look at the parameters, if they make sense (e.g. in the use case of kobuki). Then please also update the keyop_smoother config file in kobuki_node. thx!

[2012-12-04 09:40] corot commented on #192
Done for smoother and multiplexer.
keyop_smoother is ok. Just we should play a bit to decide good accel. limits for every robot and reuse again and again, and redefine only in the launch file in cases where we need something more specific. I always fear exploding the configuration complexity...

[2012-12-05 02:33] corot commented on #183
TODO:
- <del>kobuki_node</del>
- <del>vel_smoother</del>
- <del>cmd_vel_mux</del>
- <del>safety_controller</del>
- <del>turtlebot_follower</del>
- <del>bump_blink_controller</del>
- auto_docking

Which one more? We have no more nodelets on kobuki workspace, but one of this days we should take a look also to YCS, CSlam, etc.

[2012-12-05 03:28] corot commented on #185
Same behavior. I think it's related with the worker thread we use, cause cmd_vel_mux (who has no thread) shutdowns gently. I'm taking a look now.

[2012-12-05 03:30] corot commented on #185
Ok; I crack the nut; We rely on ros::ok() to terminate the threads, but ros::ok() remains true if we only kills the nodelets, but not the nodelet_manager. So we just need an extra flag to signal our threads to shutdown gently.

[2012-12-05 03:46] corot commented on #185
Done for vel smoother and safety ctrl. Somewhere else?

[2012-12-05 03:46] #185 closed, assigned to nobody

[2012-12-05 12:43] corot commented on #183
For turtlebot_follower don't make so much sense, because as it's intended to work inside the camera node, it doesn't publish to his neighbors

[2012-12-05 12:56] stonier commented on #183
It is a good habit though. Shared pointers don't cost anything, but non shared objects sometimes create the bug.

[2012-12-06 07:21] bit-pirate commented on #128
Close this?

We have added this feature as a controller for Kobuki.

[2012-12-06 07:22] bit-pirate opened #193 "Safeties for firmware random wanderer"
Shall we add cliff/wheel drop safeties to our firmware wanderer?

[2012-12-06 08:45] corot commented on #193
I think our Eisenstein has been quite idle recently...  yesterday he left the office before midnight, so I vote YES for the extra safety (we are in a safety-passionate country, isn't it?)

[2012-12-07 01:44] corot opened #194 "Firmware / driver versions compatibility"
Now firmware version is of type <mayor>.<minor>.<patch> with just one figure for each.
To allow 99 patches per minor, and 99 minors per mayor, we will use two figures for minor and patch.
So current factory version 1.0.0 will be represented by 10000

By other hand, now we consider compatible with driver ANY version with the same MAYOR number, while features and patches can change freely.  So in th

[2012-12-08 07:30] corot opened #195 "Dynamically reconfigure cmd_vel_mux"
Add a service that receives a new YAML formatted string with a new configuration and and re-configures the node from scratch

[2012-12-08 11:01] #194 closed, assigned to nobody

[2012-12-08 11:21] #167 closed, assigned to bit-pirate

[2012-12-08 11:56] bit-pirate opened #196 "Add a ROS wiki tutorial about how to use Kobuki"
Explain how to trigger stuff like turning on LEDs and how to introspect kobuki/listen to events.

[2012-12-09 03:32] corot opened #197 "Drop Testing Batteries tutorial and replace it with a link to the QT_ROS test tool..."
...as soon as this gets available

[2012-12-09 05:10] bit-pirate opened #198 "Check behaviour of enable/disabling the safety controller on runtime"
I think this is not working correctly.

[2012-12-09 05:24] stonier commented on #195
Maybe move this as an issue to the yujin_ocs stack.

[2012-12-09 05:37] bit-pirate commented on #189
Old ones have been updated and new ones added.
So, I consider this done.

I make a separate issue for this for TODO. See this issue: https://github.com/yujinrobot/kobuki/issues/199

[2012-12-09 05:37] #189 closed, assigned to bit-pirate

[2012-12-09 05:38] bit-pirate opened #199 "Finish write a complex controller tutorial"
This has time.

[2012-12-09 05:40] bit-pirate opened #200 "Check version info topic"
Im not sure, if we actually use/update all info shown there.
Also, improve message documentation (inline comments).

[2012-12-09 05:49] bit-pirate commented on #177
Einstein fixed it. The controller now starts, when the motor power is turned on (see firmware version 1.1.1).

[2012-12-09 05:49] #177 closed, assigned to jakan2

[2012-12-09 05:49] bit-pirate commented on #196
Done, see new kobuki tutorials: http://www.ros.org/wiki/kobuki/Tutorials

[2012-12-09 05:49] #196 closed, assigned to nobody

[2012-12-09 08:39] corot opened #201 "Software version info - unimplemented"
Driver version: to decide how to do; by now we put a banner "STILL NOT IMPLEMENTED"

[2012-12-09 08:43] #200 closed, assigned to nobody

[2012-12-09 10:47] stonier commented on #144
Some other issues, probably concerning the same topic. It has problems overcoming the friction at low rotational velocities. Just not enough grunt going in when the p-error increases for low speeds.

Some videos for you einstein:

https://plus.google.com/photos/116045912110987101704/albums/5819857120371331537?authkey=CPuy_rnV-pv_CA

[2012-12-09 10:47] stonier commented on #144
Note that they're having problems on concrete (surprising since we had most problems on carpet). Test results on that.

[2012-12-09 10:47] stonier commented on #144
If we can improve things by wednesday, that would be great.

[2012-12-09 23:51] tfoote commented on #144
We added some teflon tape to the passive wheels and we experienced much better performance.  https://plus.google.com/photos/116045912110987101704/albums/5820093395314527649?authkey=CIjjrsHC-rvs2gE

There are pictures of the taped wheels and a video of the robot turning better with the taped wheels.

[2012-12-10 00:10] stonier commented on #183
Closing this...keep it in mind when coding lads!

[2012-12-10 00:10] #183 closed, assigned to bit-pirate

[2012-12-10 00:11] #128 closed, assigned to jakan2

[2012-12-10 00:15] stonier commented on #195
Moved.

[2012-12-10 00:15] #195 closed, assigned to nobody

[2012-12-10 01:04] tfoote opened #202 "improve driving on not completely flat terrain"
We've got a concrete floor we've been testing on, with a few mm unevenness.  There's a picture of the unevenness

When the TurtleBot2 drives on this w/o any additional payload it fails to make the turn.  We have a significant fraction of  but are definitely not over the 5kg payload.  However if we put carpet down it is able to make the turn.

Watching closely we can watch the right wheel slipping

[2012-12-10 01:55] tfoote commented on #202
Sorry forgot the link to the album with photos and video: https://plus.google.com/photos/116045912110987101704/albums/5820095622673476801?authkey=CP3fpOnM3t-pVQ

[2012-12-10 02:16] stonier commented on #144
Updated the name for this one to hopefully better isolate the friction and the low speed control issues.

I was observing the vibration (overshot, undershoot) issue this morning commanding a linear 5cm/s speed. This will have nothing to do with the friction issues.

[2012-12-11 00:19] bit-pirate commented on #202
Tully, out of curiosity, could redo some of the tests at higher speeds (e.g. double the speed you used, half of max. speed, max. speed).
Since we already know, that we have a problem at very low speeds, I wonder how the result looks like at higher speeds.

[2012-12-11 03:45] stonier commented on #201
Have to wait for #205 (Catkinize) - I can't pass the stack version number through to the package build.

[2012-12-11 22:46] tfoote commented on #202
We've just found that our demo site is flatter but also more slippery.  And this is even worse there.  The basic problem is that there's just not enough traction on the wheels.  We've tried adding sandpaper tape to the wheels but that didn't work either because the springs still didn't provide enough force to reliably corner.

The best solution we've found so far is to replace the rear wheel with

[2012-12-11 22:48] tfoote commented on #202
With respect to going faster I'm not on site to test it at the moment.  I'd expect it to get farther, as the inertia will take it past the small features of either friction for the passive wheel or slippery areas for the drive wheels, but with the need for turning it won't actually help initiate the turning motion.

[2012-12-12 00:44] stonier commented on #202
We managed to reproduce the problem here. We're not seeing as extreme results, which is probably why we missed it. In hindsight it would have been good to push out T2 for alot more testing elsewhere.

Yesterday we ran kobuki and turtlebot around a circle of 90cm diameter, at really slow speeds. Kobuki was faithful, turtlebot was showing some odometry error.  Optimised the controller to remove the

[2012-12-17 07:41] corot commented on #144
This gets mostly solved with firmware version 1.1.3.

[2012-12-17 07:41] #144 closed, assigned to nobody

[2012-12-18 00:51] corot opened #203 "Publish cliff events in the bumper pointcloud"
Together with the safety controller can be useful in navigation

[2012-12-21 16:07] #170 closed, assigned to nobody

[2012-12-21 16:08] stonier commented on #127
Done, but next time please present design first.

[2012-12-21 16:08] #127 closed, assigned to nobody

[2012-12-21 16:09] stonier commented on #57
Done.

[2012-12-21 16:09] #57 closed, assigned to stonier

[2012-12-21 16:10] stonier commented on #19
Turtlebot issue.

[2012-12-21 16:10] #19 closed, assigned to stonier

[2012-12-21 16:11] stonier commented on #192
Kobuki ftdi isn't necessary, it's just direct non-ros executables.

[2012-12-21 16:13] stonier commented on #192
Kobuki utilities is gone.

[2012-12-21 16:23] stonier opened #204 "what are kobuki_usb_tools"
Young Hoon,

This is a very good example of reinventing the wheel and making things confusing.
- We now have two ftdi packages doing the same thing - why did you create a new one?
- Broken documentation for kobuki_ftdi now because functionality is elsewhere.
- No documentation for kobuki_usb_tools - no idea what does what.
- No information on what or how it is used at the factory.

In other words,

[2012-12-21 16:23] stonier commented on #204
These programs are all now in kobuki_ftdi.

They still need documentation and a cleanup.

[2012-12-21 16:25] stonier commented on #149
Opening separate issues.

[2012-12-21 16:25] #149 closed, assigned to nobody

[2012-12-21 16:26] stonier opened #205 "Catkinize"
Necessary for cross compiling or on windows.

[2012-12-27 06:41] yhju commented on #204
The kobuki_usb_tools package is used in flashing serial number of new ftdi chip on kobuki, in manufacturing process with Jorge's final test program. Each binaries in the package has obvious roles, even though some programs reuses some portion of the source code from the kobuki_ftdi package. And it was the job you gave to me.

The final test program will call these binaries on runtime, to handle so

[2012-12-27 15:23] stonier opened #207 "Kobuki urdf model viewer"
Add a launch file to view kobuki's urdf like we have for turtlebot.

[2012-12-27 15:31] stonier commented on #207
Roman at Robotnik is getting errors from a very vanilla view_model.launch style launcher (I just reproduced):

[code]

[2012-12-27 15:43] #207 closed, assigned to stonier

[2012-12-27 15:44] stonier commented on #207
Error arises because kobuki.urdf.xacro just defines a component tag `<kobuki/>` that can be used by other xacros (e.g. turtlebot). I've added a kobuki standalone xacro there now.

[2012-12-27 15:47] stonier commented on #204
As we discussed, it's worth having the code in the wild - I think alot of people are interested in being able to flash their usb devices.

So two approaches:

1) develop, release and support a general usb tools package or
2) just a kobuki_ftdi specific package

1) is more work than you would think, and we don't have testing resources to do it properly anyway. 2) is nice, it opens the code, but we

[2012-12-29 16:15] stonier commented on #198
We need to review this next week - I couldn't get it working sensibly for turtlebot.

[2012-12-31 17:04] stonier commented on #176
Make sure you update the documentation - [ros wiki](http://ros.org/wiki/kobuki_node)

[2013-01-01 18:33] yhju commented on #176
Updated.

[2013-01-01 18:33] #176 closed, assigned to nobody

[2013-01-11 12:03] yhju opened #210 "rosdep broken"
In groovy on precise

[code]

[2013-01-12 15:22] stonier commented on #210
The `resource not found` messages are looking for ros packages. Most of the above just mean you've not got the appropriate debs installed. Of the others -
- `ecl_doc`. I suspect your ecl is old. Delete the sources and download the ecl debs.
- `kobuki_gazebo_plugins` - looks like your install doesn't have turtlebot_create stack.

[2013-01-12 15:22] #210 closed, assigned to nobody

[2013-01-12 15:31] #120 closed, assigned to stonier

[2013-01-13 23:49] bit-pirate commented on #120
Will you bring this up during your US trip?

[2013-01-14 02:19] bit-pirate commented on #156
Tried to get the Kobuki simulation starting in Groovy, but gave up after a while. Looking through the available documentation out there made me confused. E.g. documentation on the ROS wiki looks quite outdated and documentation on the Gazebosim wiki does not clearly point out, which the correct way of using Gazebo in Groovy is.
There is also the issue of the model description file format. Some peo

[2013-01-14 08:10] stonier commented on #156
I'll ping Tully and Brian on the recommended way to do gazebo on groovy.

[2013-01-17 03:06] bit-pirate commented on #156
OK, I got a bit further:
- We have a scaling issue with our collada meshes. RViz is not unit-aware, but Gazebo now is. I a hack to fix it, but the cool looking surfaces are still messed up. DK is now checking, how to export correct collada files.
- Strange position&orientation bug I had with Gazebo some monts ago is gone. When I start up Turtlebot, it looks well aligned, only the Kinect seems a bi

[2013-01-17 04:00] corot commented on #203
Don't forget to change also the ros wiki!

[2013-01-17 07:45] bit-pirate opened #212 "Make the random walker firmware mode wheel drop sensor aware"
Meaning, stop walking, when one or both wheels are dropped.

Also, update the online user guide accordingly.
(Currently warns about this.)

[2013-01-17 08:08] bit-pirate opened #213 "version info tool for kobuki_driver"
Currently there is no easy way for non-ROS users to find out, which firmware version their Kobuki is running.

Let's add a minimalistic program, which when called prints version info to the screen.

[2013-01-18 03:49] #203 closed, assigned to nobody

[2013-01-18 06:03] yhju commented on #213
Done by ce853984f5047047465f7259c0989a3c48922378 and c0ed549054eee47518ecff50c9cbcc1f2514708a.

[2013-01-18 06:07] yhju commented on #213
This program's name is `version_info`, and it's source code(`version_info.cpp`) is located under the `kobuki_driver/src/test` for now.

Is it suitable place for it?

[2013-01-18 06:12] yhju opened #214 "Software version implementation"
[code]

[2013-01-18 06:53] bit-pirate commented on #213
I would put it in a folder named like "tools" or where ever you put your other programs in. "test" could be misleading, since its not a unit test or similar.

[2013-01-21 04:22] yhju opened #215 "Parameterize waiting option for the absence of the device."
It blocks kobuki.init() call without notice, when using it as c++ driver.

https://github.com/yujinrobot/kobuki/blob/groovy-devel/kobuki_driver/src/driver/kobuki.cpp#L101

[2013-01-22 00:03] stonier commented on #213
ditto to marcus comment.

I usually use 'src/utils' for this kind of thing.

[2013-01-22 02:03] yhju opened #216 "Additional features for raw data of 3d gyro"
1. Sending 3d gyro data separately in 100 Hz
   - Not 50 Hz with core sensor data
2. Resending corrupted data during communication
   - Firmware side is ready

[2013-01-22 02:10] yhju opened #217 "Custom Sounds"
Users can make custom sounds with kobuki

Firmware is almost ready, but quality is not measured.

[2013-01-22 02:12] yhju opened #218 "Time synchronization and compensation"
Like to hokuyo laser scanner

[2013-01-22 02:13] yhju commented on #218
This feature is just a suggestion.

[2013-01-22 05:54] yhju commented on #213
OK. I moved it to `src/tools` directory.
Thanks

[2013-01-22 05:54] #213 closed, assigned to nobody

[2013-01-22 08:30] #204 closed, assigned to nobody

[2013-01-23 05:46] yhju opened #219 "Question on answers.ros.org about 'malformed-subpayload' error."
http://answers.ros.org/question/52203/kobuki-malformed-subpayload/

In my thoughts, we need to do some inspection.

[2013-01-24 02:46] bit-pirate commented on #55
I close this one. Follow up on: https://github.com/yujinrobot/kobuki_desktop/issues/4

[2013-01-24 02:46] #55 closed, assigned to nobody

[2013-01-24 21:33] pallegro opened #220 "uint16_t undeclared in scanner.hpp on gcc 4.7"
kobuki/kobuki_ftdi/include/kobuki_ftdi/scanner.hpp:63:49: error: ‘uint16_t’ has not been declared

fix:
 #include <usb.h>
+#include <stdint.h>

[2013-01-25 00:38] stonier commented on #214
This is awaiting kobuki catkinization.

[2013-01-25 06:24] yhju commented on #220
Did you installed `libusb-dev`?
I think it is dependency problem.
`usb.h` from `libusb-dev` includes `stdint.h`, which is has declaration of `uint16_t`.

[2013-01-25 07:28] stonier commented on #220
It doesn't matter about the dependency.

We actually use uint16_t, so a _good habit_ is to always include the header (here <cstdint> or <stdint.h>) and not trust the dependency. Never trust the dependency!

This is a good example of not doing that good habit. Our libusb-dev may have that magic include, so its ok. Another linux system may have a different version or implementation which doesn't. So

[2013-01-25 09:58] yhju commented on #220
Updated. Thank you for your comment.

[2013-01-25 11:29] stonier commented on #220
0027b57fea017e610baa226b6645a5a1c071f05c (stdint) and 087aa595f7c93ed7f34c3fb9db5629532bdf972a (libusb-dev)

[2013-01-25 11:29] stonier commented on #220
Closing. @pallegro, reopen if you still have problems.

[2013-01-25 11:29] #220 closed, assigned to nobody

[2013-01-25 11:31] stonier commented on #219
Putting this under #174.

[2013-01-25 11:31] #219 closed, assigned to nobody

[2013-01-25 11:32] stonier commented on #174
http://answers.ros.org/question/52203/kobuki-malformed-subpayload/

He had usb dropouts too.

[2013-01-28 14:38] stonier opened #221 "kobuki_node params not showing in wiki"
Missing for some reason: http://ros.org/wiki/kobuki_node

Follow the wiki instructions at http://www.ros.org/wiki/StyleGuide

[2013-01-29 08:34] stonier commented on #221
My bad, didn't realise it re-ordered them.

[2013-01-29 08:34] #221 closed, assigned to nobody

[2013-02-04 23:43] yhju commented on #117
Added on kobuki website; http://kobuki.yujinrobot.com/documentation/hardware/serial-port/
Done.

[2013-02-04 23:43] #117 closed, assigned to nobody

[2013-02-05 00:37] stonier commented on #18
This was working ages ago.

[2013-02-05 00:37] #18 closed, assigned to stonier

[2013-02-05 00:38] stonier commented on #56
Just installation doxygen left.

[2013-02-05 00:38] #56 closed, assigned to stonier

[2013-02-05 08:58] bit-pirate opened #222 "Suggestion: Add events for motor and LED states"
Currently there are now events or sensor messages, which contain the state of the motors nor LEDs.
The information about the motors' state can be retrieved by parsing the diagnostic(_agg) topic, which is only published at low rates (intended) and its also a bit overkill.

The states of the LEDs are currently not accessible.

Hence, I suggest to add publishing of respective events and/or sensor inf

[2013-02-05 23:27] jihoonl opened #223 "Motor enabled/disabled indication"
Motor enable/disable is indicated only on screen output of kobuki driver and kobuki dashbaord. It may be nice if Kobuki itself can tell the motors are disabled.(i.e. Status LED blinking, color shifting, or etc)

[2013-02-05 23:34] bit-pirate commented on #223
Indicating a lot with just the one LED we have for Kobuki (since the other 2 are for the user), might become confusing.

Maybe we can come up with ideas about using the other two LEDs without disturbing possible users.

Or what about adding a sound for this?

[2013-02-05 23:43] jihoonl commented on #223
Adding sound would be another option. But what if an user disabled the motors and another user starts to use. It is hard to know whether it is previously disabled or not without dashboard or screen log.

[2013-02-07 12:24] jihoonl opened #224 "apt-get kobuki does not set udev rule."
I had to manually make udev in kobuki_ftdi after apt-get kobuki

Hope this happen automatically

[2013-02-13 04:49] corot commented on #201
Now I can do this....   but unfortunately I don't know how

[2013-02-13 04:53] yhju commented on #201
I have a solution, I am working on it now.

[2013-02-13 07:23] yhju commented on #201
Implemented by d48175ab2413a729ddb2391a733abf78784e9a6e, c9c0b453dace93e135358742a46a6ae843eab5af and 8ed797b4b98292057970f168f176c27d72bf1709.
Done.

[2013-02-13 07:23] #201 closed, assigned to nobody

[2013-02-13 07:23] yhju commented on #214
Duplicated.
Anyway done.

[2013-02-13 07:23] #214 closed, assigned to nobody

[2013-02-18 06:52] corot opened #225 "Kobuki_node crashes when no robot is connected"
For example, this happens if we unplug kobuki:

[ERROR] [1361169093.162705418]: Kobuki : Device does not exist.
[ERROR] [1361169093.246807871]: Kobuki : Timed out while waiting for serial data stream [/mobile_base].
terminate called after throwing an instance of 'ecl::StandardException'
  what():
Location : /opt/kobuki_catkin/src/ecl_core/ecl_devices/src/lib/serial_pos.cpp:91
Flag     : Unknown er

[2013-02-18 07:10] yhju commented on #225
I am now testing turtlebot 2.0 debs in ros-shadow-fixed by following roswiki tutorials. And I've found `/dev/kobuki` is linked to `/dev/rfcomm0`, which is bluetooth device, when usb is not connected.

So, I suggest to do test again, after disabling bluetooth rules in `/etc/udev/rules.d/57-kobuki.rules`

here is example:

[code]

[2013-02-18 07:17] yhju commented on #225
And run below commands to restart udev service:

[code]

[2013-02-18 07:29] yhju commented on #225
Sorry, above commands are not working.
You should reboot the netbook.

[2013-02-18 08:42] stonier commented on #224
The installation instructions on the [wiki](http://ros.org/wiki/turtlebot/Tutorials/groovy/Installation) cover this extra step.

I also wanted to make it happen automatically, so I [asked the buildsystem sig](https://groups.google.com/forum/#!topic/ros-sig-buildsystem/Dw2iKzkWO9Q) about installing stuff directly into /etc/udev last week, and while you _kinda_ can, there are a few ways this breaks

[2013-02-18 08:43] stonier commented on #225
Probably need to pull and replug the usb cable young hoon.

Is the conclusion...we need to comment the bluetooth module?

[2013-02-18 08:44] stonier commented on #205
Done!

[2013-02-18 08:44] #205 closed, assigned to stonier

[2013-02-18 11:54] stonier commented on #225
just to confirm, is the kobuki node crash and the bluetooth rule 100% related?

[2013-02-19 06:28] yhju commented on #225
I sent an email for more detailed explanation. Here is brief answer.

Yes, It is related to the bluetooth rule under the certain condition.
That is correlated with `/etc/bluetooth/rfcomm.conf` setup.

I want to suggest to comment it.

[2013-02-19 08:17] stonier opened #226 "Code Review"
Mirza (willow) was looking over the kobuki_driver/kobuki_node code and expressed concern that he didn't see any data protection (mutexes) in a multi-threaded program.

Let's do a quick paired (2 people) code review on kobuki_driver and kobuki_node.

[2013-02-20 00:31] bit-pirate commented on #226
Mhm, mutexes ... I'm ready to add some deadlocks! :-)

[2013-02-22 01:45] stonier commented on #225
606b8b9434ce501ff663e9252f5459eb9c50c6af

[2013-02-22 01:45] #225 closed, assigned to nobody

[2013-02-22 09:09] corot opened #227 "Kobuki driver inverts turning direction at very low negative linear speeds"
For example, moving at:
linear:
  x: -1.51997434287e-16
  y: 0.0
  z: 0.0
angular:
  x: 0.0
  y: 0.0
  z: 0.827435493469

With positive velocities it has no problem.

[2013-02-22 21:37] teichel1 opened #228 "Battery Data"
Need to be able to read the current draw from the battery using kobuki_driver. I know that the dashboard in ROS gives some data and you can see the current draw of each wheel but i would like to read it for everything, just the draw from the battery.

Thanks for any help,
Teichel1

[2013-02-22 21:56] teichel1 opened #229 "Kobuki driver needs auto docking"
There should be an auto-docking program with the other test programs in kobuki driver for those of us that are not using ROS.

[2013-02-22 23:47] mirzashah commented on #229
I would love this as well, I noticed a nodelet exists for this but it would be nice if the pure C++ driver could also handle it.

[2013-02-22 23:50] mirzashah opened #230 "Pure C++ Kobuki Driver: Ability to drive with linear speed and turn radius"
The diff_drive module in the pure c++ driver allows one to control the robot using linear speed (mm/s) and turn radius (mm) just like the irobot create. However this method is not available via the Kobuki class, instead one with linear speed and angular speed is used. As the diff_drive is a private member, it is not possible to use this interface.

This is very useful for apps that previously used

[2013-02-24 23:37] stonier commented on #230
Sure. It's just one of those things we never got around to doing because we never use it (except in the firmware protocol).

[2013-02-24 23:38] stonier commented on #229
Shouldn't be too hard to split the algorithm and the nodelet into two packages. Although this probably isn't a priority.

Also note, this is only a very simple docking algorithm that is intended as a starting point for people to write their own.

[2013-02-24 23:39] stonier commented on #228
@yhju is this possible?

[2013-02-24 23:51] stonier commented on #228
Just talked to young hoon and the hardware guys.

Apparently we have a circuit to measure the charging current, but don't have the same circuit for measuring the current draw. So we won't be able to do this without a hardware modification.

We'll keep this in mind if we upgrade the kobuki mainboard in the future.

[2013-02-24 23:51] #228 closed, assigned to nobody

[2013-02-25 00:00] stonier commented on #230
There is a msg: create_node/msg/Drive.msg.

If we want apps to be compatible for both create and kobuki, we need to use a common message with a common topic name.
- move Drive.msg (maybe rename it too) to a common msg stack.
  - We currently have no common msg stack and wanted to work towards this for hydro.
  - Should we make a common stack or just push this into common_msgs somewhere?
- `/mobile

[2013-02-25 00:02] stonier opened #231 "Start hydro-devel branch"
Wait till the end of march, beginning of april for this. Let's just bugfix and do minor improvements for a while to stabilise groovy.

Could do both branches at the same time, but have to do lots of cherrypicking then.

[2013-02-25 00:09] stonier commented on #229
@teichel1 Is the DockDrive class (dock_drive.hpp and dock_drive.cpp) on its own enough for your purposes? It is the strictly c++ non-ros part of the algorithm.

If so, we can split this into its own package (or put the ros parts of auto_docking into kobuki_node).

[2013-02-25 00:12] stonier opened #232 "Split kobuki stack into non-ros and ros parts"
This would make it easier for windows builds and cross-compiling.

[2013-02-25 00:50] stonier opened #233 "Move create_udev_rules into global bin directory"
- Update CMakeLists.txt to use CATKIN_GLOBAL_BIN_DESTINATION (I think this is correct, check).
- Update ros wiki

[2013-02-25 04:32] corot opened #234 "Kobuki auto docking fails on catkinized kobuki"
Error log:
Warning: class_loader::class_loader_private: SEVERE WARNING!!! A namespace collision has occured with plugin factory for class (null). New factory will OVERWRITE existing one. This situation occurs when libraries containing plugins are directly linked against an executable (the one running right now generating this message). Please separate plugins out into their own library or just don

[2013-02-25 06:42] #234 closed, assigned to nobody

[2013-02-25 07:37] corot opened #235 "auto_dock_with_safe_keyop.launch doesn't work properly"
Doesn't move at all. Probably something with remappings and/or cmd_vel_mux

[2013-02-25 08:54] bit-pirate opened #236 "Reduce the distance for detecting cliffs"
Recent tests showed, that our cliff detection distance is around 8cm and while this is fine for Kobuki, it can cause TurtleBot to tip over. The distance is currently set in the firmware.

I suggest lowering the distance (e.g. 4cm like Arte is currently using) and/or make this parameter configureable in the driver code.

[2013-02-25 10:48] bit-pirate opened #237 "Cliff Sensor Modifications"
**Conversion**

Currently Kobuki outputs a human-_un_friendly measurement for the distance to the floor in case a cliff is detected (see kobuki_msgs/CliffEvent -> bottom).

The current output is the A/D-value of the sensor (Integer, 0 - 4095) and doesn't allow the users to related to an actual distance (e.g. in meters).

I suggest we add a conversion to the driver to output the mesured distance in

[2013-02-25 14:25] teichel1 commented on #229
That should work just fine.

[2013-02-25 15:38] teichel1 commented on #228
Since I cannot measure current through the kobuki driver than i will be doing it some other way. This isn't an issue but does anyone know where i can find out the make, model, specs of the motors in the kobuki i cant seem to find anything online and i am trying to avoid taking my kobuki apart. Thanks.

Teichel1

[2013-02-25 18:43] teichel1 commented on #229
I have to say that i am impressed with the quick responses and effectiveness of this of this issues page. One of the best i have run across.

[2013-02-26 01:09] stonier commented on #228
We can certainly supply that, I'll get the hardware guys to deliver and post something on the website.

Are you on kobuki-users@googlegroups.com?

[2013-02-26 01:26] stonier commented on #229
Leaving this open for now - at a minimum, we should split the ros and non-ros parts into separate libraries in this package. I'll close it once we do that.

[2013-02-26 01:27] corot commented on #237
And maybe also reduce the cliff threshold from 8 to 4 cm, as Kwon proposes.

[2013-02-26 01:38] yhju commented on #227
Tested.

[2013-02-26 01:38] #227 closed, assigned to nobody

[2013-02-26 02:16] yhju opened #238 "minimal.launch failed from kobuki_node"
I've got below warning and errors. Where is robot description?

[code]

minimal.launch from turtlebot_bringup was fine.

[2013-02-26 02:17] stonier commented on #238
kobuki_description is in its own stack now (rest of kobuki catkinized, kobuki_description could not because of xacro) - did you install that?

[2013-02-26 02:18] stonier commented on #238
hmm, if turtlebot started fine...then something else is up.

Ask jorge, he was starting the kobuki_node yesterday.

[2013-02-26 02:37] corot commented on #238
All is ok; minimal.launch do not load robot description, so we cannot visualize the robot. Make sense, as we want just the mobile base up and running, nothing more.

With turtlebot_minimal.launch we do, however, so we can visualize the robot.

[2013-02-26 03:12] yhju commented on #238
OK, rest two errors were my fault. I launched kobuki_node from netbook's local terminal yesterday and not killed it.

So, robot_description param warning is not related to this errors. And warning message is normal and intended for kobuki, even though turtlebot have that param by default.

Thanks.

[2013-02-26 04:39] #238 closed, assigned to nobody

[2013-02-26 04:58] yhju commented on #238
kobuki_node and kobuki_driver already have exception mechanism for device open error. Don't know why initialization has failed.

[2013-02-26 14:25] teichel1 commented on #228
Yes i am. Teichel1 on kobuki-users. Thank you.

[2013-02-28 05:25] stonier commented on #233
Not doing this - sudo problems still.

[2013-02-28 05:25] #233 closed, assigned to nobody

[2013-02-28 07:39] stonier commented on #226
Ok, dug through the big picture for kobuki_node + kobuki_driver. One fix we need is in #239. Very unlikely, but fix this one for groovy.

[2013-02-28 07:40] stonier opened #239 "Race condition in base control setting/getting"
One possible place for a race condition is in the diff drive setting of velocity commands and getting of velocity commands. The kobuki_node sets in the ros callback thread, and gets in the kobuki spin thread as its about to write to the firmware. Fix this one for groovy.

Refer to #226.

[2013-02-28 07:46] yhju commented on #226
![Whiteboad 0228](http://files.yujinrobot.com/images/whiteboard/whiteboard_0228.jpg)

[2013-02-28 07:47] stonier commented on #226
The rest of kobuki_node should be fine...but. This is good for kobuki node but the current setup is fraught with danger for developers working on top of kobuki driver.

Kobuki node is ok because it all getXXX kobuki diff driver commands are all called in the slots, which are really nicely executed in sequence strictly inside the kobuki spin loop (**yeah - BLACK MAGIC!!**)

If any of these calls we

[2013-02-28 07:50] stonier opened #240 "Protect public driver calls"
All of the getXXX functions need to be protected against people calling them whilst in the middle of a sensitive part of the spin loop.

Not urgent for a bugfix release and we really need to test thoroughly after mutexin'g everywhere.

Our kobuki node is fine because we use liberal doses of black magic by calling these functions only in the slot callbacks...and these are nicely sequentially called

[2013-02-28 07:52] #226 closed, assigned to stonier

[2013-02-28 21:08] mirzashah commented on #240
@stonier @yhju
Hey guys, I saw the comments from the closed "Code Review" issue. Just to clarify,  my concern wasn't so much that a multi-threaded program using the driver was going to have a problem (though that's still a concern), but rather that it's not correctly implemented even for a single threaded program.

I may be using it wrong or misunderstanding the code, but when you call init(), it

[2013-03-03 07:47] stonier commented on #240
I believe we're on the same page here Mirza.

The kobuki node program doesn't calls the get*() functions asynchronously - rather it does that from within the slot callbacks. Those callbacks are run from _inside_ that thread spawned by init - so no problem there as it lines up all the writing and reading sequentially. But its dangerous code as soon as someone starts calling those getXXX functions a

[2013-03-03 08:07] stonier commented on #188
Should be all done (cept for kobuki_arm). Reopen if necessary.

[2013-03-03 08:07] #188 closed, assigned to bit-pirate

[2013-03-03 08:10] stonier commented on #224
Doesn't look like ros packaging will support very conveniently a way to install to the system for some time yet. So...we need to make our own debs for things like this udev rule and get_serial_info. Lean on Bill's launchpad (short term) or just start our own (better long term).

[2013-03-03 08:11] stonier commented on #156
Issues getting tracked in [kobuki_desktop](https://github.com/yujinrobot/kobuki_desktop).

[2013-03-03 08:11] #156 closed, assigned to stonier

[2013-03-04 19:01] mirzashah commented on #240
I don't think it's too terribly difficult to fix, it just requires the use of a mutex by spin() and all the getters. I'm going to add that in myself if you don't get a chance to get to it...when I do I'll make a pull request if it hasn't been patched. I'll make sure to use an ecl mutex.

[2013-03-05 01:00] stonier commented on #240
Yeah, I know. A pull request would be great if we don't get around to it before you do.

[2013-03-11 05:41] stonier opened #241 "Convert firmware changelog to markdown format."
Just check for broken links. Definitely
- files.yujinrobot.com

Maybe:
- kobuki.yujinrobot.com
- roswiki for kobuki stack
- online guide

[2013-03-11 05:55] stonier opened #242 "Synchronised radius/speed command"
Make sure we only use the velocityCommand() function from diff drive in command.cpp (line 160) to ensure that radius and speed are synchronised.

Perhaps **delete** the individual getters.

[2013-03-11 06:13] stonier opened #243 "Firmware Deb"
This would:
- Put the firmware blob for a particular version of the firmware on the pc.
- Provide a tool that lets you download.
- Another tool that lets you check the robot's version against your pc version and suggest
  an upgrade if possible.
- Write kobuki driver to check robot firmware and firmware on the pc and provide information/warning if they're different.
- Probably also the udev rule.

[2013-03-11 06:18] #242 closed, assigned to nobody

[2013-03-11 06:26] yhju commented on #239
Fixed by b9b82e53493c6bda4d3ef395ce722fe6bec5a56e.
Tested and reviewed.
Done.

[2013-03-11 06:26] #239 closed, assigned to nobody

[2013-03-11 07:29] yhju commented on #241
Converted and updated [here](https://github.com/yujinrobot/kobuki/blob/19393e173b65be3cd9a1b00f1f959f7880757b5e/kobuki_driver/firmware_changelog.md).
And also checked all above sites.
Done.

[2013-03-11 07:29] #241 closed, assigned to nobody

[2013-03-11 08:50] corot opened #244 "Change kobuki_driver source installation procedure to use wstool"

[2013-03-18 10:17] #231 closed, assigned to nobody

[2013-03-26 05:12] yhju opened #245 "Packet Integrity Check"
Actual implementation to prevent communication failure due to malformed bytestream.

[2013-03-26 14:29] stonier commented on #245
What are you thinking about here YH? I haven't been able to think up any improvements on this one.

[2013-04-05 09:27] yhju opened #246 "velocity limiter on kobuki_driver"
conversion logic in diff_drive module has a crack.

When diff_drive module receive the command velocity of (10 m/s, -5 deg/s) pair, kobuki goes crazy backward.

[2013-04-08 01:11] jihoonl opened #247 "Wheel jumping seen in Rviz"
http://files.yujinrobot.com/turtlebot/wheel_jumping_turtlebot.ogv

[2013-04-08 02:56] jihoonl opened #248 "[Feature Req]ROS msg for analog input"
there is only digital input. :(

[code]

[2013-04-11 09:19] corot opened #249 "Allow dynamically configure PID controller gains"
We need to change firmware, driver and node.

Don't forget a huge warning in the doc to prevent beginners to play with this!

[2013-04-11 11:01] bit-pirate commented on #249
Why do we need this? Did you experience issues with varying loads?

[2013-04-12 00:06] ablasdel opened #250 "Releasing debs of version 3.6"
This discussion came up last month: https://mail.google.com/mail/u/0/?shva=1#apps/kobuki/13d8baa7ae4e5d2a

The debs are still built from 3.5 but everything seems to have been bloomed for 3.6

The version number needs to be changed in this file:
https://github.com/ros/rosdistro/blob/master/releases/groovy.yaml

[2013-04-12 00:45] stonier commented on #250
Sorry - @Jorge got really busy on another job.

I think I need to do a quick check over all the stacks (some synchronisation issues and going to have to check that kobuki works with the new bloom anyway) so I'll run through some pre-releases, blooming and update them all as necessary on Sunday/Monday.

[2013-04-12 01:24] ablasdel commented on #250
Not a problem. We just ran into an issue and had to build from source and
noticed the debs were still old

[2013-04-15 01:35] bit-pirate opened #251 "fix warning introduced by new catkin version"
When compiling from sources, this warning pops up:

[code]

[2013-04-15 01:39] jihoonl commented on #251
It has been fixed in hydro.

[2013-04-15 13:40] tlau commented on #234
I started seeing this error recently (in the past few days) using the latest version of ROS groovy and kobuki_auto_docking from the repositories. Any ideas how to get it working again?

[2013-04-15 14:05] stonier commented on #234
Exact same error, i.e. undefined symbols for actionlib?

[2013-04-15 14:34] tlau commented on #234
Exact same error. In fact I found this issue by googling for "_ZN9actionlib15GoalIDGeneratorC1Ev".

[2013-04-15 14:38] adamantivm commented on #234
Here is a complete console output from the issue @tlau is mentioning. We would greatly appreciate guidance on how to get this working again:

[code]

[2013-04-15 14:39] stonier commented on #251
Cherry-picked in 7de8e11223c03880b61050acd668dc474f7f1885

[2013-04-15 14:39] #251 closed, assigned to bit-pirate

[2013-04-15 23:39] bit-pirate commented on #234
I wonder if that error is linked to the warning occurring before:

`Warning: class_loader::class_loader_private: SEVERE WARNING!!! A namespace collision has occured with plugin factory for class (null). New factory will OVERWRITE existing one. This situation occurs when libraries containing plugins are directly linked against an executable (the one running right now generating this message). Pleas

[2013-04-15 23:52] adamantivm commented on #234
Turns out that building from latest source fixes the issue, so I guess all we have here is just a confirmation the fix on this ticket does indeed work.
I hope this makes it into public debians soon!

[2013-04-15 23:53] stonier commented on #234
Great. I was just going to ask if you were using the latest source from Jorge (corot's fix). Worked for me this morning as well.

I'm re-releasing kobuki debs now once I do some testing, so you should be able to grab them from shadow-fixed shortly, or wait for the next public push.

[2013-04-16 00:57] stonier commented on #250
[Version 3.7](https://github.com/ros/rosdistro/pull/704) is in the pipeline.

[2013-04-16 00:57] #250 closed, assigned to stonier

[2013-05-06 09:57] corot opened #253 "Reconsider enable/disable motors functionality"
As we are not really ppwering on/off the motors, but just inhibiting commands to the mobile base, I wonder whether this functionality just adding noise and confusion.

More important problem is that there aren't any feedback about the enable/disable state, so for people ignoring (or forgetting, as me) this functionality it's easy to expend time trying to realize why the robot is not moving at all.

[2013-05-07 12:30] carolineQ commented on #234
Hi !
I have the same problem than you, which version of the code did you use to solve it ? I tried to take the latest version from the git repository but it doesn't seem to work (I used rosws).

[2013-05-07 22:23] adamantivm commented on #234
@carolineQ: It was whatever version was in groovy-devel at that time. I unfortunately don't have the same set-up anymore to try. I guess what you could do is to check what wast he commit version number at groovy-devel 22 days ago and try with that. Sorry I can't be more specific.

[2013-05-07 23:13] stonier commented on #234
@carolineQ What didn't work for you? Did you get it compiling? You should actually be using wstool with the kobuki stack as per the instructions [here](http://ros.org/wiki/turtlebot/Tutorials/groovy/Installation).

I also noticed tully is pushing groovy debs to public again this week, so the updates should be there once they land. You can also test out new code from debs in shadow-fixed rather tha

[2013-05-10 12:32] carolineQ commented on #234
Thanks for your answers, as stonier said the new debs are now public, so I updated the packages and it works now. Thanks.

[2013-05-15 07:58] stonier opened #257 "32 bit alignment issues"
Seem to have a problem in 32 bit alignment for eigen classes in bumper2pc. Probably missing that eigen macro in a class somewhere.

Bug reported by caroline on [ros answers](http://answers.ros.org/question/62606/error-starting-turtlebot-2/).

Error output:

[code]

[2013-05-15 08:07] stonier commented on #257
Usually from cause 1 or 2 on http://eigen.tuxfamily.org/dox/TopicUnalignedArrayAssert.html

[2013-05-15 09:08] corot opened #258 "kobuki_bumper2pc publish unstamped pointcloud"

[2013-05-16 05:06] corot commented on #253
Issue #223 talks about the same problem. Maybe we can use one of the programmable LEDs only if the user is not using them. On/off sounds are also a good addition, but is not enough because we need a permanent notification.

[2013-05-16 06:58] corot opened #259 "Add kobuki to the ROS/Installation wiki"
We have only turtlebot now

[2013-05-18 17:32] bit-pirate commented on #259
Do you mean add it to the robots section?
Am 16.05.2013 15:58 schrieb "corot" notifications@github.com:

[2013-05-19 06:15] jihoonl commented on #259
http://www.ros.org/wiki/ROS/Installation

here.

[2013-05-20 01:28] corot commented on #257
Case 1: Structures having Eigen objects as members
Adding EIGEN_MAKE_ALIGNED_OPERATOR_NEW to class declaration solves the problem

[2013-05-20 01:28] #258 closed, assigned to nobody

[2013-05-20 01:32] corot opened #260 "On hydro, xacro.py script is not under script directory anymore"
So our launch files fail to use it.

[2013-05-20 02:32] #260 closed, assigned to nobody

[2013-05-22 05:17] corot commented on #259
yeap; there

했어

[2013-05-22 05:17] #259 closed, assigned to nobody

[2013-05-22 05:50] corot commented on #198
What's the problem?  I did it on waiterbot and saw no problems

[2013-05-22 05:53] corot commented on #249
Was a Bill's suggestion. We don't need it by now, really. But is a nice feature for advanced users. For example to climb slopes, haul heavy loads or simply customize robot operation.

[2013-05-22 05:54] corot commented on #249
Btw, my robot provides it and is much crappier than kobuki!

[2013-05-22 08:12] bit-pirate commented on #249
Are you trying to tease us?

2013/5/22 corot notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republik
Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republic
of Korea
주소: 대한민국 서울특별시 121-846 마포구 634-1 성산동 4 층 403 호
Mobile / Mobilfunk: +82 10 3322 0566
Email: ich@marcusliebhardt.de ich@marcusliebhardt.de

[2013-05-22 09:12] corot opened #261 "Safety controller behavior; add a "no-backward" option"
Following complains from OSRF people...
The controller would just block forward commands until the bumper gets released or cliff is not detected anymore.
Doesn't fit easily in our current velocity multiplexer-centered architecture, so we should reorganize it, for example by using the safety controller to "filter" muxer's output and no as the highest priority input.

[2013-05-22 09:22] corot commented on #248
Are included on /mobile_base/sensors/core.
Digital input too, but I added also as events because is more convenient that check /mobile_base/sensors/core continuously.

[2013-05-22 09:22] #248 closed, assigned to nobody

[2013-05-22 10:34] corot commented on #235
There'is no problem. kobuki_auto_docking used to disable the motors after succeeding.

[2013-05-22 10:34] #235 closed, assigned to nobody

[2013-05-22 12:25] stonier commented on #248
Analog inputs are continuous no?

It should go in `/mobile_base/sensors` if that is the case. The events are for 'events', i.e. when there is a state change and these are usually happening rarely. Not for continuous streams of data - use the sensors for that.

It should be a lazy publisher too, i.e. check if there are subscribers before going to the effort of extracting from core and publishing.

[2013-05-22 23:51] corot commented on #218
What this means?

[2013-05-23 18:50] sebasgm85 commented on #261
One related issue is that currently it is difficult to add objects to the navigation costmap with Turtlebot if safety_controler is enabled because the bumper needs to be pressed for a while in order to add the object, and the safety_controller moves it backwards instantaneously.

One simple solution could be this no-backwards option, but also could be a delayed-backwards option, or maybe just find

[2013-05-24 00:29] corot opened #262 "Auto-docking more flexible."
Now all speeds are hardcoded, what it's ok for normal kobuki/turtlebot. But with heavier robots, as waiterbot, minimum speeds are very slow, so the robot can get stuck easily.

Allow some flexibility on its configuration, at least lower velocity limits.

[2013-05-24 00:53] bit-pirate commented on #262
Please also make it collision-aware when it approaches the docking station, e.g. wait a bit, abort current docking and start over etc.

[2013-05-24 06:30] corot commented on #262
Ufff...   this is not gonna happen right now, ㅋㅋㅋ.

I opened this to justify the small change I did for rocon demo. But we can keep open as a reminder of the limitations we have now.

[2013-05-24 11:30] #244 closed, assigned to nobody

[2013-05-29 11:49] jihoonl opened #267 "hydro-devel kobuki_driver is not compiling"
@stonier @corot

Unpredictive behavior of concatenation among char\* + string + char\* issue.

[code]

commit 03110a000840e7ed127b762d259059acd32173ef is related.

[2013-05-30 00:30] #267 closed, assigned to nobody

[2013-05-30 05:25] bit-pirate opened #268 "Allow to play single tones with Kobuki"
I envision a simple topic for commanding Kobuki to play a specific, single tone. In this way people could program their own melodies.

[2013-05-30 07:23] corot commented on #268
He he...  looks like an old, good wish: Issue #217

[2013-05-31 05:20] yichoe opened #270 "Not give a beep when uninitialized as soon as initialized."
For hydro-devel in Windnows, Kobuki does not give a beep when we run one of sample  - demo_kobuki_initialisation.exe.

However, Kobuki gives a beep when we add a spin function calling sleep repeatedly after initialization of Kobuki.

[2013-05-31 07:08] stonier commented on #270
Ah, program finishes and closes the serial device before it transmits the commands in the buffer?

[2013-05-31 07:10] #270 closed, assigned to nobody

[2013-06-04 08:40] corot commented on #261
Yes, I realized this... it's fixed on hydro-devel (ac8d210631e78453df3704d39bbaac77706fc291), but as it is a big change in the code I preferred not to release it on groovy.

[2013-06-17 04:24] bit-pirate opened #271 "Fix Kobuki's inertia"
Currently the centre of mass is assumed to be in the centre of Kobuki's volume, which is wrong (mostly due to the battery being intentionally placed at the front).

The result is that in Gazebo Kobuki is constantly bouncing from the front to the back and vice versa.

[2013-06-17 04:25] bit-pirate commented on #271
DK is checking, if he can calculate it with their software.

[2013-06-18 00:43] stonier commented on #271
For the approximate purposes of simulation, it would be close to being halfway from the centre to the front of the robot. If you want to save time, just do that but make sure there is a comment next to it saying this is just a rough guess, not a calculation.

If DK can calculate quickly though, thats good.

[2013-06-19 01:15] corot opened #272 "ROS log gets somehow horribly mangled"
And prevents Ctrl+C to work.
Strange thing is that it happens only sometimes.
I put this issue on kobuki because I first blamed the kobuki_driver version, but the problem can be anywhere in our code!

[2013-06-26 03:55] corot opened #273 "Make diff drive model parameters configurable"
Now they are hardcoded in the firmware, so radical surgery experiments with kobuki require a new firmware.

Do together with #249

[2013-06-28 00:26] bit-pirate opened #274 "Reset odometry does not reset to zero pose"
Using this function does not bring odom back to zero position and rotation.

[2013-06-28 00:29] bit-pirate commented on #274
Rotation is not reset at all and position contains an offset. Maybe that has to do with a odom initialisation problem.

[2013-06-28 00:54] bit-pirate commented on #274
Testing again shows, that odom position is set to zero. So, the failing test might really be link to a initialisation problem. Resetting the rotation is still missing though.

[2013-06-28 02:11] bit-pirate commented on #274
And another update: After using the robot for a while the offset in position increases.

[2013-07-08 14:37] tulku commented on #262
Hi! I'm facing a similar issue with a heavier than usual Turtlebot. This patch https://github.com/yujinrobot/kobuki/commit/0416c81e5d08466477c5806443a580a142d0d465 would be very helpful! Do you know when this will be released in a deb?

Thanks!

[2013-07-09 00:10] bit-pirate commented on #262
We are currently working on releases for Hydro. Maybe we can get things stuffed in for those releases?!

[2013-07-09 02:11] tulku commented on #262
That would be great! I hope you can get these currents in the next release.

We could start using hydro as well.
On Jul 8, 2013 9:10 PM, "Marcus Liebhardt" notifications@github.com wrote:

[2013-07-09 22:27] adamantivm commented on #262
Just wanted to add my vote for releasing the configuration patch as soon as reasonably possible.

[2013-07-09 23:09] mirzashah commented on #262
:+1:  Likewise, this is a feature I would really love to have!

[2013-07-10 09:56] corot opened #275 "Remove the dependency on pcl-ros"
kobuki_bumper2pc requires it to generate pointcloud messages, but we can also compose sensor_msgs/PointCloud2 messages "by hand" replacing pcl dependency by sensor_msgs one.

[2013-07-10 10:18] #275 closed, assigned to nobody

[2013-07-18 04:13] corot commented on #274
I didn't check the code, but I suppose that you can reset odometry (encoders) but no gyro, so position gets reset but rotation remains (as robot_pose_ekf ensures that gyro readings dominate over encoders).

Easy solution is to always subtract an offset from gyro readings, initially zero but that takes current reading with every odometry reset call.

[2013-07-18 05:52] corot opened #276 "Migrate changelog from ros wiki to this repo"

[2013-07-19 06:07] #276 closed, assigned to nobody

[2013-07-19 06:51] corot commented on #257
Believe or not, this is still alive: still can fail for very, very unlucky people.

Looks like a deeper problem in ecl. By now, the only way to suppress it is to remove the eigen-inheritor attribute.

[2013-07-31 05:11] bit-pirate commented on #272
I have a new version of mangled output - this time all is CAPTIAL LETTERS! :-)

[code]

Same result though - terminal get's unresponsive.

[2013-07-31 05:30] bit-pirate commented on #193
This is related to: https://github.com/yujinrobot/kobuki/issues/212

[2013-08-01 06:26] jihoonl commented on #272
The problem was that serial.block() is called before serial.open() in hydro branch kobuki_driver/kobuki.cpp line 93

[code]

In the version 0.3.9, which I confirmed that working fine,  the block() was called after open().

The description of open() in ecl_core/ecl_device/serial_pos.hpp:line 153 tells that block() needs to be called after serial is opened.

[code]

If block() is called without init

[2013-08-01 06:30] jihoonl commented on #272
https://github.com/yujinrobot/kobuki/pull/278

[2013-08-12 08:06] corot commented on #257
The root of the problem remains, but now it's an ecl problem.

Btw, auto-docking code is a bit messy and should be cleanuped at the first opportunity.

[2013-08-12 08:06] #257 closed, assigned to nobody

[2013-08-19 23:58] stonier opened #280 "Documentation Protocol Error"
Error in the protocol documentation (doxygen) that needs to be fixed. From Ryan Gariepy at Clearpath:

[code]

[2013-08-20 00:20] jakan2 commented on #182
HyoungJu fixed this issue with supplier.
He will check when it is available.

[2013-08-20 00:30] jakan2 commented on #182
It is already available
we have to send the ecn

[2013-08-20 00:35] stonier commented on #274
Sounds like we need someone to do an experiment just to determine where the problem is first.

[2013-08-20 00:37] stonier commented on #274
Jorge - find the root cause. If it's a software driver problem, move issue to young hoon or dan.

[2013-08-20 00:39] #272 closed, assigned to nobody

[2013-08-20 00:41] bit-pirate commented on #212
Closing this since it is part of #193.

[2013-08-20 00:41] #212 closed, assigned to jakan2

[2013-08-20 00:44] stonier commented on #261
Better explanation, that commit above makes sure it sends a continuous single while pressed instead of a change of state notification only. That should make the navigation costmap easier. We'll delay other behaviour for now until we really need it.

[2013-08-20 00:46] stonier commented on #253
Maybe expose it in kobuki dashboard?

[2013-08-20 00:53] stonier commented on #249
Another idea, have split pid's in the robot, on for low speeds, another for high speeds.

Actually maybe not such a great idea, it's the payload that causes the problems. PID's for kobuki are currently well tuned, for turtlebot not.

[2013-08-20 00:57] stonier commented on #249
Target:
- Just put the mechanism there, let's not worry about tuning it until we really need it (jprobably next rocon demo)
- Einstein - firmware
- Young Hoon - sofware driver and ros node parameters (needs defaults and parameter validation).

[2013-08-20 00:59] stonier commented on #246
Follow this up and make sure it is closed.

[2013-08-20 01:02] stonier commented on #245
Follow this up and close it.

[2013-08-20 01:09] stonier commented on #240
Mutex protection is in hydro. I'll just check that we have a synchronous way of accessing the bundle of sensor data at one time so it's all synchronised.

3c4c399a460b314152722de6b99804e138d68e88

Its fugly - user should take care of locking and unlocking around his getXXX calls. This ensures that the data is all synchronised. ugh...spaghetti :spaghetti: !

[2013-08-20 01:18] stonier commented on #237
- Conversion : put a lookup table in kobuki driver and publish both analog and converted values (converted will lose accuracy)

[2013-08-20 01:19] stonier commented on #236
Bundled with #237

[2013-08-20 01:19] #236 closed, assigned to jakan2

[2013-08-20 01:20] stonier commented on #232
Make sure documentation gets updated when done.

[2013-08-20 01:36] stonier commented on #230
Some notes for posterity...

lstr control in the firmware has some intelligence from the cleaning robot. If the incoming command is too high so that the radius can't be performed correctly, it thresholds the fast wheel speed at maximum and recalculate the slower wheel's speed to comply with the radius (at the cost of the linear command).

Other thoughts....this is not really a huge priority for us

[2013-08-20 01:39] stonier commented on #229
Move this library into the kobuki driver package when I do the stack split #232.

[2013-08-20 01:43] stonier commented on #253
Leave this in for now - let's just make sure it gets exposed as decently as possible.

[2013-08-20 01:43] #253 closed, assigned to nobody

[2013-08-20 01:53] stonier commented on #218
Not critical for us right now. We'd like to investigate this more properly.

https://github.com/yujinrobot/yujin_ocs/issues/12

[2013-08-20 01:53] #218 closed, assigned to nobody

[2013-08-20 01:54] stonier commented on #215
Currently hardcoded at 5seconds.

[2013-08-20 01:58] stonier commented on #215
Parameterising it actually won't help the user as it just loops.

He needs to make the info slot to get recognition.

No user needs this immediately, so dropping for now.

[2013-08-20 01:58] #215 closed, assigned to nobody

[2013-08-20 01:58] stonier commented on #202
See also #249

[2013-08-20 01:59] stonier commented on #202
Jorge has new wheel designs, we'll initiate integrating them into the factory builds. Once that starts, we'll close this.

[2013-08-20 02:00] stonier commented on #198
Marcus wll check this is actually going on.

[2013-08-20 02:04] stonier commented on #197
Doing over in desktop.

[2013-08-20 02:04] #197 closed, assigned to stonier

[2013-08-20 02:05] stonier commented on #193
If this is more than 10mins of work Einstein, drop it, otherwise do it with the PID changes.

[2013-08-20 02:08] stonier commented on #182
Ah, i get it....pressing button and turning on at the same time (usually when moving).

[2013-08-20 02:11] stonier commented on #179
Haven't seen this for ages so closing. Reopen if necessary.

[2013-08-20 02:11] #179 closed, assigned to nobody

[2013-08-20 02:13] stonier commented on #174
I think this has been fixed by some firmware updates and packet validation issue above.

Reopen if necessary.

[2013-08-20 02:13] #174 closed, assigned to nobody

[2013-08-20 02:17] stonier commented on #172
Conclusions - PushAndPop should provide some warning when it's overwriting old data.

Practically, it needs a large enough buffer size for the driver to work with so that tdoesn't happen often.

Leave the warning flag for later. We have notes about this now here that is sufficient.

[2013-08-20 02:17] #172 closed, assigned to nobody

[2013-08-20 02:25] stonier opened #281 "Doxygen Update Script/Docs"
Convenient script for uploading our doxygen to github.

Or at the very least...document the process somewhere!

[2013-08-20 06:27] stonier commented on #247
Actually not really sure what issue this is - whether it is soft kobuki, kobuki, publisher or rviz issue.

[2013-08-20 09:22] #271 closed, assigned to bit-pirate

[2013-08-20 10:15] jakan2 commented on #182
HJ will publish the ecn to factory.
I will ask on Friday

[2013-08-20 10:15] corot commented on #274
I was right, reset odometry (encoders) is reseted properly, but rotation (imu) remains. The position drifts with time because it gets accumulated in the robot_pose_ekf filter.

So I will first remove robot_pose_ekf (https://github.com/yujinrobot/yujin_ocs/issues/7) and then solve this will be  easier.

[2013-08-21 06:00] #274 closed, assigned to nobody

[2013-08-21 09:37] bit-pirate commented on #198
Just tested it again and looks good. Also, Jorge was using it extensively during the ROCON cafe demo.

[2013-08-21 09:37] #198 closed, assigned to bit-pirate

[2013-08-22 00:07] jakan2 commented on #182
Process done.
Next product will have valid touch button

[2013-08-22 00:07] #182 closed, assigned to jakan2

[2013-08-22 07:08] yhju commented on #246
Resolved by 1c141a54fb2c0e2ec453b32f8026d1cd0ffb14d9

[2013-08-22 07:08] #246 closed, assigned to nobody

[2013-08-22 08:42] #240 closed, assigned to stonier

[2013-08-22 11:17] yhju commented on #280
I checked both firmware and hardware, and confirmed that correct order is `3.3V`, `5.0V`, `12V@5A`, `12V@1.5A`.

[2013-08-22 11:26] yhju commented on #280
Typo corrected by 54f8d0964a51e9c9119a6e7b6f8b02b660884e0a.

Need to contact Ryan for discussion about `3.3V`, `5.0V` order.

[2013-08-22 12:18] stonier commented on #280
Check the hardware result of turning on those relays.  Maybe wires are crossed.

[2013-08-22 12:27] yhju commented on #280
Hardware also doubly checked.

[2013-08-22 12:50] stonier commented on #280
Ok, good. Just cc'd you to the email thread. You can talk to him there.
On Aug 22, 2013 9:27 PM, "Younghun Ju" notifications@github.com wrote:

[2013-08-23 04:49] bit-pirate commented on #192
- For kobuki_node minimal.launch + params should be enough.
- Standalone launcher for kobuki_controller_tutorial added.

[2013-08-23 05:18] bit-pirate commented on #192
@stonier is the kobuki_testsuite supposed to be launched alone or incombination with the kobuki_node?
The launcher in there looks a bit outdated (e.g. contains turtlebot comments).

[2013-08-23 06:32] yhju commented on #281
Done by eeddc544689338113a4420e0ed7c6e8a2fa15b27 and dc130acc87a2a04fcd5c09fe6043c7dda7f70432.
First Automated Update : a4425e3266f2b89d2c05a679e1279770dea6e72e

[2013-08-23 06:32] #281 closed, assigned to nobody

[2013-08-23 09:38] stonier commented on #192
Probably delete those launchers - they're not official and not documented anywhere. Currently their main purpose is for use by kobuki_qtestsuite.

[2013-08-23 10:00] bit-pirate opened #285 "Add bugtracker and repo info to package.xml"
URL info like below is now parsed on the ROS wiki.

[code]

http://www.ros.org/wiki/moveit_ros?distro=hydro

Let's add this information to our packages as well.
- [x] kobuki
- [x] kobuki_arm
- [x] kobuki_auto_docking
- [x] kobuki_bumper_2_pc
- [x] kobuki_controller_tutorial
- [x] kobuki_description
- [x] kobuki_driver
- [x] kobuki_ftdi
- [x] kobuki_keyop
- [x] kobuki_node
- [x] kobuki_safety_contr

[2013-08-23 10:05] bit-pirate commented on #192
@yhju is using this launcher. So I just removed the turtlebot stuff in the comments.
I also added a readme to point out that this package is mainly used by kobuki_qtestsuite. Hence, I added no standalone launcher.

[2013-08-23 10:05] bit-pirate commented on #192
All done now.

[2013-08-23 10:05] #192 closed, assigned to bit-pirate

[2013-08-23 10:19] bit-pirate commented on #285
Thanks @yhju !

[2013-08-23 10:19] #285 closed, assigned to bit-pirate

[2013-08-24 02:53] corot commented on #285
Let's do everywhere...
did it

[2013-08-26 04:27] yhju opened #287 "Not to be confused with mayor."
https://github.com/yujinrobot/kobuki/blob/hydro-devel/kobuki_driver/include/kobuki_driver/packets/firmware.hpp#L118

[2013-08-26 05:31] bit-pirate commented on #287
mayor? major? :-)

[2013-08-26 05:55] yhju commented on #287
It should be major, right?

[2013-08-26 07:20] yhju commented on #287
Done by d5fda9ffd9782f94a65ddf7346778300416ef87e and d5fda9ffd9782f94a65ddf7346778300416ef87e.

[2013-08-26 07:20] #287 closed, assigned to nobody

[2013-08-26 07:21] yhju commented on #245
Done by 4648538d54ff58952d8124f6e3f953c76a181416.

[2013-08-29 04:57] corot opened #289 "Bump minor version on driver and increase the current firmware version"
Due to issue #249.

CURRENT_FIRMWARE_MINOR_VERSION changes to 2.

This will make a warning log advising to update firmware at driver startup.

[2013-08-29 04:58] yhju commented on #249
updating firmware protocol documentation remains.

[2013-08-29 05:01] corot commented on #249
Also we need to check that firmware's minor version is >= 2. If not, show a warning with the Kobuki firmware updates URL.

if (firmware.check_minor_version() < 0) ....

[2013-08-29 05:03] corot commented on #249
And add the same message in the wiki!

[2013-08-29 06:10] yhju commented on #245
found another place for improvements

[2013-08-29 08:45] corot commented on #289
Confirm that issue #249 is ok....

[2013-08-29 08:58] stonier commented on #289
Just confirming...

This will advise on startup but not stop the program (i.e. just ROS_INFO/ROS_WARN or something?).

Was this the behaviour of existing code?

[2013-08-29 09:08] corot commented on #289
As you said, you will see this warning:

[code]

[2013-08-29 09:10] corot commented on #289
But I will add an specific message in case you call set/get PID methods

[2013-08-29 09:25] stonier commented on #289
Ah...we did good!

[2013-08-29 09:37] stonier commented on #249
Also add notes on the wiki and in the doxygen specifying what the default values are so people have a reference point for experimentation.

[2013-08-29 11:27] yhju commented on #249
Factory default value of PID gains added on doxygen by 3a0bf5e8a17bf82acbd70d14258961e52727216c.
ROS wiki is not editable yet.

[2013-08-29 11:30] yhju commented on #249
Version of updated firmware is 1.2.0. It is not released yet on [http://files.yujinrobot.com/kobuki/firmware](http://files.yujinrobot.com/kobuki/firmware).

[2013-08-29 11:30] yhju commented on #245
Done.

[2013-08-29 11:30] #245 closed, assigned to nobody

[2013-08-29 12:06] stonier commented on #245
This a relatively large commit - can you briefly explain what you did here?

Was there also a second commit? If so, link it.

[2013-08-29 14:16] stonier opened #297 "Drop kobuki_arm?"
We don't use it, it's unmaintained, has no documentation and doesn't get tested.

[2013-08-29 14:37] bit-pirate commented on #297
Yes. Reintroduce it, when we start using it.

[2013-08-29 15:20] stonier commented on #229
https://github.com/yujinrobot/kobuki_core/commit/4f41ae0bff266cbb127e1fb04923c59c0ea2645e

[2013-08-29 15:20] #229 closed, assigned to stonier

[2013-08-29 15:22] stonier commented on #232
And over in kobuki_core: https://github.com/yujinrobot/kobuki_core/commit/4f41ae0bff266cbb127e1fb04923c59c0ea2645e

[2013-08-29 15:23] #297 closed, assigned to nobody

[2013-08-29 15:27] stonier commented on #232
- [x] divide kobuki and kobuki_core
- [x] split auto_docking
- [] roswiki installation tutorial
- [x] compile from sources doxygen
- [] fix doxygen upload (probably messed up by kobuki_core now)
- [x] rosdistro updates

[2013-08-29 16:16] stonier commented on #232
https://github.com/yujinrobot/kobuki_core/commit/cfe21463f9f5029f399b4b9929187ff9fb890458 - the kobuki linux sources installation doxygen.

[2013-08-29 16:17] stonier commented on #232
Don't actually have win instructions, just give them a zip. Not going to worry about a hydro zip for them yet as Mr Choes is not ready.

[2013-08-29 16:54] stonier commented on #232
Tagged rosinstall for sources builds: https://github.com/yujinrobot/kobuki_core/commit/0f8b9d9e291f41ba112b91b1871b1d31a37bd5d2

[2013-08-29 16:54] stonier commented on #232
Rosdistro pull request here: https://github.com/ros/rosdistro/pull/1908

If that actually works through, then kobuki-release needs bloom run on it.

[2013-08-30 00:25] yhju commented on #245
All related commits are already listed in this page.

9 month ago, I added length field in sub-payload of protocol for compatibility among various firmware - driver pairs. Issue #168.

But, driver was not actually using it in packet validation. There was also no actual exception handling on validation failure, when packet class return false on [deserialize call](https://github.com/yujinrobot/kobuk

[2013-08-30 00:39] yhju commented on #249
firmware released, changelog also updated.

[2013-08-30 01:18] stonier commented on #232
A few bingles with travis and rosdistro, but now both are bloomed.

[2013-08-30 01:18] #232 closed, assigned to stonier

[2013-08-30 01:51] bit-pirate opened #298 "Reenable vertical rays for cliff sensor when Gazebo bug is resolved"
This is the pending Gazebo ticket for this vertical ray sensor bug: https://bitbucket.org/osrf/gazebo/issue/509/vertical-sensor-doesnt-works

Reenable the vertical rays for the cliff sensors in Kobuki's Gazebo description once this bug is resolved.

[2013-08-30 03:27] stonier opened #299 "Simplified Licensing"
Still install a license with each package, but in the code we typically reference a url for the license in the header of that cpp/hpp/py file. At the moment this is painful as its referencing a moving branch (e.g. hydro-devel).

To fix this, create a 'license' branch, dump a copy of the license for the stack there and get all url's to point to a raw copy of that.

[2013-08-30 03:59] bit-pirate commented on #299
Move this to TODO?

[2013-08-30 04:02] stonier commented on #245
Ok, thanks.

Do we need to test this thoroughly next week or have you been using it for a while?

[2013-08-30 04:41] yhju opened #300 "Strange parameter with kobuki_node minimal.launch"
[code]

Caused by https://github.com/yujinrobot/kobuki/blob/hydro-devel/kobuki_node/param/base.yaml#L25

[2013-08-30 04:51] yhju opened #301 "kobuki homepage url broken"
9797e61f72a55e5517237fc49d8702f2dd37c17c

from: http://kobuki.yujinrobot.com/documentation/howtos/upgrading-firmware
to: http://kobuki.yujinrobot.com/home-en/documentation/howtos/upgrading-firmware/

[2013-08-30 04:57] yhju commented on #249
roswiki also updated on http://wiki.ros.osuosl.org/kobuki_node/hydro

[2013-08-30 04:57] #249 closed, assigned to jakan2

[2013-08-30 05:19] yhju commented on #245
It is very recent commit, and I tested it shortly. We need some test.

[2013-08-30 05:28] yhju commented on #301
moved to https://github.com/yujinrobot/kobuki_core/issues/1

[2013-08-30 05:28] #301 closed, assigned to nobody

[2013-08-30 08:42] #289 closed, assigned to nobody

[2013-08-30 08:45] #300 closed, assigned to nobody

[2013-08-30 08:48] corot opened #302 "Update firmware URL is broken after introducing multilanguage"
Real URL now is http://kobuki.yujinrobot.com/home-en/documentation/howtos/upgrading-firmware instead of
http://kobuki.yujinrobot.com/documentation/howtos/upgrading-firmware

[2013-08-30 08:57] corot commented on #302
Babo...  its a kobuki_core issue....

https://github.com/yujinrobot/kobuki_core/commit/bfc0c72db76f95f9102797a8a24b2c80bf950ee7

[2013-08-30 08:57] #302 closed, assigned to nobody

[2013-08-30 09:07] jakan2 commented on #193
A new firmware already includes this function.
Close

[2013-08-30 09:07] #193 closed, assigned to jakan2

[2013-08-30 17:34] wjwwood opened #303 "Build failure for `kobuki_node` on the ROS build farm for Hydro"
( http://jenkins.ros.org/view/HbinP32/job/ros-hydro-kobuki-node_binarydeb_precise_i386/19/console ):

[code]

[2013-08-30 17:36] wjwwood commented on #303
Normally I wouldn't field issues like this, but we are trying to get a sync in soon and this is currently a regression.

[2013-08-31 09:43] stonier commented on #245
I would prefer not to have critical driver functionality updates going in the day before a major release without any testing.

Would have been better more than a week ago, or delayed until some decent testing on it saw it through. We'll manage this time, but please be a bit more careful before a major product release next time.

[2013-08-31 13:14] stonier commented on #268
Duplicate.

[2013-08-31 13:14] #268 closed, assigned to stonier

[2013-08-31 13:17] stonier commented on #243
Moved to https://github.com/yujinrobot/kobuki_core/issues/4

[2013-08-31 13:17] #243 closed, assigned to stonier

[2013-08-31 13:20] stonier commented on #217
Moved to https://github.com/yujinrobot/kobuki_core/issues/5.

[2013-08-31 13:20] #217 closed, assigned to nobody

[2013-08-31 13:21] stonier commented on #237
Moved to https://github.com/yujinrobot/kobuki_core/issues/6

[2013-08-31 13:21] #237 closed, assigned to nobody

[2013-08-31 13:24] stonier commented on #230
Moved to https://github.com/yujinrobot/kobuki_core/issues/7

[2013-08-31 13:24] #230 closed, assigned to nobody

[2013-08-31 13:25] stonier commented on #216
Moved to https://github.com/yujinrobot/kobuki_core/issues/8

[2013-08-31 13:25] #216 closed, assigned to nobody

[2013-08-31 13:26] stonier commented on #280
Closing this one for now - we've checked to our satisfaction and can't find a problem. If Ryan has more information that we missed, reopen it in kobuki_core.

[2013-08-31 13:26] #280 closed, assigned to nobody

[2013-09-01 23:18] bit-pirate commented on #303
Kobuki packages are all green on the server. So, I guess this one has been solved. Reopen, if I'm wrong.

[2013-09-02 01:40] stonier commented on #303
Tully rolled us back to 0.5.2 and that is what is working. The failure was for the 0.5.3 release so we need to try that again post wednesday.

[2013-09-13 02:43] corot commented on #202
We have pulled our distributors for feedback on the new wheels design:
- Reduce the size from 33.7 to 31 mm
- Use a more polished surface

With these wheels, the robot behavior is quite satisfactory, both solving the described problem and in normal operation. You can reproduce the new configuration by 3D-printing the models we used for testing. The STL files include only the finally chosen size, b

[2013-09-16 13:28] redheli opened #304 "Kobuki : initialisation failed [/mobile_base]"
Hi,

   I have a turtlebot2-kobuki with Acer Aspire One laptop.
   and installed ubuntu 12.04 in laptop.
when I run " roslaunch kobuki_node minimal.launch" , no error info.  but no data publish by kobuki node.
   when try to kill the process,ctrl+c, get error info:
[ERROR] [1379337100.557846797]: Kobuki : initialisation failed [/mobile_base].
[ERROR] [1379337100.558034818]: Kobuki : could not init

[2013-09-16 23:14] bit-pirate commented on #304
Hi redheli!
Usage questions and issues like this are better asked on ROS Answers. Once we know, there is specific bug, feel  free to post it here. Could you ask your question again on ROS Answers? Please also add what code you use - ROS distro, debs or source - and if you are running a 32 or 64bit system. And last, but not least, please post the log ouput shown when using the `--screen` option for

[2013-09-16 23:14] #304 closed, assigned to nobody

[2013-10-09 08:59] stonier commented on #303
We are now on 0.5.4 on the build farm.

[2013-10-09 08:59] #303 closed, assigned to nobody

[2013-10-09 09:00] stonier opened #305 "Kobuki node dependency, kobuki_ftdi"
It's not a compile dependency, nor a runtime dependency. But it's turning out to be a pain in the ass setup dependency. Everyone installs ros-hydro-turtlebot, which then causes a problem for people setting up the udev rule.

[2013-10-09 09:01] #305 closed, assigned to nobody

[2013-10-09 23:52] corot commented on #305
Definitely better.  I update the installation tutorial accordingly.

[2013-10-09 23:58] bit-pirate commented on #305
Maybe a comment in the package.xml explaining the reason of it being there
would be good - since we all lack of enough long-term memory...

2013/10/10 corot notifications@github.com

##

Marcus Liebhardt
Adresse: Zimmer 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republik
Korea
Address: Room 403, 634-1 Seongsan-dong, Mapo-gu, 121-846, Seoul, Republic
of Korea
주소: 대한민국 서울특별시 121-846 마포구 634-

[2013-10-18 21:13] tlau commented on #202
We have a similar problem here with a Kobuki base that can't turn reliably on our floor due to wheel slippage. It's a fake wood laminate floor, very smooth to the touch, but with ridges at the joins where the planks fit together. We've tried wrapping rubber bands around the wheels to increase traction, which works for a little while until the bands slip off. By looking carefully at the wheels whil

[2013-10-19 16:04] stonier commented on #202
Tesse, if you have access to decent 3d printing, those stl files can make you some compatible wheels which provide a bit more leeway between front and back so when under a heavy load the passive wheels don't create so much friction. This also gives traction back to the main drive wheels.

Jorge, is there anything about the 3d material used?

[2013-10-19 17:17] adamantivm commented on #202
This is very interesting. We've been suffering from this skidding problem for over a year now and it makes all of our Kubuki-based prototypes and demos really hard.

We have a 3d printer available in-house, not sure if it will be enough but we can try.

Any specifics about what kind of print is necessary? Would this work on PLA, 0.35mm nozzle? Any requirement on infill proportions?

[2013-10-19 17:25] adamantivm commented on #202
Just to be completely sure, each STL is half of a caster wheel, right?

[2013-10-19 17:32] stonier commented on #202
Yeah, they are halves. But not of a caster wheel. It's just a passive roller.

Big problem is the robot itself has alot of flex. Put alot of weight on the robot and suddenly the passive rollers take alot of pressure which reduces the traction the big wheels can get.

Jorge did a ridiculous amount of testing to find the best wheel clearances for a default turtlebot which makes up part of our soluti

[2013-10-22 01:39] corot commented on #202
Hi, we use a 0.036 nozzle. Not sure if a 0.35 will work. I think you can just try. Over material, we use liquid plastic, but we noticed that material and shape are not the key factors; the important is the size.

Please tell as the results you obtain! Thanks

[2013-11-07 09:40] bit-pirate opened #306 "Move odom to states/odom"
We use categories/namespaces like commands and sensors, but for odom we don't use anything.

What about using "states", i.e. `/mobile_base/odom` -> `/mobile_base/states/odom`

[2013-11-07 11:46] corot commented on #306
That's the same discussion I had with Daniel eons ego. As I had enough for
today, I'll not back you this time.

2013/11/7 Marcus Liebhardt notifications@github.com

[2013-11-07 13:54] bit-pirate commented on #306
:crying_cat_face:

[2013-11-21 07:54] jihoonl opened #307 "create stable hydro branch"
Create hydro branch for stable release. Use hydro-devel as experimental branch
- [x] kobuki_desktop
- [x] kobuki
- [x] yocs_msgs
- [x] yujin_ocs
- [x] kobuki_msgs
- [x] kobuki_core
- [x] kobuki
- [x] wiki update
- [x] rosdistro/doc.yaml
- [x] rosdistro/source.yaml
- [x] rosinstall file

[2013-11-21 07:55] jihoonl commented on #307
https://github.com/turtlebot/turtlebot/issues/118

[2013-11-21 08:03] jihoonl commented on #307
- [x] kobuki_core has rosinstall.
- [x] kobuki_soft

[2013-11-21 08:22] #307 closed, assigned to nobody

[2013-11-25 02:01] jihoonl opened #308 "dock_ir_link in robot description"
I just noticed that dock ir data(/mobile_base/sensors/dock_ir) is published with dock_ir_link frame id.

But kobuki robot_description does not provide dock_ir_link.

Does anybody know about it?

[2013-11-25 04:14] corot commented on #308
dock_ir information only tell you in which region you are, so a reference frame has no meaning. You can happily ignore it.

[2013-11-25 09:39] bit-pirate commented on #262
What does the solution look like? Is there a plan for it being released?

[2013-11-26 03:25] jihoonl commented on #262
The configuration patch which @corot made would be sufficient for this issue.

Do you have expected feature besides the configurable minimum speed patch?

[2013-11-26 04:10] bit-pirate commented on #262
Please link to the patch and/or issue in order to allow others to read about what has been implemented. Thanks!

[2013-11-26 04:25] jihoonl commented on #262
please see the ref-ed commit above.

[2013-11-26 04:42] corot commented on #262
I think we can keep this closed until we make a full review of our algorithm, which is far from being perfect.

As we will use it in the incoming demos, probably this gonna happen quite soon.

[2013-11-26 04:53] corot commented on #262
Confirmed that it is released on Hydro.

[2013-11-26 04:53] #262 closed, assigned to nobody

[2013-11-26 05:20] bit-pirate commented on #262
To clarify this a bit. The current version is sufficient for our needs. If other issues are found or further requirements exist, please open new issues here.

[2013-11-27 00:04] jihoonl opened #309 "improve auto dock behavior"
The current auto docking algorithms make the initial spin to detect even if the docking station is right in front of the robot. We would like to avoid this initial spin as much as we can.

[2013-11-27 06:54] corot commented on #202
We have incorporated the new design in the factory process, so the next production round will incorporate them.
Tully, thanks for reporting and investigating this problem.

[2013-11-27 06:54] #202 closed, assigned to nobody

[2013-12-04 00:35] jihoonl commented on #309
Some refactoring job is finished to prepare future upgrades. more descriptive states. Restructuring state transition.

There isn't big algorithmic improvement though.

[2013-12-05 01:24] stonier commented on #309
Did it remove the initial spin problem you identified?

[2013-12-05 03:47] jihoonl commented on #309
Ah I couldn't remove the initial spin. It is necessary to locate the dock. However, it does less spin than before. I will leave this issue open until the result seems significantly improved.

[2013-12-05 06:44] stonier commented on #309
What kind of improvement?

Does it use an educated guess to locate the dock? i.e. if it knows where it is on the map and where the dock should be....

[2013-12-05 09:40] jihoonl commented on #309
It is pure IR-based docking algorithm improvements. I restructured the code and changed some state machines to work better if robot is near dock station.

AR marker based docking algorithm for demo is different.  Since @corot's awesome waiterbot logic locates the robot in front of dock, I didn't see the reason to implement the ar based docking algorithm yet.

[2013-12-05 23:19] stonier commented on #309
Was just wondering if you could seed the docking algorithm with an initial relative pose (just like you do the navi stack). That seed could come from ar marker relative poses, amcl/annotation localisation calculations...

And if there's no seed, it could fall back to it's dizzy blonde spin behaviour.

[2013-12-06 04:49] jihoonl commented on #309
ah.. I didn't think of providing a seed to the algorithm. It is definitely helpful to avoid initial spin. I will consider it as future improvement.

[2013-12-06 04:50] jihoonl opened #311 "seed docking algorithm with initial dock's relative pose"
https://github.com/yujinrobot/kobuki/issues/309

[2013-12-06 08:04] stonier commented on #309
Ok, closing this issue for now.

[2013-12-06 08:04] #309 closed, assigned to nobody

[2013-12-09 06:36] bit-pirate opened #312 "Add capabilites support"

[2013-12-09 14:48] pirobot opened #314 "Soft Kobuki moves through walls on map when using nav_demo.launch"
I am trying the Kobuki [nav_demo.launch](http://wiki.ros.org/kobuki/Tutorials/Simulated%20Kobuki%20navigation%20in%20perfect%20world) under ROS Hydro (Debian install) and Ubuntu 12.04.  If I set a 2d Nav Goal in RViz around a corner with the robot starting close to a wall, the robot actually cuts across the corner and passes right through the walls.  The green path indicating the planned route goe

[2013-12-10 04:27] bit-pirate opened #315 "Move visualisation-related code to kobuki_desktop"
Daniel just noticed, we still have visualisation launchers for tests in `kobuki_node` (see PR #313). Those launchers however bring in the heavy rviz dependency. Move those launchers out into a separate package in the kobuki_desktop repo (just as we did for TB).

Don't forget to remove the rviz dependency for kobuki_node: https://github.com/yujinrobot/kobuki/blob/hydro/kobuki_node/package.xml#L77

[2013-12-10 07:57] #315 closed, assigned to nobody

[2013-12-11 00:48] jihoonl commented on #314
Soft kobuki node does not simulate any kind of sensors attached on real kobuk. It only simulates the motor odometry.
So cutting through the wall is expected behavior unless we tune the navi stack parameters. :)

If you would like to use simulated kobuki with collision aware, I would recommend to use kobuki gazebo.

http://wiki.ros.org/kobuki_gazebo?distro=hydro

[2013-12-11 01:39] #314 closed, assigned to nobody

[2013-12-24 01:34] stonier opened #317 "Move messages out of kobuki_testsuite into kobuki_messages"

[2014-03-03 11:18] fuesschen opened #319 "Wrong scope for enum in auto_docking_ros.cpp"
"RobotDockingState::DONE" is used which must be "DockDrive::DONE" in line 142

[2014-03-03 23:36] jihoonl commented on #319
auto docking algorithm has been changed from hydro branch to hydro-devel branch.

DockDrive states are in hydro branch and RobotDockingState states are in hydro-devel. You might want to make both kobuki_core and kobuki branch hydro or hydro-devel for compatible implementation.

[2014-03-06 11:08] mstaflex opened #321 "[hydro-devel] kobuki.rosinstall refers to incorrect groovy distribution (in the manual notes)"
I was using the kobuki.rosinstall files under the hydro-devel branch and the manual notes in the header of that file (for dependencies) refer to the groovy dist.

[2014-03-07 10:35] bit-pirate commented on #321
Thanks for notifying us!

[2014-03-10 02:26] #321 closed, assigned to nobody

[2014-03-11 07:13] #319 closed, assigned to nobody

[2014-04-21 06:32] bit-pirate opened #324 "Kobuki nodelet can hang in shutdown"
Usually we start the Kobuki nodelet with the nodelet manager as the lowest layer. Killing both the Kobuki nodelet and its nodelet manager at the same time works w/o a problem.

However, if the nodelet only is shutdown it hangs in the shutdown sequence.

[2014-05-20 06:21] #324 closed, assigned to bit-pirate

[2014-05-21 03:21] bit-pirate opened #326 "Re-release with new bloom"
There is an issue with optimisation and debug flags not set, when doing release with an old bloom version (<0.5.8) for Quantal, Raring and Trusty for both Hydro and Indigo.

Whenever convenient we should do a re-release of all Kobuki packages for Hydro and Indigo.

Details here: http://lists.ros.org/pipermail/ros-users/2014-May/068657.html

[2014-05-23 06:08] jihoonl commented on #326
done

[2014-05-23 06:08] #326 closed, assigned to nobody

[2014-06-11 15:49] koenlek opened #328 "Gazebo simulates perfect odometry for the kobuki base"
I found that the odometry information published on the /odom topic by Gazebo provides perfect odometry information. This can be easily verified by setting gmapping to fully rely on odometry. Just set these gmapping parameters (e.g. change them in turtlebot_navigation/launch/includes/gmapping.launch.xml):

sigma = 0
linearUpdate = 10000
angularUpdate = 10000
srr =0
srt = 0
str = 0
stt = 0

If you n

[2014-06-27 02:10] bit-pirate commented on #328
Good comment. The odometry should contain some error as it would be in real life. I remember parameters being used to specify how bad odometry should be.

Not sure though, when anyone here gets around looking deeper into this issue. A PR from your side would be highly appreciated! :smile:

[2014-07-01 08:26] koenlek commented on #328
I might have a look at a PR at some point, but that will likely not be before mid August.

[2014-07-10 00:43] jihoonl opened #329 "indigo release"
What would be remain jobs?

[2014-07-10 08:03] stonier commented on #329
- Making sure capabilities is in exactly the right shape for turtlebot
- gazebo?

[2014-07-17 05:36] jihoonl commented on #329
How do I check whether capabilities are in the right shape?

[2014-07-17 05:41] jihoonl commented on #308
Ok.

[2014-07-17 05:41] #308 closed, assigned to jihoonl

[2014-07-17 05:49] jihoonl commented on #329
Confirmed that gazebo works fine. @stonier might want to review [this PR](https://github.com/yujinrobot/kobuki_desktop/pull/30) in kobuki_desktop

[2014-07-23 20:17] dirk-thomas opened #330 "Indigo doc job is failing"
http://jenkins.ros.org/view/Idoc/job/doc-indigo-kobuki/4/console seems to fail due to circular dependencies.

[2014-07-24 02:16] jihoonl commented on #330
Do you have any suggestion to find which packages are involved in circular dependencies? I was trying to read all the packages dependency list but it seems to take too long time to find out..

[2014-07-24 15:27] stonier commented on #330
On 24 Jul 2014 11:16, "Jihoon Lee" notifications@github.com wrote:

Its a rosdep thing so try moving the base /opt/ros directory somewhere
temporarily, lay down a kobuki repo only source workspace and play with
rosdep.

Be nice to have a little more info from the report  but shouldnt be too
hard to discover.

[2014-07-24 16:22] dirk-thomas commented on #330
The buildfarm now (https://github.com/ros-infrastructure/jenkins_scripts/commit/97a844da10ef77455977df902db71be0e6b77aa9) prints the used dependencies in case of that error: http://jenkins.ros.org/view/Idoc/job/doc-indigo-kobuki/7/console

[2014-07-24 16:27] stonier commented on #330
Awesome Dirk.

Looks like kobuki node<->kobuki capabilities is your problem Jihoon.

Daniel.

On 25 July 2014 01:22, Dirk Thomas notifications@github.com wrote:

##

Phone : +82-10-5400-3296 (010-5400-3296)
Home: http://snorriheim.dnsdojo.com/
Yujin R&D: http://rnd.yujinrobot.com/

[2014-07-24 23:23] jihoonl opened #331 "kobuki_node and kobuki_capabilities circular dependency"
#330 detected circular dependency between `kobuki_node` and `kobuki_capabilities`

[2014-07-24 23:24] jihoonl commented on #330
Thanks @dirk-thomas. The circular dependency issue will continue on #331

[2014-07-24 23:24] #330 closed, assigned to nobody

[2014-07-24 23:28] jihoonl commented on #331
Both packages have launch file which reference each other.
- app_manager_with_capabilities.launch in `kobuki_node` uses kobuki_capabilities package.
- kobuki_bringup provider in `kobuki_capabilities` uses `kobuki_node` params and nodelet.

[2014-07-29 03:56] KaijenHsiao opened #332 ""no events" pointcloud in kobuki_bumper2pc.cpp causes dropped events"
Using the pointcloud from kobuki_bumper2pc in my voxel layer today, I found that sometimes, no obstacle was being added to my global costmap.  Looking more closely into the point cloud that was being generated, I saw this:
[ INFO] [1406601457.191044109]: got a point cloud
[ INFO] [1406601457.191304917]: point 0 is 34.202 93.969 0.040
[ INFO] [1406601457.191356060]: point 1 is 0.400 0.000 0.040
[ I

[2014-08-04 12:21] jihoonl commented on #329
_Release list_
- [x] kobuki_msgs
- [x] kobuki_core
- [x] kobuki
- [x] kobuki_desktop
- [x] kobuki_soft

[2014-08-04 12:22] jihoonl commented on #329
1. Releasing kobuki_msgs, kobuki_core first.
2. Release kobuki after resolving kobuki_capabilities issue.
3. Release kobuki_desktop after checking gazebo.

[2014-08-04 12:49] jihoonl commented on #329
@bit-pirate Can you check whether capabilities are correctly set? We need to resolve #331 as well.

[2014-08-05 00:34] bit-pirate commented on #329
I have updates to the kobuki capabilities, which I initially intended to merge into hydro-devel. Should I do that and you later pull those changes into indigo or shall I create the PR against indigo right away?

[2014-08-05 01:14] jihoonl commented on #329
We plan to sync hydro-devel and indigo for a while. Merge changes into hydro-devel and let me know. I hope the change also fixes circular dependency described in #331

[2014-08-05 07:28] corot commented on #332
Hi, kobuki_bumper2pc is intended to integrate the bumpers on navi stack (that is, reflect bumper contacts on costmaps_2d). And it's very simple: it just listen for bumpers state and, if a bumper is pressed, it publish the point near the robot, and if it's not pressed, it publish a faraway point so the costmaps using bumper data can be cleaned. So as you pointed, you can tweak the costmaps params t

[2014-08-05 07:56] KaijenHsiao commented on #332
I guess my question is, is the "no events" message even necessary?  Under what circumstances would someone want to use it?  If it is not needed, removing it would eliminate the problem described.

[2014-08-05 08:09] corot commented on #332
I think yes, because if not bumpers cannot clear the costmap. But I recognize that is not clear at all why a bumper should clear the costmap. I invite you to change the code to include a flag to disable "no events" messages and play around to see if it has a negative impact not removing the bumper hits from the costmaps.

But in the long rung, I think that the right solution is to replace this pac

[2014-08-07 08:53] bit-pirate commented on #331
Looks like we need to do sth with `app_manager_with_capabilities.launch`

Don't want to drop it, since the auto docking and random walker app runs with just Kobuki + rapp platform. So, I'll move that launcher to the capabilities package.

Any better idea?

[2014-08-07 09:04] bit-pirate commented on #331
This solution is now part of PR #334.

[2014-08-07 23:51] jihoonl opened #335 "Update kobuki rapps to use relative path to find resource"
As https://github.com/robotics-in-concert/rocon_app_platform/pull/252 merges.

And as follower for #334

[2014-08-08 00:43] jihoonl commented on #331
https://github.com/yujinrobot/kobuki/commit/f95c3847d97fba46b6317e00ffd78ce352ec376f should have fixed the problem

[2014-08-08 00:43] #331 closed, assigned to bit-pirate

[2014-08-08 01:30] bit-pirate commented on #331
Aish, "solves" is not a valid keyword. "resolves" it should have been... :-)

https://help.github.com/articles/closing-issues-via-commit-messages

[2014-08-08 05:02] jihoonl opened #336 "rename kobuki_app as kobuki_rapp"
To follow name convention on turtlebot.